http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?page=1&pageSize=1&selected=unit.unitId&personEmail=noreply%40laji.fi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2441241,"pageSize":1,"total":2441241,"cacheTimestamp":1684835486,"results":[{"unit":{"unitId":"http://tun.fi/JX.298017#3"}}]}'
  recorded_at: 2023-05-23 09:51:26 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
