http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?page=1&pageSize=1&selected=unit.unitId&personEmail=noreply%40laji.fi&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4701848,"pageSize":1,"total":4701848,"results":[{"unit":{"unitId":"http://tun.fi/JX.196087#4"}}]}'
  recorded_at: 2021-04-14 07:55:30 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
