http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?page=1&pageSize=1&selected=unit.unitId&personEmail=noreply%40laji.fi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":3242681,"pageSize":1,"total":3242681,"cacheTimestamp":1714030364,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"}}]}'
  recorded_at: 2024-04-25 07:32:44 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
