http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?page=1&pageSize=1&selected=unit.unitId&personEmail=noreply%40laji.fi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":47879194,"pageSize":1,"total":47879194,"cacheTimestamp":1693211600,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/180568359-U"}}]}'
  recorded_at: 2023-08-28 08:33:20 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
