http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?page=1&pageSize=1&selected=not_a_var&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"status":400,"message":"No such field for base UNIT: not_a_var"}'
  recorded_at: 2022-11-24 08:15:50 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?format=xml&page=1&pageSize=1&selected=unit.unitId&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml;charset=utf-8
    body:
      encoding: ''
      file: no
      string: <response><currentPage>1</currentPage><nextPage>2</nextPage><lastPage>44914345</lastPage><pageSize>1</pageSize><total>44914345</total><results><unit><unitId>http://tun.fi/JX.1507677#3</unitId></unit></results></response>
  recorded_at: 2022-11-24 08:15:50 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
