http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.atlasClassEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1da-O4PiGbz5QaktZVvPLLE8glnSJl8"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.atlasClassEnumA","value":{"en":"Unlikely breeding","fi":"Epätodennäköinen
        pesintä","sv":"Osannolik häckning"}},{"id":"MY.atlasClassEnumB","value":{"en":"Possible
        breeding","fi":"Mahdollinen pesintä","sv":"Möjlig häckning"}},{"id":"MY.atlasClassEnumC","value":{"fi":"Todennäköinen
        pesintä","en":"Probable breeding","sv":"Sannolik häckning"}},{"id":"MY.atlasClassEnumD","value":{"fi":"Varma
        pesintä","en":"Confirmed breeding","sv":"Säker häckning"}}]'
  recorded_at: 2024-01-12 12:02:51 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
