http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.atlasCodeEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1dbe-uRO8YY+FhOc7kZeNcRG0Hf6kfP8"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.atlasCodeEnum1","value":{"sv":"1 Osannolik häckning; Art
        observerad som vistats i rutan under häckningstid, men som högst sannolikt
        inte häckar där.","fi":"1 Epätodennäköinen pesintä: havaittu lajin yksilö,
        havainto ei viittaa pesintään.","en":"1 Breeding unlikely; Species detected
        in the grid during the breeding season, but almost certainly does not breed
        there"}},{"id":"MY.atlasCodeEnum2","value":{"fi":"2 Mahdollinen pesintä: yksittäinen
        lintu kerran, on sopivaa pesimäympäristöä.","en":"2 Possible breeding; A solitary
        bird detected once in suitable breeding habitat, and breeding of the species
        in the grid is possible","sv":"2 Möjlig häckning; Ensam fågel observerad en
        gång (t.ex. sjung[...]
