http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/areas?type=biogeographicalProvince&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1214-14u0+nA2JAxXB6aS8HiFq2QHMvw"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":21,"results":[{"id":"ML.251","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"Åland","fi":"Ahvenanmaa","sv":"Alandia"},"provinceCodeAlpha":{"en":"Al","fi":"A","sv":"Al"},"provinceCodeNumeric":"1"},{"id":"ML.252","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"","fi":"Varsinais-Suomi","sv":""},"provinceCodeAlpha":{"en":"","fi":"V","sv":""},"provinceCodeNumeric":"2"},{"id":"ML.253","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"","fi":"Uusimaa","sv":""},"provinceCodeAlpha":{"en":"","fi":"U","sv":""},"provinceCodeNumeric":"3"},{"id":"ML.254","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"South
        Kareli[...]
