http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/areas?type=birdAssociationArea&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16d1-1tbd6rDI6bnjQfOcrSZ2JJNd0wg"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":29,"results":[{"id":"ML.1088","areaType":"ML.birdAssociationArea","name":{"xml:lang":"fi","content":"Ålands
        Fågelskyddsförening r.f.","en":"","fi":"Ålands Fågelskyddsförening r.f.","sv":""}},{"id":"ML.1089","areaType":"ML.birdAssociationArea","name":{"xml:lang":"fi","content":"Turun
        Lintutieteellinen Yhdistys r.y.","en":"","fi":"Turun Lintutieteellinen Yhdistys
        r.y.","sv":""}},{"id":"ML.1090","areaType":"ML.birdAssociationArea","name":{"xml:lang":"fi","content":"Porin
        Lintutieteellinen Yhdistys r.y.","en":"","fi":"Porin Lintutieteellinen Yhdistys
        r.y.","sv":""}},{"id":"ML.1091","areaType":"ML.birdAssociationArea","name":{"xml:lang":"fi","content"[...]
