http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.collectionQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"24c-SDbPYonZx9QR0820ZFipL5f1HgU"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.collectionQualityEnum3","value":{"fi":"Ammattiaineistot
        / asiantuntijoiden laadunvarmistama","sv":"Professionella dataseten / expertkuraterad","en":"Professional
        / professionally curated"}},{"id":"MY.collectionQualityEnum2","value":{"en":"Expert
        hobbyists / expert curated","sv":"Expertentusiaster / expertkuraterad","fi":"Asiantuntevat
        harrastajat / asiantuntijoiden laadunvarmistama"}},{"id":"MY.collectionQualityEnum1","value":{"fi":"Kansalaishavaintoja
        / ei laadunvarmistusta","sv":"Medborgarvetenskap / ingen kvalitetssäkring","en":"Citizen
        science / mostly uncurated"}}]'
  recorded_at: 2023-05-23 08:08:57 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
