http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.collectionQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"24c-6T0sJwdLnzIcIqR9tihm8VZ7sA0"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.collectionQualityEnum3","value":{"fi":"Ammattiaineistot
        / asiantuntijoiden laadunvarmistama","sv":"Professionella dataseten / expertkuraterad","en":"Professional
        / professionally curated"}},{"id":"MY.collectionQualityEnum2","value":{"fi":"Asiantuntevat
        harrastajat / asiantuntijoiden laadunvarmistama","en":"Expert hobbyists /
        expert curated","sv":"Expertentusiaster / expertkuraterad"}},{"id":"MY.collectionQualityEnum1","value":{"fi":"Kansalaishavaintoja
        / ei laadunvarmistusta","en":"Citizen science / mostly uncurated","sv":"Medborgarvetenskap
        / ingen kvalitetssäkring"}}]'
  recorded_at: 2023-08-28 08:43:18 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
