http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.collectionQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"24c-r8bXXCgCtbRyJ25kGRlRe9Po2WQ"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.collectionQualityEnum3","value":{"en":"Professional / professionally
        curated","fi":"Ammattiaineistot / asiantuntijoiden laadunvarmistama","sv":"Professionella
        dataseten / expertkuraterad"}},{"id":"MY.collectionQualityEnum2","value":{"en":"Expert
        hobbyists / expert curated","fi":"Asiantuntevat harrastajat / asiantuntijoiden
        laadunvarmistama","sv":"Expertentusiaster / expertkuraterad"}},{"id":"MY.collectionQualityEnum1","value":{"en":"Citizen
        science / mostly uncurated","fi":"Kansalaishavaintoja / ei laadunvarmistusta","sv":"Medborgarvetenskap
        / ingen kvalitetssäkring"}}]'
  recorded_at: 2023-09-28 11:52:47 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
