http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.collectionQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"24c-6Q/K0CSCARHug2zpUUze4XBl2vs"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.collectionQualityEnum3","value":{"sv":"Professionella dataseten
        / expertkuraterad","fi":"Ammattiaineistot / asiantuntijoiden laadunvarmistama","en":"Professional
        / professionally curated"}},{"id":"MY.collectionQualityEnum2","value":{"en":"Expert
        hobbyists / expert curated","fi":"Asiantuntevat harrastajat / asiantuntijoiden
        laadunvarmistama","sv":"Expertentusiaster / expertkuraterad"}},{"id":"MY.collectionQualityEnum1","value":{"sv":"Medborgarvetenskap
        / ingen kvalitetssäkring","en":"Citizen science / mostly uncurated","fi":"Kansalaishavaintoja
        / ei laadunvarmistusta"}}]'
  recorded_at: 2023-06-30 07:05:05 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
