http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.collectionQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"24c-mnn+eLf9TwbMbk9PoaM+Vh5RNcY"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.collectionQualityEnum3","value":{"sv":"Professionella dataseten
        / expertkuraterad","fi":"Ammattiaineistot / asiantuntijoiden laadunvarmistama","en":"Professional
        / professionally curated"}},{"id":"MY.collectionQualityEnum2","value":{"sv":"Expertentusiaster
        / expertkuraterad","fi":"Asiantuntevat harrastajat / asiantuntijoiden laadunvarmistama","en":"Expert
        hobbyists / expert curated"}},{"id":"MY.collectionQualityEnum1","value":{"fi":"Kansalaishavaintoja
        / ei laadunvarmistusta","en":"Citizen science / mostly uncurated","sv":"Medborgarvetenskap
        / ingen kvalitetssäkring"}}]'
  recorded_at: 2024-04-25 06:15:17 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
