http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cunit.interpretations.individualCount%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.interpretations.coordinateAccuracy%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":657893,"pageSize":10,"total":6578930,"results":[{"unit":{"quality":{"documentGatheringUnitQualityIssues":false},"linkings":{"taxon":{"scientificName":"Pica
        pica"}},"unitId":"http://tun.fi/KE.8_1195827#69","interpretations":{"needsCheck":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED","needsIdentification":false,"individualCount":24}},"gathering":{"interpretations":{"coordinateAccuracy":25000},"conversions":{"wgs84CenterPoint":{"lat":61.443023,"lon":26.90296}},"hourBegin":8,"hourEnd":14,"minutesBegin":0,"minutesEnd":0,"eventDate":{"begin":"2008-12-31","end":"2008-12-31"}}},{"unit":{"quality":{"documentGatheringUnitQualityIssues":false},"linkings":{"taxon":{"scientificName":"Regulus
        regulus"}},"unitId":"http://tun.fi/KE.8_1195827#63","interpretations":{"needsCheck":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED","needsIdentification":false,"individualCount":6}},"gathering":{"interpretations":{"coordinateAccuracy":25000},"conversions":{"wgs84CenterPoint":{"lat":61.443023,"lon":26.90296}},"hourBegin":8,"hourEnd":14,"minutesBegin":0,"[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.e[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":720177,"pageSize":10,"total":7201766,"results":[{"unit":{"abundanceString":"10","interpretations":{"individualCount":10,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Anas
        platyrhynchos"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/MKH.20081231#71"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":59.811106,"lon":22.895454}},"eventDate":{"begin":"2008-12-31","end":"2008-12-31"},"interpretations":{"coordinateAccuracy":5000}},"document":{"sourceId":"http://tun.fi/KE.398"}},{"unit":{"abundanceString":"20","interpretations":{"individualCount":20,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Bucephala
        clangula"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/MKH.20081231#117"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":59.811106,"lon":22.895454}},"eventDate":{"begin":"2008-12-31","end":"2008-12-31"},[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.e[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.[...]
