http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a3b-pdnasO2/HLbEeAE/EE19KtRgtTA"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"en":"Individual
        count","fi":"Yksilömäärä","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"sv":"Parantal","fi":"Parimäärä","en":"Pair
        count"}},{"id":"MY.abundanceUnitNest","value":{"fi":"Pesien lukumäärä","sv":"Nästantal","en":"Nest
        count"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitColony","value":{"fi"[...]
