http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4081677,"pageSize":10,"total":40816770,"results":[{"unit":{"unitId":"http://tun.fi/JX.1325693#3"}},{"unit":{"unitId":"http://tun.fi/JX.1325693#9"}},{"unit":{"unitId":"http://tun.fi/JX.1325693#6"}},{"unit":{"unitId":"http://tun.fi/JX.1325683#3"}},{"unit":{"unitId":"http://tun.fi/JX.1325673#3"}},{"unit":{"unitId":"http://tun.fi/JX.1325665#6"}},{"unit":{"unitId":"http://tun.fi/JX.1325665#9"}},{"unit":{"unitId":"http://tun.fi/JX.1325665#12"}},{"unit":{"unitId":"http://tun.fi/JX.1325701#3"}},{"unit":{"unitId":"http://tun.fi/JX.1325446#6"}}]}'
  recorded_at: 2021-11-04 12:38:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4081751,"pageSize":10,"total":40817510,"results":[{"unit":{"unitId":"http://tun.fi/JX.1325750#15"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325750#18"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325750#12"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325750#9"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325750#6"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325750#3"},"document":{"documentId":"http://tun.fi/JX.1325750","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325749#3"},"document":{"documentId":"http://tun.fi/JX.1325749","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325727#107"},"document":{"documentId":"http://tun.fi/JX.1325727","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325727#101"},"document":{"documentId":"http://tun.fi/JX.1325727","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.1325727#153"},"document":{"documentId":"http://tun.fi/JX.1325727","sourceId":"http://tun.fi/KE.389"}}]}'
  recorded_at: 2021-11-04 12:38:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
