http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4787920,"pageSize":10,"total":47879194,"cacheTimestamp":1693211639,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"COMMUNITY_VERIFIED","reliability":"RELIABLE"},"linkings":{"taxon":{"scientificName":"Amphipyra
        perflua","scientificNameAuthorship":"(Fabricius, 1787)"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Amphipyra
        perflua","unitId":"http://tun.fi/HR.3211/180568359-U"},"gathering":{"conversions":{"day":28,"month":8,"wgs84CenterPoint":{"lat":60.35245,"lon":22.21945}},"eventDate":{"begin":"2023-08-28","end":"2023-08-28"},"interpretations":{"coordinateAccuracy":12}},"document":{"sourceId":"http://tun.fi/KE.901"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Bombus
        schrencki","scientificNameAuthorship":"Morawitz, 1881"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Bombus
        schrencki","unitId":"http://tun.fi/HR.3211/180587250-U"},"gathering":{"conversions":{"day":28,"month":8,"wgs84CenterPoint":{"lat"[...]
[...]
