http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1185,"pageSize":10,"total":11848,"results":[{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.106857/Capreolus_capreolus_xray.mp4"},{"fullURL":"https://imagetest.laji.fi/MM.106858/Capreolus_capreolus_360.mp4"}],"unitId":"http://id.luomus.fi/MY.10644644"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/90048516/original.jpg?1597492420"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/90048959/original.jpg?1597492770"}],"unitId":"http://tun.fi/HR.3211/56502163-U"}},{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.60297/HA.H3300297.jpg"}],"unitId":"http://tun.fi/MY.114760"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/342863539/original[...]
