http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":261527,"pageSize":10,"total":2615270,"cacheTimestamp":1688108547,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Pteromys
        volans","scientificNameAuthorship":"(Linnaeus, 1758)"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"liito-orava","unitId":"http://tun.fi/JX.298146#3"},"gathering":{"conversions":{"day":26,"month":6,"wgs84CenterPoint":{"lat":63.492515,"lon":27.213128}},"eventDate":{"begin":"2023-06-26","end":"2023-06-26"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.841"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Mergus
        merganser","scientificNameAuthorship":"Linnaeus, 1758"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"isokoskelo","unitId":"http://tun.fi/JX.298145#3"},"gathering":{"conversions":{"day":26,"month":6,"wgs84CenterPoint":{"lat":64.177304,"lon":27.340482}},"eventDate":{"begin":"2023-06-26","end":"2023-06-26"},"interpretations":{"coordinateAccuracy":5000}},"document":{"sourceId":"http://tun.fi/KE.841"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Heracleum
        persicum -ryhmä"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.298139#3"},"gathering":{"conversions":{"day":22,"month":6,"wgs84CenterPoint":{"lat":60.274556,"lon":24.654314}},"eventDate":{"begin":"2023-06-22","end":"2023-06-22"},"interpretations":{"coordinateAccuracy":10}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"abundanceString":"10","interpretations":{"individualCount":10,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Heracleum
        persicum -ryhmä"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.298140#3"},"gathering":{"conversions":{"day":20,"month":6,"wgs84CenterPoint":{"lat":60.253952,"lon":24.558504}},"eventDate":{"begin":"2023-06-20","end":"2023-06-20"},"interpretations":{"coordinateA[...]
[...]
