http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1303161,"pageSize":10,"total":13031602,"results":[{"unit":{"unitId":"http://tun.fi/KE.67/12079569#Unit"}},{"unit":{"facts":[{"fact":"species","value":"BOMGAR"},{"fact":"ringedSpecies","value":"BOMGAR"},{"fact":"sex","value":"N"},{"fact":"sexDeterminationMethod","value":"V"},{"fact":"age","value":"2"},{"fact":"ageDeterminationMethod","value":"V"},{"fact":"weightInGrams","value":"53"},{"fact":"wingLengthInMillimeters","value":"116"}],"unitId":"http://tun.fi/KE.67/2543474#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"7.4.2003"},{"fact":"hour","value":"9"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"UUSIMAA"},{"fact":"euringProvinceCode","value":"SF87"},{"fact":"municipality","value":"LOHJAK"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"1"},{"fact":"elyCentre","value":"Uudenmaan
        ELY"},{"fact":"finnishProvinceCode","value":"1"},{"fact":"finnishProvince","value":"Uusimaa"},{"fact":"finn[...]
