http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/explorer/swagger.json
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"14b4b8-n+UX+wyOOP9aAOzs93CG8OtiZWk"
    body:
      encoding: ''
      file: no
      string: '{"swagger":"2.0","info":{"title":"API documentation","description":"\nAccess
        token is needed to use this API. To get a token, send a POST request with
        your email address to\n/api-users endpoint and one will be send to your. Each
        endpoint bellow has more information on how to use this API.\nIf you have
        any questions you can contact us at helpdesk@laji.fi.\n\nYou can find more
        documentation [here](https://laji.fi/about/806).\n\n##Endpoints\n\nObservations
        and collections\n* Warehouse - Observation Data Warehouse API[...]
