http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Cygnus%20cygnus&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"218-jMx+f4qOIEwAjuWdeV6tEIBIAIM"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Cygnus cygnus","nameType":"MX.scientificName","id":"MX.26280","scientificName":"Cygnus
        cygnus","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"laulujoutsen","en":"Whooper
        Swan","sv":"sångsvan"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}},{"id":"MVL.1241","name":{"en":"Waterbirds","fi":"Vesilinnut","sv":"Vattenfåglar"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-05-23 08:00:58 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/areas?type=country&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9380-EMth07QNTGnlHFlHztP0ezlZIJ8"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":250,"results":[{"id":"ML.1","areaType":"ML.country","countryCodeISOalpha2":"AF","countryCodeISOalpha3":"AFG","name":{"en":"Afghanistan","fi":"Afganistan","sv":""}},{"id":"ML.3","areaType":"ML.country","countryCodeISOalpha2":"NL","countryCodeISOalpha3":"NLD","name":{"en":"Netherlands","fi":"Alankomaat","sv":""}},{"id":"ML.4","areaType":"ML.country","countryCodeISOalpha2":"AN","countryCodeISOalpha3":"ANT","name":{"en":"Netherlands
        Antilles","fi":"Alankomaiden Antillit","sv":""}},{"id":"ML.5","areaType":"ML.country","countryCodeISOalpha2":"AL","countryCodeISOalpha3":"ALB","name":{"en":"Alban[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?taxonId=MX.26280&countryId=ML.206&selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":86381,"pageSize":1,"total":86381,"results":[{"unit":{"unitId":"http://tun.fi/JX.1583887#3"},"document":{"loadDate":"2023-05-23"}}]}'
  recorded_at: 2023-05-23 08:00:58 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
