http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":3935619,"pageSize":10,"total":39356185,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/87126564-U"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":62.71018,"lon":25.53206}},"eventDate":{"begin":"2021-07-15","end":"2021-07-15"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/87096834-U"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":61.95207,"lon":22.85191}},"eventDate":{"begin":"2021-07-15","end":"2021-07-15"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/87117676-U"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":61.3259,"lon":23.77481}},"eventDate":{"begin":"2021-07-15","end":"2021-07-15"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/87126845-U"},"gathering":{"conversions":{"wgs84CenterPoint":{"la[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4067319,"pageSize":10,"total":40673186,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/99607237-U"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.73979,"lon":24.81268}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/99607975-U"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.93899,"lon":23.65116}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/99608071-U"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.91278,"lon":23.71043}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/99608126-U"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.91278,"lon":23.71043}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"}}},{"unit":{"unitId":"http://tun.fi/JX.1323738#12"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.1323738#9"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.1323738#21"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.1323738#18"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.1323738#15"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.1323738#6"},"gathering":{"conversions":{"day":28,"month":10,"wgs84CenterPoint":{"lat":60.179562,"lon":24.663776}},"eventDate":{"begin":"2021-10-28","end":"2021-10-28"},"hourBegin":9,"hourEnd":9,"minutesBegin":15,"minutesEnd":30}}]}'
  recorded_at: 2021-10-28 10:47:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
