http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Parus%20major&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b8-A8+sO8i7SJ+tQq9IWF1Tffx1MdQ"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Parus major","nameType":"MX.scientificName","id":"MX.34567","scientificName":"Parus
        major","scientificNameAuthorship":"Linnaeus, 1758","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"talitiainen","en":"Great
        Tit","sv":"talgoxe"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-03-29 06:25:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Parus%20najor&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2023-03-29 06:25:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Moomin&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2023-03-29 06:25:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
