http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":18,"cacheTimestamp":1680071190,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":199651},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":89031},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":27189},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":15950},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":9293},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":7743},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":6498},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6009},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":4969},{"aggregateBy":{"unit.abundanceUnit":"SQUARE_M"},"count":3642}]}'
  recorded_at: 2023-03-29 06:26:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a3b-sUuM7HtrE3OiTh3ZVctIbbw+HxA"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"en":"Individual
        count","fi":"Yksilömäärä","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair
        count","sv":"Parantal","fi":"Parimäärä"}},{"id":"MY.abundanceUnitNest","value":{"en":"Nest
        count","fi":"Pesien lukumäärä","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"en":"Number
        of breeding sites (rocks, cavities, etc.)","fi":"Lisääntymispaikkojen lukumäärä
        (kivi, kolo, ym)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitColony","value":{"fi"[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244105,"pageSize":10,"total":2441041,"cacheTimestamp":1680071191,"results":[{"unit":{"unitId":"http://tun.fi/JX.297813#3"}},{"unit":{"abundanceUnit":"INDIRECT_MARKS","unitId":"http://tun.fi/JX.297813#6"}},{"unit":{"unitId":"http://tun.fi/JX.297810#3"}},{"unit":{"unitId":"http://tun.fi/JX.297810#7"}},{"unit":{"unitId":"http://tun.fi/JX.297774#3"}},{"unit":{"unitId":"http://tun.fi/JX.297773#3"}},{"unit":{"unitId":"http://tun.fi/JX.297773#9"}},{"unit":{"abundanceUnit":"DROPPINGS","unitId":"http://tun.fi/JX.297773#11"}},{"unit":{"abundanceUnit":"INDIRECT_MARKS","unitId":"http://tun.fi/JX.297773#7"}},{"unit":{"unitId":"http://tun.fi/JX.297773#5"}}]}'
  recorded_at: 2023-03-29 06:26:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-K1DDdDAix8jEY1+ZSuqYop8fK+o"
    body:
      encoding: ''
      file: no
    [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1755,"pageSize":10,"total":17542,"results":[{"unit":{"unitId":"http://tun.fi/HR.4412/62d0b1b68cbc9_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DEFAULT_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/62c8c38af3496_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DEFAULT_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/62c22ab02ac4a_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DEFAULT_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/62cb66be40e98_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSE[...]
