http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244122,"pageSize":10,"total":2441217,"cacheTimestamp":1683621169,"results":[{"unit":{"unitId":"http://tun.fi/JX.297900#3"},"gathering":{"conversions":{"day":4,"month":5,"wgs84CenterPoint":{"lat":60.240487,"lon":25.089459}},"eventDate":{"begin":"2023-05-04","end":"2023-05-04"},"hourBegin":13,"hourEnd":13,"minutesBegin":30,"minutesEnd":30}},{"unit":{"unitId":"http://tun.fi/JX.297898#3"},"gathering":{"conversions":{"day":26,"month":4,"wgs84CenterPoint":{"lat":60.536613,"lon":25.448245}},"eventDate":{"begin":"2023-04-26","end":"2023-04-26"}}},{"unit":{"unitId":"http://tun.fi/JX.297886#3"},"gathering":{"conversions":{"day":17,"month":4,"wgs84CenterPoint":{"lat":60.170379,"lon":24.925005}},"eventDate":{"begin":"2023-04-17","end":"2023-04-17"},"hourBegin":8,"hourEnd":8,"minutesBegin":57,"minutesEnd":58}},{"unit":{"unitId":"http://t[...]
