http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":245037,"pageSize":10,"total":2450362,"results":[{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/91327892/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/57266145-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/218153902/original.jpeg"},{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/218153923/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/128432887-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.82049/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.3506956"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.282200/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.14852042"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.519719/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.13940473"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.91943/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.13407861"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.10523/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.12812117"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.335902/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.15275480"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.265552/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.7053306"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.46105/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.12954487"}}]}'
  recorded_at: 2024-01-12 11:02:28 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
