http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1469,"pageSize":10,"total":14682,"results":[{"unit":{"facts":[{"fact":"species","value":"FALTIN"},{"fact":"ringedSpecies","value":"FALTIN"},{"fact":"age","value":"PP"},{"fact":"wingLengthInMillimeters","value":"122"}],"unitId":"http://tun.fi/KE.67/10695301#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"24.6.2016"},{"fact":"hour","value":"11"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"KUOPIO"},{"fact":"euringProvinceCode","value":"SF81"},{"fact":"municipality","value":"LIPERI"},{"fact":"locality","value":"Leveälahti"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"8"},{"fact":"elyCentre","value":"Pohjois-Karjalan
        ELY"},{"fact":"finnishProvinceCode","value":"12"},{"fact":[...]
