http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5086714,"pageSize":10,"total":50867133,"cacheTimestamp":1710491487,"results":[{"unit":{"abundanceString":"3","interpretations":{"individualCount":3},"unitId":"http://tun.fi/JX.1688560#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1688559#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1688558#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1688557#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1688552#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1688550#3"}},{"unit":{"abundanceString":"10-50","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1688549#3"}},{"unit":{"abundanceString":"1-10","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1688549#6"}},{"unit":{"abundanceString":"6","interpretations":{"individualCount":6},"unitId":"http://tun.fi/JX.1688547#3"}},{"unit":{"abundanceString":"20","interpretations":{"individualCount":20},"unitId":"http://tun.fi/JX.1688547#5"}}]}'
  recorded_at: 2024-03-15 08:31:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
