http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4787921,"pageSize":10,"total":47879207,"cacheTimestamp":1693212058,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/180568359-U"},"document":{"documentId":"http://tun.fi/HR.3211/180568359","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180587250-U"},"document":{"documentId":"http://tun.fi/HR.3211/180587250","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180527103-U"},"document":{"documentId":"http://tun.fi/HR.3211/180527103","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586954-U"},"document":{"documentId":"http://tun.fi/HR.3211/180586954","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180582630-U"},"document":{"documentId":"http://tun.fi/HR.3211/180582630","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180573487-U"},"document":{"documentId":"http://tun.fi/HR.3211/180573487","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586882-U"},"document":{"documentId":"http://tun.fi/HR.3211/180586882","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586748-U"},"document":{"documentId":"http://tun.fi/HR.3211/180586748","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180583348-U"},"document":{"documentId":"http://tun.fi/HR.3211/180583348","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586945-U"},"document":{"documentId":"http://tun.fi/HR.3211/180586945","sourceId":"http://tun.fi/KE.901"}}]}'
  recorded_at: 2023-08-28 08:40:58 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
