http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4787921,"pageSize":10,"total":47879207,"cacheTimestamp":1693211994,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/180568359-U"},"gathering":{"conversions":{"day":28,"month":8,"wgs84CenterPoint":{"lat":60.35245,"lon":22.21945}},"eventDate":{"begin":"2023-08-28","end":"2023-08-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/180587250-U"},"gathering":{"conversions":{"day":28,"month":8,"wgs84CenterPoint":{"lat":64.92051,"lon":25.09239}},"eventDate":{"begin":"2023-08-28","end":"2023-08-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/180527103-U"},"gathering":{"conversions":{"day":28,"month":8,"wgs84CenterPoint":{"lat":61.58692,"lon":23.62707}},"eventDate":{"begin":"2023-08-28","end":"2023-08-28"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586954-U"},"gatherin[...]
