http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1317595,"pageSize":10,"total":13175949,"results":[{"unit":{"facts":[{"fact":"species","value":"LARCAN"},{"fact":"ringedSpecies","value":"LARCAN"},{"fact":"age","value":"PP"}],"unitId":"http://tun.fi/KE.67/4027975#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"30.6.1984"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"OULU"},{"fact":"euringProvinceCode","value":"SF85"},{"fact":"municipality","value":"II"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"11"},{"fact":"elyCentre","value":"Pohjois-Pohjanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"17"},{"fact":"finnishProvince","value":"Pohjois-Pohjanmaa"},{"fact":"finnishOldCountyC[...]
