http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16263,"results":[{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/6603505/original.jpg?1489727480"}],"unitId":"http://tun.fi/HR.3211/5378905-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/97118194/original.jpeg?1601051121"}],"unitId":"http://tun.fi/HR.3211/60724210-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/97759634/original.jpg?1601309279"}],"unitId":"http://tun.fi/HR.3211/61111283-U"}},{"unit":{"media":[{"fullURL":"http://hatikka.fi/getimage.php?id=14325"}],"unitId":"http://tun.fi/KE.8/1125462#2"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/100820446/original.jpeg?1603013496"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/100820466/original.jpeg?1603013507"}],"unitId":"http://tun.fi/HR.3211/62877532-U"}},{"unit":{"media":[{"fullURL":"http://hatikka.fi/getimage.php?id=14543"}],"unitId":"http://tun.fi/KE.8/1126946#3"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/100826555/original.jpg?1603017347"}],"unitId":"http://tun.fi/HR.3211/62880783-U"}},{"unit":{"media":[{"fullURL":"https://luomus.digitarium.fi/MM.49223/HA.H9506041_a.jpg"},{"fullURL":"https://luomus.digitarium.fi/MM.49213/HA.H9506041.jpg"}],"unitId":"http://tun.fi/MY.176352"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.2075/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.709359"}},{"unit":{"media":[{"fullURL":"https://hatikka.fi/getimage.php?id=26113"},{"fullURL":"https://hatikka.fi/getimage.php?id=26136"}],"unitId":"http://tun.fi/KE.8/1205684#2"}}]}'
  recorded_at: 2023-06-30 07:04:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
