http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4617239,"pageSize":10,"total":46172384,"cacheTimestamp":1680158097,"results":[{"unit":{"unitId":"http://tun.fi/JX.1540855#3"},"gathering":{"conversions":{"day":30,"month":3,"wgs84CenterPoint":{"lat":60.220353,"lon":25.141363}},"eventDate":{"begin":"2023-03-30","end":"2023-03-30"}}},{"unit":{"unitId":"http://tun.fi/JX.1540847#3"},"gathering":{"conversions":{"day":30,"month":3,"wgs84CenterPoint":{"lat":60.37781,"lon":23.11755}},"eventDate":{"begin":"2023-03-30","end":"2023-03-30"}}},{"unit":{"unitId":"http://tun.fi/KE.176/64252643d5dea8dfccc18fbd#Unit1"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":60.143172,"lon":24.742889}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"}}},{"unit":{"unitId":"http://tun.fi/JX.1540852#7"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":61.104893,"lon":21.557784}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"},"hourBegin":14,"hourEnd":15,"minutesBegin":20,"minutesEnd":20}},{"unit":{"unitId":"http://tun.fi/JX.1540852#5"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":61.104893,"lon":21.557784}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"},"hourBegin":14,"hourEnd":15,"minutesBegin":20,"minutesEnd":20}},{"unit":{"unitId":"http://tun.fi/JX.1540852#3"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":61.104893,"lon":21.557784}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"},"hourBegin":14,"hourEnd":15,"minutesBegin":20,"minutesEnd":20}},{"unit":{"unitId":"http://tun.fi/JX.1540515#15"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":64.301473,"lon":24.903195}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"}}},{"unit":{"unitId":"http://tun.fi/JX.1540515#9"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":64.374252,"lon":25.017661}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"}}},{"unit":{"unitId":"http://tun.fi/JX.1540515#20"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":64.266528,"lon":24.829828}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"}}},{"unit":{"unitId":"http://tun.fi/JX.1540515#6"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":64.522696,"lon":25.093786}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"}}}]}'
  recorded_at: 2023-03-30 06:41:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
