http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.778&selected=unit.unitId&page=1&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"lastPage":1,"pageSize":1000,"total":10,"results":[{"unit":{"unitId":"http://mus.utu.fi/MY.10888542"}},{"unit":{"unitId":"http://mus.utu.fi/MY.10888538"}},{"unit":{"unitId":"http://mus.utu.fi/MY.4247571"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475339"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475342"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475121"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475348"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475351"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475184"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475345"}}]}'
  recorded_at: 2023-05-23 08:06:55 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
