http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/gathering/aggregate?namedPlaceId=MNP.798&aggregateBy=gathering.gatheringId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"lastPage":1,"pageSize":10,"total":4,"results":[{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/KE.8_1008632#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/KE.8_1071931#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/KE.8_1115147#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/KE.8_1218583#1"},"count":1}]}'
  recorded_at: 2023-03-29 09:10:43 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
