http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244105,"pageSize":10,"total":2441041,"cacheTimestamp":1680071187,"results":[{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297813#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297813#6"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.297810#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297810#7"}},{"unit":{"abundanceString":"4","interpretations":{"individualCount":4},"unitId":"http://tun.fi/JX.297774#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297773#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297773#9"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297773#11"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297773#7"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.297773#5"}}]}'
  recorded_at: 2023-03-29 06:26:27 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
