http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244124,"pageSize":10,"total":2441232,"cacheTimestamp":1683640768,"results":[{"unit":{"abundanceString":"1","interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Pteromys
        volans","scientificNameAuthorship":"(Linnaeus, 1758)"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.297941#6"},"gathering":{"conversions":{"day":9,"month":5,"wgs84CenterPoint":{"lat":60.241588,"lon":25.089923}},"eventDate":{"begin":"2023-05-09","end":"2023-05-09"},"hourBegin":15,"hourEnd":15,"interpretations":{"coordinateAccuracy":1},"minutesBegin":16,"minutesEnd":17},"document":{"sourceId":"http://tun.fi/KE.1141"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":true,"recordQuality":"UNCERTAIN","reliability":"UNRELIABLE"},"linkings":{"taxon":{"scientificName":"Pteromys
        volans","scientificNameAuthorship":"(Linnaeus, 1758)"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.297941#3"},"gathering":{"conversions":{"day":9,"month":5,"wgs84CenterPoint":{"lat":60.242257,"lon":25.090629}},"eventDate":{"begin":"2023-05-09","end":"2023-05-09"},"hourBegin":15,"hourEnd":15,"interpretations":{"coordinateAccuracy":1},"minutesBegin":16,"minutesEnd":17},"document":{"sourceId":"http://tun.fi/KE.1141"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Emberiza
        citrinella","scientificNameAuthorship":"Linnaeus, 1758"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"keltasirkku","unitId":"http://tun.fi/JX.297940#3"},"gathering":{"conversions":{"day":9,"month":5,"wgs84CenterPoint":{"lat":61.029044,"lon":25.825046}},"eventDate":{"begin":"2023-05-09","end":"2023-05-09"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Emberiza
      [...]
[...]
