http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262862,"pageSize":10,"total":2628611,"cacheTimestamp":1695906818,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Erebia
        medusa polaris","scientificNameAuthorship":"Staudinger, 1871"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"ruijannokiperhonen
        (alalaji polaris)","unitId":"http://tun.fi/JX.306981#3"},"gathering":{"conversions":{"day":11,"month":9,"wgs84CenterPoint":{"lat":66.258216,"lon":26.198786}},"eventDate":{"begin":"2023-09-11","end":"2023-09-11"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Corvus
        corone","scientificNameAuthorship":"Linnaeus, 1758"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"varis","unitId":"http://tun.fi/JX.299095#3"},"gathering":{"conversions":{"day":31,"month":8,"wgs84CenterPoint":{"lat":60.183874,"lon":24.955686}},"eventDate":{"begin":"2023-08-31","end":"2023-08-31"},"hourBegin":9,"hourEnd":11,"interpretations":{"coordinateAccuracy":1000},"minutesBegin":0,"minutesEnd":0},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Impatiens
        glandulifera","scientificNameAuthorship":"Royle"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"jättipalsami","unitId":"http://tun.fi/HR.4114/2397_U"},"gathering":{"conversions":{"day":29,"month":8,"wgs84CenterPoint":[...]
[...]
