http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":182548,"pageSize":10,"total":1825471,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.370247/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.7846998"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.80317/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4857750"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.121998/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4305681"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/207082842/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/122305559-U"}},{"unit":{"media":[{"fullURL":"https://inaturalis[...]
