http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.informalTaxonGroups&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262126,"pageSize":10,"total":2621259,"cacheTimestamp":1693220492,"results":[{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.1"]}},"unitId":"http://tun.fi/KE.176/64e725902d0ec27bece0497f#Unit1"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.1"]}},"unitId":"http://tun.fi/JX.298355#3"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.1"]}},"unitId":"http://tun.fi/JX.298355#5"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2314_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2313_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2310_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2312_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2307_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2308_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/2309_U"}}]}'
  recorded_at: 2023-08-28 11:01:32 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/informal-taxon-groups?lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3d69-oN3c8QkR0TQJhdE27b2GuNtmcM4"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":148,"results":[{"id":"MVL.1","hasSubGroup":["MVL.1241","MVL.1141"],"name":{"en":"Birds","fi":"Linnut","sv":"Fåglar"}},{"id":"MVL.2","hasSubGroup":["MVL.1181","MVL.187"],"name":{"en":"Mammals","fi":"Nisäkkäät","sv":"Däggdjur"}},{"id":"MVL.22","hasSubGroup":["MVL.82"],"name":{"en":"Algae","fi":"Levät","sv":"Alger"}},{"id":"MVL.23","hasSubGroup":["MVL.562","MVL.563","MVL.561"],"name":{"en":"Bryophytes","fi":"Sammalet","sv":"Mossor"}},{"id":"MVL.24","hasSubGroup":["MVL.63","MVL.62","MVL.61","MVL.81","MVL.121"],"name":{"en":"Macrofungi","fi":"Suursienet","sv":"Storsvampar"}},{"id":"MVL.25","hasSubGroup":[[...]
