http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":19,"cacheTimestamp":1683621175,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":199651},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":89031},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":27189},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":15950},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":9293},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":7743},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":6499},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6009},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":4969},{"aggregateBy":{"unit.abundanceUnit":"SQUARE_M"},"count":3642}]}'
  recorded_at: 2023-05-09 13:59:58 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a3b-pdnasO2/HLbEeAE/EE19KtRgtTA"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"en":"Individual
        count","fi":"Yksilömäärä","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"sv":"Parantal","fi":"Parimäärä","en":"Pair
        count"}},{"id":"MY.abundanceUnitNest","value":{"fi":"Pesien lukumäärä","sv":"Nästantal","en":"Nest
        count"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitColony","value":{"fi"[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244122,"pageSize":10,"total":2441217,"cacheTimestamp":1683621176,"results":[{"unit":{"unitId":"http://tun.fi/JX.297900#3"}},{"unit":{"unitId":"http://tun.fi/JX.297898#3"}},{"unit":{"unitId":"http://tun.fi/JX.297886#3"}},{"unit":{"unitId":"http://tun.fi/JX.297887#3"}},{"unit":{"unitId":"http://tun.fi/JX.297879#3"}},{"unit":{"unitId":"http://tun.fi/JX.297879#5"}},{"unit":{"unitId":"http://tun.fi/JX.297881#3"}},{"unit":{"unitId":"http://tun.fi/JX.297882#5"}},{"unit":{"unitId":"http://tun.fi/JX.297875#3"}},{"unit":{"unitId":"http://tun.fi/JX.297875#5"}}]}'
  recorded_at: 2023-05-09 13:59:58 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-0PcvSGscJbtqpCrra8IAMwfYjTs"
    body:
      encoding: ''
      file: no
    [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1755,"pageSize":10,"total":17546,"results":[{"unit":{"unitId":"http://tun.fi/A.F3C84AAB-43A1-4E48-B445-D14E18884E8B#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.66B2E2F0-3E19-45E8-A6D8-2E88E7E5019B#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.888E9EB1-90C2-42FE-9B13-6859FA8DE31B#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/62d0b1b68cbc9_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DEFAULT_TAXON_CONSERVATION"]}},{"unit":{"un[...]
