http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244105,"pageSize":10,"total":2441041,"cacheTimestamp":1680071188,"results":[{"unit":{"unitId":"http://tun.fi/JX.297813#3"},"document":{"documentId":"http://tun.fi/JX.297813","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.297813#6"},"document":{"documentId":"http://tun.fi/JX.297813","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.297810#3"},"document":{"documentId":"http://tun.fi/JX.297810","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.297810#7"},"document":{"documentId":"http://tun.fi/JX.297810","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.297774#3"},"document":{"documentId":"http://tun.fi/JX.297774","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.297773#3"},"document":{"documentId":"http://tun.fi/JX.297773","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.297773#9"},"document":{"documentId":"http://tun.fi/JX.297773","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.297773#11"},"document":{"documentId":"http://tun.fi/JX.297773","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.297773#7"},"document":{"documentId":"http://tun.fi/JX.297773","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.297773#5"},"document":{"documentId":"http://tun.fi/JX.297773","sourceId":"http://tun.fi/KE.841"}}]}'
  recorded_at: 2023-03-29 09:10:43 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
