http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/document/aggregate?namedPlaceId=MNP.798&aggregateBy=document.documentId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":12,"pageSize":10,"total":119,"results":[{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1048021"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1055294"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1100710"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1175262"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1200466"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.1215885"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.127777"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.127778"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.127779"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/JX.127780"},"count":1}]}'
  recorded_at: 2023-03-30 06:41:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
