http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"ACCGEN"},{"fact":"ringedSpecies","value":"ACCGEN"},{"fact":"sex","value":"K"},{"fact":"sexDeterminationMethod","value":"K"},{"fact":"age","value":"PP"},{"fact":"weightInGrams","value":"743"},{"fact":"wingLengthInMillimeters","value":"170"}],"unitId":"http://tun.fi/KE.67/10405034#Unit"}},{"unit":{"facts":[{"fact":"ageOfYoungsInDays","value":"-1"},{"fact":"species","value":"AEGFUN"},{"fact":"ringedSpecies","value":"AEGFUN"},{"fact":"age","value":"PP"},{"fact":"weightInGrams","value":"125"},{"fact":"wingLengthMinMeasurement","value":"80"}],"unitId":"http://tun.fi/KE.67/7825802#Unit"}},{"unit":{"facts":[{"fact":"ageOfYoungsInDays","value":"-1"},{"fact":"species","value":"PHYCOL"},{"fact":"ringedSpecies","value":"PHYCOL"},{"fact":"age","value":"1"},{"fact":"ageDeterminationMethod","value":"V"}],"unitId":"http://tun.fi/KE.67/8729080#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"7.9.2013"},{"fact":"hour","value":"18"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"HÄME"},{"fact":"euringProvinceCode","value":"SF80"},{"fact":"municipality","value":"HATTUL"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"3"},{"fact":"elyCentre","value":"Hämeen
        ELY"},{"fact":"finnishProvinceCode","value":"5"},{"fact":"finnishProvince","value":"Kanta-Häme"},{"fact":"finnis[...]
