http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":293376,"pageSize":10,"total":2933752,"cacheTimestamp":1710513808,"results":[{"unit":{"unitId":"http://tun.fi/JX.320463#3"},"document":{"documentId":"http://tun.fi/JX.320463","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.320395#3"},"document":{"documentId":"http://tun.fi/JX.320395","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.320253#3"},"document":{"documentId":"http://tun.fi/JX.320253","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320252#7"},"document":{"documentId":"http://tun.fi/JX.320252","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320252#5"},"document":{"documentId":"http://tun.fi/JX.320252","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.314982#3"},"document":{"documentId":"http://tun.fi/JX.314982","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.314981#3"},"document":{"documentId":"http://tun.fi/JX.314981","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.314974#3"},"document":{"documentId":"http://tun.fi/JX.314974","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.313720#5"},"document":{"documentId":"http://tun.fi/JX.313720","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.313720#3"},"document":{"documentId":"http://tun.fi/JX.313720","sourceId":"http://tun.fi/KE.1141"}}]}'
  recorded_at: 2024-03-15 14:43:28 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
