http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":20,"cacheTimestamp":1705051561,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":403291},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":121560},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":90030},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":29354},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":10140},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":7748},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":6622},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":6130},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6088},{"aggregateBy":{"unit.abundanceUnit":"SQUARE_M"},"count":4217}]}'
  recorded_at: 2024-01-12 12:02:47 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-1m1wJpAtYeIosea8mk3pXTKN9+0"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"sv":"Individantal","fi":"Yksilömäärä","en":"Individual
        count"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair count","sv":"Parantal","fi":"Parimäärä"}},{"id":"MY.abundanceUnitNest","value":{"en":"Nest
        count","fi":"Pesien lukumäärä","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"en":"Number
        of breeding sites (rocks, cavities, etc.)","fi":"Lisääntymispaikkojen lukumäärä
        (kivi, kolo, ym)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","val[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":292593,"pageSize":10,"total":2925923,"cacheTimestamp":1705051562,"results":[{"unit":{"unitId":"http://tun.fi/JX.312515#3"}},{"unit":{"unitId":"http://tun.fi/JX.312492#3"}},{"unit":{"unitId":"http://tun.fi/JX.312453#3"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160833-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160871-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160953-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195156808-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195156496-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195124603-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195155319-U"}}]}'
  recorded_at: 2024-01-12 12:02:47 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-g+dEX9GCdqJ/EaerGQZDkuF3/9E"
    body:
      encoding: ''
      file: no
    [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":15089,"pageSize":10,"total":150881,"results":[{"unit":{"unitId":"http://tun.fi/HR.49/79123/G.102932_AD"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD"]}},{"unit":{"unitId":"http://tun.fi/HR.49/79123_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD"]}},{"unit":{"unitId":"http://tun.fi/HR.49/79343_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD"]}},{"unit":{"unitId":"http://tun.fi/HR.49/79363_U"},"document":{[...]
