http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.collectionId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":324269,"pageSize":10,"total":3242681,"cacheTimestamp":1714030508,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"},"document":{"collectionId":"http://tun.fi/HR.203"}},{"unit":{"unitId":"http://tun.fi/JX.320710#7"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.320710#3"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.320710#5"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.320712#6"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/HR.5766/T1234#U"},"document":{"collectionId":"http://tun.fi/HR.5766"}},{"unit":{"unitId":"http://tun.fi/JX.320673#3"},"document":{"collectionId":"http://tun.fi/HR.5765"}},{"unit":{"unitId":"http://tun.fi/JX.320671#5"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.320671#3"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.320668#5"},"document":{"collectionId":"http://tun.fi/HR.1747"}}]}'
  recorded_at: 2024-04-25 07:35:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
