http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4807714,"pageSize":10,"total":48077140,"cacheTimestamp":1695901733,"results":[{"unit":{"unitId":"http://tun.fi/JX.1641234#3"},"gathering":{"conversions":{"day":28,"month":9,"wgs84CenterPoint":{"lat":58.389615,"lon":22.66465}},"eventDate":{"begin":"2023-09-28","end":"2023-09-28"}}},{"unit":{"unitId":"http://tun.fi/JX.1641234#5"},"gathering":{"conversions":{"day":28,"month":9,"wgs84CenterPoint":{"lat":58.389615,"lon":22.66465}},"eventDate":{"begin":"2023-09-28","end":"2023-09-28"}}},{"unit":{"unitId":"http://tun.fi/JX.1641232#3"},"gathering":{"conversions":{"day":28,"month":9,"wgs84CenterPoint":{"lat":58.390064,"lon":22.664543}},"eventDate":{"begin":"2023-09-28","end":"2023-09-28"}}},{"unit":{"unitId":"http://tun.fi/KE.176/651566bad5decc17433a88b4#Unit1"},"g[...]
