http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4689220,"pageSize":10,"total":46892197,"cacheTimestamp":1684829159,"results":[{"unit":{"unitId":"http://tun.fi/JX.1583888#3"},"gathering":{"conversions":{"day":23,"month":5,"wgs84CenterPoint":{"lat":63.287377,"lon":21.672878}},"eventDate":{"begin":"2023-05-23","end":"2023-05-23"},"hourBegin":5,"minutesBegin":30}},{"unit":{"unitId":"http://tun.fi/JX.1583879#3"},"gathering":{"conversions":{"day":23,"month":5,"wgs84CenterPoint":{"lat":60.936227,"lon":26.15899}},"eventDate":{"begin":"2023-05-23","end":"2023-05-23"}}},{"unit":{"unitId":"http://tun.fi/JX.1583879#5"},"gathering":{"conversions":{"day":23,"month":5,"wgs84CenterPoint":{"lat":60.936227,"lon":26.15899}},"eventDate":{"begin":"2023-05-23","end":"2023-05-23"}}},{"unit":{"unitId":"http://tun.fi/JX.1583879#7"},"gathering":{"conversions":{"day":23,"m[...]
