http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16263,"results":[{"unit":{"media":[{"fullURL":"http://hatikka.fi/getimage.php?id=14289"},{"fullURL":"http://hatikka.fi/getimage.php?id=14290"},{"fullURL":"http://hatikka.fi/getimage.php?id=14291"}],"unitId":"http://tun.fi/KE.8/1125340#13"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.1682/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.703351"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1711237/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.775708"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.12722/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.689833"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/28206829/original.jpeg?1542471935"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/28206834/original.jpeg?1542471942"}],"unitId":"http://tun.fi/HR.3211/18449461-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/93546501/original.jpg?1599300890"}],"unitId":"http://tun.fi/HR.3211/58586116-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/95578291/original.jpg?1600281422"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/95578277/original.jpg?1600281416"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/95578252/original.jpg?1600281410"}],"unitId":"http://tun.fi/HR.3211/59810962-U"}},{"unit":{"unitId":"http://tun.fi/KE.8/1142649#26"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1711241/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.775720"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/89038648/original.jpeg?1596971950"}],"unitId":"http://tun.fi/HR.3211/55898291-U"}}]}'
  recorded_at: 2023-05-23 09:52:27 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
