http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/gathering/aggregate?namedPlaceId=MNP.798&aggregateBy=gathering.gatheringId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":12,"pageSize":10,"total":114,"results":[{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1048021#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1055294#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1100710#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1175262#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1200466#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.1215885#2"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.127777#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.127778#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.127779#1"},"count":1},{"aggregateBy":{"gathering.gatheringId":"http://tun.fi/JX.127780#1"},"count":1}]}'
  recorded_at: 2021-03-16 12:38:53 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
