http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":105700,"pageSize":10,"total":1056996,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1699333/CombinedPreview_001-002.jpg"}],"unitId":"http://tun.fi/MY.771364"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.355596/20190927_182420.jpg"}],"unitId":"http://tun.fi/JX.1040621#37"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.43646/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4748262"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.169542/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4438134"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.408989/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.8534431"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.343227/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.7738919"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/39398797/original.jpeg?1558354902"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/39398805/original.jpeg?1558354910"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/39398811/original.jpeg?1558354916"}],"unitId":"http://tun.fi/HR.3211/25437767-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.139947/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4356930"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.176208/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4458120"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.13949/CombinedPreview_001-002.jpg"}],"unitId":"http://tun.fi/MY.693880"}}]}'
  recorded_at: 2021-01-05 09:51:56 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
