http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?primaryHabitat=MKV.habitatM%5BMKV.habitatSpecificTypeV%2CMKV.habitatSpecificTypeH%5D&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4,"pageSize":10,"total":35,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Hydnellum
        caeruleum","unitId":"http://tun.fi/HR.3211/56531613-U"},"gathering":{"conversions":{"day":15,"month":8,"wgs84CenterPoint":{"lat":66.3721,"lon":29.29232}},"eventDate":{"begin":"2020-08-15","end":"2020-08-15"},"interpretations":{"coordinateAccuracy":100}},"document":{"sourceId":"http://tun.fi/KE.901"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Hydnellum
        caeruleum","unitId":"http://tun.fi/HR.3211/56512046-U"},"gathering":{"conversions":{"day":15,"month":8,"wgs84CenterPoin[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.42&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&orderBy=gathering.eventDate.begin%20DESC&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2998,"pageSize":10,"total":29978,"results":[{"unit":{"abundanceString":"1","author":"Latreille
        1807","interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Kateretes
        rufilabris","scientificNameAuthorship":"(Latreille, 1807)"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Kateretes
        rufilabris","unitId":"http://id.luomus.fi/MY.2464667"},"gathering":{"conversions":{"day":4,"month":8,"wgs84CenterPoint":{"lat":5[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.101%2CHR.102%2CHR.103%2CHR.104%2CHR.1130&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.even[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/count?primaryHabitat=MKV.habitatM&ykj100km=67%3A32&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"total":66822}'
  recorded_at: 2023-03-29 06:26:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.linkings.taxon.scientificName&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":21262,"pageSize":1,"total":21262,"cacheTimestamp":1680071194,"results":[{"aggregateBy":{"unit.linkings.taxon.scientificName":"Pteromys
        volans"},"count":58499}]}'
  recorded_at: 2023-03-29 06:26:34 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
