http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?primaryHabitat=MKV.habitatM%5BMKV.habitatSpecificTypeV%2CMKV.habitatSpecificTypeH%5D&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":41,"pageSize":10,"total":401,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"siniorakas","unitId":"http://tun.fi/JX.1445983#3"},"gathering":{"conversions":{"day":29,"month":9,"wgs84CenterPoint":{"lat":58.345536,"lon":22.310475}},"eventDate":{"begin":"2022-09-29","end":"2022-09-29"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Hydnellum
        caeruleum","unitId":"http://tun.fi/HR.3211/135643223-U"},"gathering":{"conversions":{"day":19,"month":9,"wgs84CenterPoint":{"lat":64.82345,"lon":25.19723}},"eventDate":{"begin":"2022-09-19","end":"2022-09-19"},"interpretations":{"coordinateAccuracy":32}},"document":{"sourceId":"http://tun.fi/KE.901"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"siniorakas","unitId":"http://tun.fi/JX.1442889#3"},"gathering":{"conversions":{"day":17,"month":9,"wgs84CenterPoint":{"lat":68.904384,"lon":26.964409}},"eventDate":{"begin":"2022-09-17","end":"2022-09-17"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"abundanceString":"4","interpretations":{"individualCount":4,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum","scientificNameAuthorship":"(Hornem.) P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"siniorakas","unitId":"http://tun.fi/JX.1442753#6"},"gathering":{"conversions":{"day":16,"month":9,"wgs84CenterPoint":{"lat":65.156269,"lon":25.424308}},"eventDate":{"b[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.42&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&orderBy=gathering.eventDate.begin%20DESC&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":113577,"pageSize":10,"total":1135767,"results":[{"unit":{"abundanceString":"1","author":"Zhantiev,
        1973","interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Attagenus
        smirnovi","scientificNameAuthorship":"Zhantiev, 1973"}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Attagenus
        smirnovi","unitId":"http://id.luomus.fi/MY.13982435"},"gathering":{"conversions":{"day":15,"month":2,"wgs84CenterPoint":{"lat":60.204[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.101%2CHR.102%2CHR.103%2CHR.104%2CHR.1130%2CHR.1830%2CHR.3311%2CHR.5035&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventD[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/count?primaryHabitat=MKV.habitatM&ykj100km=67%3A32&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"total":1375990}'
  recorded_at: 2023-03-30 06:42:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.linkings.taxon.scientificName&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":56253,"pageSize":1,"total":56253,"cacheTimestamp":1680158251,"results":[{"aggregateBy":{"unit.linkings.taxon.scientificName":"Parus
        major"},"count":1652835}]}'
  recorded_at: 2023-03-30 06:42:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
