http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":324269,"pageSize":10,"total":3242681,"cacheTimestamp":1714030510,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"},"gathering":{"conversions":{"day":24,"month":4,"wgs84CenterPoint":{"lat":60.165,"lon":24.931}},"eventDate":{"begin":"2024-04-24","end":"2024-04-24"}}},{"unit":{"unitId":"http://tun.fi/JX.320710#7"},"gathering":{"conversions":{"day":18,"month":4,"wgs84CenterPoint":{"lat":60.154979,"lon":24.872122}},"eventDate":{"begin":"2024-04-18","end":"2024-04-18"}}},{"unit":{"unitId":"http://tun.fi/JX.320710#3"},"gathering":{"conversions":{"day":18,"month":4,"wgs84CenterPoint":{"lat":60.154979,"lon":24.872122}},"eventDate":{"begin":"2024-04-18","end":"2024-04-18"}}},{"unit":{"unitId":"http://tun.fi/JX.320710#5"},"gathering":{"conversions":{"day":18,"month":4,"wgs84CenterPoint":{"lat":60.154979,"lon":24.872122}},"eventDate":{"begin":"2024-04-18","end":"2024-04-18"}}},{"unit":{"unitId":"http://tun.fi/JX.320712#6"},"gathering":{"conversions":{"month":4,"wgs84CenterPoint":{"lat":60.146286,"lon":24.72786}},"eventDate":{"begin":"2024-04-17","end":"2024-04-18"},"hourBegin":7,"minutesBegin":2}},{"unit":{"unitId":"http://tun.fi/HR.5766/T1234#U"},"gathering":{"conversions":{"day":16,"month":4,"wgs84CenterPoint":{"lat":60.162202,"lon":24.951719}},"eventDate":{"begin":"2024-04-16","end":"2024-04-16"}}},{"unit":{"unitId":"http://tun.fi/JX.320673#3"},"gathering":{"conversions":{"day":16,"month":4,"wgs84CenterPoint":{"lat":60.162202,"lon":24.951719}},"eventDate":{"begin":"2024-04-16","end":"2024-04-16"}}},{"unit":{"unitId":"http://tun.fi/JX.320671#5"},"gathering":{"conversions":{"day":16,"month":4,"wgs84CenterPoint":{"lat":60.171005,"lon":24.928935}},"eventDate":{"begin":"2024-04-16","end":"2024-04-16"}}},{"unit":{"unitId":"http://tun.fi/JX.320671#3"},"gathering":{"conversions":{"day":16,"month":4,"wgs84CenterPoint":{"lat":60.171005,"lon":24.928935}},"eventDate":{"begin":"2024-04-16","end":"2024-04-16"}}},{"unit":{"unitId":"http://tun.fi/JX.320668#5"},"gathering":{"conversions":{"day":16,"month":4,"wgs84CenterPoint":{"lat":60.170454,"lon":24.940963}},"eventDate":{"begin":"2024-04-16","end":"2024-04-16"}}}]}'
  recorded_at: 2024-04-25 07:35:10 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
