http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":20,"cacheTimestamp":1710491644,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":2639047},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":434835},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":94851},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":32362},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":20835},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":13178},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":9269},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8283},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":6206}]}'
  recorded_at: 2024-03-15 08:34:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-3wvwzAsYLyE0oOS93a7WWpyBAqY"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"fi":"Yksilömäärä","en":"Individual
        count","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"fi":"Parimäärä","en":"Pair
        count","sv":"Parantal"}},{"id":"MY.abundanceUnitNest","value":{"sv":"Nästantal","en":"Nest
        count","fi":"Pesien lukumäärä"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","value":[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5086714,"pageSize":10,"total":50867133,"cacheTimestamp":1710491683,"results":[{"unit":{"unitId":"http://tun.fi/JX.1688560#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688559#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688558#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688557#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688552#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688550#3"}},{"unit":{"abundanceUnit":"DROPPINGS","unitId":"http://tun.fi/JX.1688549#3"}},{"unit":{"abundanceUnit":"DROPPINGS","unitId":"http://tun.fi/JX.1688549#6"}},{"unit":{"unitId":"http://tun.fi/JX.1688547#3"}},{"unit":{"unitId":"http://tun.fi/JX.1688547#5"}}]}'
  recorded_at: 2024-03-15 08:34:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-V0KPcH1RBF+/TkXXdtbMypfRkg0"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":92281,"pageSize":10,"total":922803,"results":[{"unit":{"unitId":"http://tun.fi/A.85037C46-9D1F-458D-97CE-C781763DCE46#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","USER_HIDDEN_LOCATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e3e54750036_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e3e54906023_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e92ce0026ed_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ea7e1eaac56_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ee7084b8a53_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ee7086d5977_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65efc246e058d_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65f2654911e83_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/KE.67/13252783#Unit"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD"]}}]}'
  recorded_at: 2024-03-15 08:34:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
