http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.latestRedListStatusFinland.status%2Cunit.linkings.taxon.latestRedListStatusFinland.year&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4787921,"pageSize":10,"total":47879207,"cacheTimestamp":1693212120,"results":[{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180568359-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180587250-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnNT","year":2019}}},"unitId":"http://tun.fi/HR.3211/180527103-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180586954-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180582630-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180573487-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180586882-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180586748-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180583348-U"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/HR.3211/180586945-U"}}]}'
  recorded_at: 2023-08-28 08:42:00 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.iucnStatuses?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"531-fKhsKevokcRAqJcorJnlgXwZHBY"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.iucnEX","value":{"en":"EX – Extinct","fi":"EX – Sukupuuttoon
        kuolleet","sv":"EX – Utdöd"}},{"id":"MX.iucnEW","value":{"en":"EW – Extinct
        in the Wild","fi":"EW – Luonnosta hävinneet","sv":"EW – Utdöd i vilt tillstånd"}},{"id":"MX.iucnRE","value":{"en":"RE
        – Regionally Extinct","fi":"RE – Suomesta hävinneet","sv":"RE – Nationellt
        utdöd"}},{"id":"MX.iucnCR","value":{"fi":"CR – Äärimmäisen uhanalaiset","en":"CR
        – Critically Endangered","sv":"CR – Akut hotad"}},{"id":"MX.iucnEN","value":{"en":"EN
        – Endangered","fi":"EN – Erittäin uhanalaiset","sv":"EN – Starkt hotad"}},{"id":"MX.iucnVU","value":{"fi":"VU
        – Vaarantuneet","sv":"VU – Sårbar","en":"VU – Vulnerable"}},{"id":"MX.iucnNT","value":{"sv":"NT
        – Nära hotad","fi":"NT – Silmälläpidettävät","en":"NT – Near Threatened"}},{"id":"MX.iucnLC","value":{"fi":"LC
        – Elinvoimaiset","sv":"LC – Livskraftig","en":"LC – Least Concern"}},{"id":"MX.iucnDD","value":{"en":"DD
        – Data Deficient","sv":"DD – Kunskapsbrist","fi":"DD – Puutteellisesti tunnetut"}},{"id":"MX.iucnNA","value":{"sv":"NA
        – Ej tillämplig","fi":"NA – Arviointiin soveltumattomat","en":"NA – Not Applicable"}},{"id":"MX.iucnNE","value":{"fi":"NE
        – Arvioimatta jätetyt","en":"NE – Not Evaluated","sv":"NE – Ej bedömd"}}]'
  recorded_at: 2023-08-28 08:42:00 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
