http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":20,"cacheTimestamp":1714025668,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":2704547},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":435368},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":94926},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":32439},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":21026},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":13193},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":9344},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8304},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":6206}]}'
  recorded_at: 2024-04-25 06:15:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-1m1wJpAtYeIosea8mk3pXTKN9+0"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"sv":"Individantal","fi":"Yksilömäärä","en":"Individual
        count"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair count","sv":"Parantal","fi":"Parimäärä"}},{"id":"MY.abundanceUnitNest","value":{"en":"Nest
        count","fi":"Pesien lukumäärä","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"en":"Number
        of breeding sites (rocks, cavities, etc.)","fi":"Lisääntymispaikkojen lukumäärä
        (kivi, kolo, ym)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","val[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5116536,"pageSize":10,"total":51165358,"cacheTimestamp":1714025708,"results":[{"unit":{"unitId":"http://tun.fi/JX.1703985#45"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#57"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#65"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#89"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#47"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#85"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#15"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#71"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#35"}},{"unit":{"unitId":"http://tun.fi/JX.1703985#55"}}]}'
  recorded_at: 2024-04-25 06:15:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-n+WUD1JbwUHVJQdlkghbCdC+kZA"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":92487,"pageSize":10,"total":924864,"results":[{"unit":{"unitId":"http://tun.fi/A.0E034D20-2D9C-4961-A300-C7F1FA2E6A99#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.8452BB8F-069D-4FA2-9726-E290F28CB667#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.85037C46-9D1F-458D-97CE-C781763DCE46#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","USER_HIDDEN_LOCATION"]}},{"unit":{"unitId":"http://tun.fi/A.DE47CCBF-9EE5-4A30-BEB0-EB8464EF7D89#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e3e54750036_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e3e54906023_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65e92ce0026ed_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ea7e1eaac56_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ee7084b8a53_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/65ee7086d5977_U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}}]}'
  recorded_at: 2024-04-25 06:15:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
