http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5116535,"pageSize":10,"total":51165349,"cacheTimestamp":1714025460,"results":[{"unit":{"unitId":"http://tun.fi/JX.1703985#45"},"gathering":{"conversions":{"day":25,"month":4,"wgs84CenterPoint":{"lat":60.061707,"lon":23.690262}},"eventDate":{"begin":"2024-04-25","end":"2024-04-25"},"hourBegin":7,"hourEnd":8,"minutesBegin":31,"minutesEnd":5}},{"unit":{"unitId":"http://tun.fi/JX.1703985#57"},"gathering":{"conversions":{"day":25,"month":4,"wgs84CenterPoint":{"lat":60.061707,"lon":23.690262}},"eventDate":{"begin":"2024-04-25","end":"2024-04-25"},"hourBegin":7,"hourEnd":8,"minutesBegin":31,"minutesEnd":5}},{"unit":{"unitId":"http://tun.fi/JX.1703985#65"},"gathering":{"conversions":{"day":25,"month":4,"wgs84CenterPoint":{"lat":60.061707,"lon":23.690262}},"eventDate":{"begin":"2024-04-25","end":"2024-04-25"},"hourBegin":7,"hourEnd":8,"[...]
