http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.annotations.created&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4692,"pageSize":10,"total":46913,"cacheTimestamp":1710491688,"results":[{"aggregateBy":{"unit.annotations.created":"2017-11-16
        09:30:00.0"},"count":626},{"aggregateBy":{"unit.annotations.created":"2017-11-23
        12:37:00.0"},"count":196},{"aggregateBy":{"unit.annotations.created":"2020-05-06
        11:49:13.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2020-05-15
        15:05:15.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2020-05-15
        15:09:59.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2021-05-24
        20:07:31.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2021-12-23
        15:23:19.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2023-02-23
        10:02:18.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2023-12-18
        10:58:47.0"},"count":2},{"aggregateBy":{"unit.annotations.created":"2024-03-05
        16:12:22.0"},"count":2}]}'
  recorded_at: 2024-03-15 08:34:48 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
