http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"PHOPHO"},{"fact":"ringedSpecies","value":"PHOPHO"},{"fact":"sex","value":"N"},{"fact":"sexDeterminationMethod","value":"V"},{"fact":"age","value":"2"},{"fact":"ageDeterminationMethod","value":"P"},{"fact":"weightInGrams","value":"14.8"},{"fact":"wingLengthInMillimeters","value":"77"}],"unitId":"http://tun.fi/KE.67/10473851#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"22.6.2015"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"OULU"},{"fact":"euringProvinceCode","value":"SF85"},{"fact":"municipality","value":"OULU"},{"fact":"locality","value":"MIKONKANGAS"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"11"},{"fact":"elyCentre","value":"Pohjois-Pohjanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"17"},{"fact":"finnishProvince","value":"Po[...]
