http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.collectionId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262862,"pageSize":10,"total":2628611,"cacheTimestamp":1695906963,"results":[{"unit":{"unitId":"http://tun.fi/JX.306981#3"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.299095#3"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2397_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2395_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2398_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2394_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2396_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/JX.298435#3"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2393_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2391_U"},"document":{"collectionId":"http://tun.fi/HR.4114"}}]}'
  recorded_at: 2023-09-28 13:16:04 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
