http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5039234,"pageSize":10,"total":50392331,"cacheTimestamp":1705057421,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/65a11bcad5de6fbf10fb576d#Unit1"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":60.22208,"lon":25.090205}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668511#12"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":64.840367,"lon":25.208375}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668511#6"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":64.824963,"lon":25.311421}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668511#3"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":64.814982,"lon":25.319693}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668511#14"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":64.824963,"lon":25.311421}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668471#3"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":62.470488,"lon":25.952107}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"},"hourBegin":12,"minutesBegin":21}},{"unit":{"unitId":"http://tun.fi/JX.1668460#3"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":60.985206,"lon":25.426542}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"},"hourBegin":11,"hourEnd":11,"minutesBegin":18,"minutesEnd":18}},{"unit":{"unitId":"http://tun.fi/JX.1668459#5"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":60.427958,"lon":22.200526}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/JX.1668459#3"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":60.427958,"lon":22.200526}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/196411469-U"},"gathering":{"conversions":{"day":12,"month":1,"wgs84CenterPoint":{"lat":60.23402,"lon":25.10074}},"eventDate":{"begin":"2024-01-12","end":"2024-01-12"}}}]}'
  recorded_at: 2024-01-12 11:03:42 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
