http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.latestRedListStatusFinland.status%2Cunit.linkings.taxon.latestRedListStatusFinland.year&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4807714,"pageSize":10,"total":48077140,"cacheTimestamp":1695901873,"results":[{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641238#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641234#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641234#5"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnNT","year":2019}}},"unitId":"http://tun.fi/JX.1641232#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/KE.176/651566bad5decc17433a88b4#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.1641230#3"}},{"unit":{"unitId":"http://tun.fi/JX.1641230#5"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641228#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641227#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.1641226#3"}}]}'
  recorded_at: 2023-09-28 11:51:14 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.iucnStatuses?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"531-efcLKhqHJTTbcFHw8kQb+8XGTyY"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.iucnEX","value":{"en":"EX – Extinct","fi":"EX – Sukupuuttoon
        kuolleet","sv":"EX – Utdöd"}},{"id":"MX.iucnEW","value":{"en":"EW – Extinct
        in the Wild","fi":"EW – Luonnosta hävinneet","sv":"EW – Utdöd i vilt tillstånd"}},{"id":"MX.iucnRE","value":{"en":"RE
        – Regionally Extinct","fi":"RE – Suomesta hävinneet","sv":"RE – Nationellt
        utdöd"}},{"id":"MX.iucnCR","value":{"fi":"CR – Äärimmäisen uhanalaiset","en":"CR
        – Critically Endangered","sv":"CR – Akut hotad"}},{"id":"MX.iucnEN","value":{"en":"EN
        – Endangered","fi":"EN – Erittäin uhanalaiset","sv":"EN – Starkt hotad"}},{"id":"MX.iucnVU","value":{"sv":"VU
        – Sårbar","en":"VU – Vulnerable","fi":"VU – Vaarantuneet"}},{"id":"MX.iucnNT","value":{"sv":"NT
        – Nära hotad","en":"NT – Near Threatened","fi":"NT – Silmälläpidettävät"}},{"id":"MX.iucnLC","value":{"fi":"LC
        – Elinvoimaiset","sv":"LC – Livskraftig","en":"LC – Least Concern"}},{"id":"MX.iucnDD","value":{"en":"DD
        – Data Deficient","sv":"DD – Kunskapsbrist","fi":"DD – Puutteellisesti tunnetut"}},{"id":"MX.iucnNA","value":{"sv":"NA
        – Ej tillämplig","fi":"NA – Arviointiin soveltumattomat","en":"NA – Not Applicable"}},{"id":"MX.iucnNE","value":{"sv":"NE
        – Ej bedömd","fi":"NE – Arvioimatta jätetyt","en":"NE – Not Evaluated"}}]'
  recorded_at: 2023-09-28 11:51:14 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
