http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1623,"pageSize":10,"total":16223,"results":[{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/90912894/original.jpeg?1597925877"}],"unitId":"http://tun.fi/HR.3211/57016874-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.4324/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.716751"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.6171/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.722859"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/73693925/original.jpeg?1589871385"}],"unitId":"http://tun.fi/HR.3211/46461482-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium[...]
