http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16263,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.10885/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.683761"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EA7.1ZK/Preview001.jpg"},{"fullURL":"https://id.digitarium.fi/api/EA7.1ZK/Preview002.jpg"}],"unitId":"http://tun.fi/MY.243464"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/74247964/original.jpeg?1590131057"}],"unitId":"http://tun.fi/HR.3211/46815220-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1586268/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.765244"}},[...]
