http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":173585,"pageSize":10,"total":1735842,"results":[{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/93726871/original.jpg?1599382520"},{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/93726895/original.jpg?1599382532"}],"unitId":"http://tun.fi/HR.3211/58694313-U"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.2234123/TT2021-557_medullata...okra_itiopoly_loviisa_labby_30.8.2021.jpg"},{"fullURL":"https://image.laji.fi/MM.2234124/TT2021-557_medullata...okra_itiopoly_loviisa_labby_30.8.2021_8.5x6um_okra_poly.jpg"},{"fullURL":"https://image.laji.fi/MM.2234125/TT2021-557_medullata...okra_itiopoly_loviisa_labby_30.8.2021_7.5x6um.jpg"}],"unitId":"http://tun.fi/JX.1409526#198"}},{"unit":{"media":[{"fullURL":"https://id[...]
