http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262126,"pageSize":10,"total":2621259,"cacheTimestamp":1693220489,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/64e725902d0ec27bece0497f#Unit1"},"gathering":{"conversions":{"day":24,"month":8,"wgs84CenterPoint":{"lat":61.179,"lon":23.875}},"eventDate":{"begin":"2023-08-24","end":"2023-08-24"}}},{"unit":{"unitId":"http://tun.fi/JX.298355#3"},"gathering":{"conversions":{"day":10,"month":8,"wgs84CenterPoint":{"lat":60.241027,"lon":25.09147}},"eventDate":{"begin":"2023-08-10","end":"2023-08-10"},"hourBegin":9,"hourEnd":9,"minutesBegin":47,"minutesEnd":48}},{"unit":{"unitId":"http://tun.fi/JX.298355#5"},"gathering":{"conversions":{"day":10,"month":8,"wgs84CenterPoint":{"lat":60.241857,"lon":25.089933}},"eventDate":{"begin":"2023-08-10","end":"2023-08-10"},"hourBegin":9,"hourEnd":9,"minutesBegin":47,"minutesEnd":48}},{"unit":{"unitId":"http://tun.fi/HR.4114/2314_U"},"gathering":{"conversions":{"day":8,"month":8,"wgs84CenterPoint":{"lat":61.466593,"lon":23.727776}},"eventDate":{"begin":"2023-08-08","end":"2023-08-08"}}},{"unit":{"unitId":"http:/[...]
