http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":200312,"pageSize":10,"total":2003113,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.532247/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.11074417"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.176426/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4458567"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.510146/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.13898299"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.193417/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.14178449"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.244912/IMG_0875.JPG"}],"unitId":"http://tun.fi/JX.71676#5"}},{"unit":{"unitId":"http://tun.fi/KE.8_1067573#6"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1122619/CombinedPreview_001-002.jpg"}],"unitId":"http://tun.fi/MY.750811"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/249853443/original.jpeg"},{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/249853489/original.jpeg"},{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/249853470/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/145459552-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.85859/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4875258"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.549536/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.11143565"}}]}'
  recorded_at: 2023-08-28 08:38:50 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
