http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4807714,"pageSize":10,"total":48077140,"cacheTimestamp":1695901767,"results":[{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641234#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641234#5"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641232#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/KE.176/651566bad5decc17433a88b4#Unit1"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641230#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641230#5"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641228#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641227#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641226#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1641224#3"}}]}'
  recorded_at: 2023-09-28 11:49:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
