http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4732529,"pageSize":10,"total":47325286,"cacheTimestamp":1687937340,"results":[{"unit":{"abundanceString":"4-5","interpretations":{"individualCount":4},"unitId":"http://tun.fi/KE.176/649bdfc9d5def54a0f0b4f23#Unit1"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602362#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1602360#42"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602360#27"}},{"unit":{"abundanceString":"Q","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602360#48"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1602360#33"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602360#6"}},{"unit":{"abundanceString":"13","interpretations":{"individualCount":13},"unitId":"http://tun.fi/JX.1602360#9"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602360#45"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1602360#30"}}]}'
  recorded_at: 2023-06-28 07:29:00 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
