http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":293376,"pageSize":10,"total":2933752,"cacheTimestamp":1710513806,"results":[{"unit":{"unitId":"http://tun.fi/JX.320463#3"},"gathering":{"conversions":{"day":14,"month":3,"wgs84CenterPoint":{"lat":65.036407,"lon":25.485458}},"eventDate":{"begin":"2024-03-14","end":"2024-03-14"},"hourBegin":10,"hourEnd":12,"minutesBegin":30,"minutesEnd":0}},{"unit":{"unitId":"http://tun.fi/JX.320395#3"},"gathering":{"conversions":{"day":12,"month":3,"wgs84CenterPoint":{"lat":61.321157,"lon":25.433038}},"eventDate":{"begin":"2024-03-12","end":"2024-03-12"}}},{"unit":{"unitId":"http://tun.fi/JX.320253#3"},"gathering":{"conversions":{"day":1,"month":3,"wgs84CenterPoint":{"lat":63.495534,"lon":24.854576}},"eventDate":{"begin":"2024-03-01","end":"2024-03-01"}}},{"unit":{"unitId":"http://tun.fi/JX.320252#7"},"gathering":{"conversions":{"day":1,"month[...]
