http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":187331,"pageSize":10,"total":1873305,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.44304/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.12947283"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.135280/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.4343625"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.468016/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.8770499"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.338969/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.9834258"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.491840/Previe[...]
