http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":292593,"pageSize":10,"total":2925923,"cacheTimestamp":1705051550,"results":[{"unit":{"unitId":"http://tun.fi/JX.312515#3"},"gathering":{"conversions":{"day":11,"month":1,"wgs84CenterPoint":{"lat":62.941598,"lon":26.76497}},"eventDate":{"begin":"2024-01-11","end":"2024-01-11"}}},{"unit":{"unitId":"http://tun.fi/JX.312492#3"},"gathering":{"conversions":{"day":2,"month":1,"wgs84CenterPoint":{"lat":61.40794,"lon":23.906824}},"eventDate":{"begin":"2024-01-02","end":"2024-01-02"},"hourBegin":18,"minutesBegin":6}},{"unit":{"unitId":"http://tun.fi/JX.312453#3"},"gathering":{"conversions":{"day":1,"month":1,"wgs84CenterPoint":{"lat":61.40794,"lon":23.906824}},"eventDate":{"begin":"2024-01-01","end":"2024-01-01"},"hourBegin":13,"minutesBegin":26}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160833-U"},"gathering":{"conversions":{"day":29,"month":12,"wgs84CenterPoint":{"lat":61.21255,"lon":21.74761}},"eventDate":{"begin":"2023-12-29","end":"2023-12-29"}}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160871[...]
