http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1298848,"pageSize":10,"total":12988478,"results":[{"unit":{"facts":[{"fact":"species","value":"ACRSCH"},{"fact":"ringedSpecies","value":"ACRSCH"},{"fact":"age","value":"1"},{"fact":"ageDeterminationMethod","value":"K"},{"fact":"weightInGrams","value":"11.9"},{"fact":"wingLengthInMillimeters","value":"70"}],"unitId":"http://tun.fi/KE.67/1123716#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"16.8.1986"},{"fact":"hour","value":"9"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"UUSIMAA"},{"fact":"euringProvinceCode","value":"SF87"},{"fact":"municipality","value":"ESPOO"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"1"},{"fact":"elyCentre","value":"Uudenmaan
        ELY"},{"fact":"finnishProvinceCode","value":"1"},{"fact":"finnishProvince","value":"Uusimaa"},{"fact":"finn[...]
