http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":211672,"pageSize":10,"total":2116713,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.171522/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.5767625"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.126332/2881._Palterohapero_160716.JPG"}],"unitId":"http://tun.fi/JX.6950#4"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.211296/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.14249965"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.437081/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.8646783"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.104683/029.JPG"}],"unitId":"http://tun.fi/KE.176/565f35e62d0ebeb50bdfea2a#Unit1"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.201597/Preview001.jpg"}],"unitId":"http://tun.fi/MKC.18343870"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.512320/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.10994709"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/179929992/original.jpg"}],"unitId":"http://tun.fi/HR.3211/107029581-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/198323603/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/117430230-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/81036206/original.jpeg?1593199727"},{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/81036267/original.jpeg?1593199749"}],"unitId":"http://tun.fi/HR.3211/51016935-U"}}]}'
  recorded_at: 2023-09-28 11:47:38 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
