http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16264,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.753/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.727347"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/EIG.10446/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.682321"}},{"unit":{"media":[{"fullURL":"https://luomus.digitarium.fi/MM.46122/HA.H9504503.jpg"},{"fullURL":"https://luomus.digitarium.fi/MM.46133/HA.H9504503_a.jpg"}],"unitId":"http://tun.fi/MY.163168"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/93222641/original.jpeg?1599106165"},{"fullURL":"https://proxy.laji.fi/inatura[...]
