http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.annotations.created&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":89,"pageSize":10,"total":888,"cacheTimestamp":1710513815,"results":[{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:05:38.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:01.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:03.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:47.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:07:13.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:08:02.0"},"count":10},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:05:31.0"},"count":9},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:36.0"},"count":9},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:39.0"},"count":9},{"aggregateBy":{"unit.annotations.created":"2019-11-11
        15:06:45.0"},"count":9}]}'
  recorded_at: 2024-03-15 14:43:35 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
