http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?primaryHabitat=MKV.habitatM%5BMKV.habitatSpecificTypeV%2CMKV.habitatSpecificTypeH%5D&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cunit.interpretations.individualCount%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.interpretations.coordinateAccuracy%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":21,"pageSize":10,"total":209,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.1164484#31"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":67.811284,"lon":24.811018}},"eventDate":{"begin":"2020-10-13","end":"2020-10-13"},"interpretations":{"coordinateAccuracy":1000}}},{"unit":{"interpretations":{"individualCount":5,"needsCheck":false,"needsIdentification":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum
        caeruleum"}},"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.1163330#4"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":60.242871,"lon":25.063334}},"eventDate":{"begin":"2020-09-29","end":"2020-09-29"},"interpretations":{"coordinateAccuracy":1}}}[...]
- request:
    method: get
    uri: https://api.laji.fi/explorer/swagger.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bf0f4-AgizeQdx4XE7YlArVGcLHFO1gmA"
    body:
      encoding: ''
      file: no
      string: '{"swagger":"2.0","info":{"title":"API documentation","description":"\nAccess
        token is needed to use this API. To get a token, send a POST request with
        your email address to\n/api-users endpoint and one will be send to your. Each
        endpoint bellow has more information on how to use this API.\nIf you have
        any questions you can contact us at helpdesk@laji.fi.\n\nYou can find more
        documentation [here](https://laji.fi/about/806).\n\n##Endpoints\n\nObservations
        and collections\n* Warehouse - Observation Data Warehouse API[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/collections?lang=en&page=1&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9eeb7-4RjXZD4wQ4iNIASwh7Unh69RYNc"
    body:
      encoding: ''
      file: no
      string: "{\"currentPage\":1,\"pageSize\":1000,\"total\":881,\"results\":[{\"id\":\"HR.22\",\"collectionName\":\"Hymenoptera
        Eastern Fennoscandia (Luomus)\",\"collectionQuality\":\"MY.collectionQualityEnum3\",\"collectionSize\":\"1000000\",\"collectionType\":\"MY.collectionTypeSpecimens\",\"contactEmail\":\"juho.paukkunen@helsinki.fi\",\"dataQuality\":\"MY.dataQuality5\",\"description\":\"Hymenoptera
        of Finland and Russian Fennoscandia\",\"digitizedSize\":\"13\",\"downloadRequestHandler\":[\"MA.32\"],\"geographicCoverage\":\"Finland
        and Russian Fennoscandia\",\"intellectualRights\":\"MY.intellectualRightsCC-BY\",\"isPartOf\":\"HR.42\",\"language\":\"english\",\"metadataCreator\":\"Paukkunen,
        Juho\",\"personResponsible\":\"Paukkunen, Juho\",\"publicationTerms\":\"MY.publicationTermsFree\",\"taxonomicCoverage\":\"Hymenoptera\",\"temporalCoverage\":\"ca.
        1830 to present\",\"typesSize\":\"2500\",\"dateCreated\":\"2012-10-26T10:01:35+0300\",\"dateEdited\":\"2020-10-21T11:25:08+0300\",\"owner\":\"MOS.1007\",\"longName\":\"Hymenoptera
        Eastern Fennoscandia (Luomus)\",\"hasChildren\":false},{\"id\":\"HR.23\",\"collectionName\":\"Hymenoptera
        World (Luomus)\",\"collectionQuality\":\"MY.collectionQualityEnum3\",\"collectionSize\":\"500000\",\"collectionType\":\"MY.collectionTypeSpecimens\",\"contactEmail\":\"juho.paukkunen@helsinki.fi\",\"dataQuality\":\"MY.dataQuality5\",\"description\":\"Hymenoptera
        of the world except Finland and Russian Fennoscandia\",\"digitizedSize\":\"1\",\"downloadRequestHandler\":[\"MA.32\"],\"geographicCoverage\":\"World
        except Finland and Russian Fennoscandia\",\"intellectualRights\":\"MY.intellectualRightsCC-BY\",\"isPartOf\":\"HR.42\",\"language\":\"english\",\"metadataCreator\":\"Malinen,
        Pekka\",\"notes\":\"Collection size very approximate\",\"personResponsible\":\"Paukkunen,
        Juho\",\"publicationTerms\":\"MY.publicationTermsFree\",\"taxonomicCoverage\":\"Hymenoptera\",\"temporalCoverage\":\"ca.
        1830-\",\"typesSize\":\"1500\",\"dateCreated\":\"2012-10-26T12:42:12+0300\",\"dateEdited\":\"2020-10-21T11:22:54+0300\",\"owner\":\"MOS.1007\",\"longName\":\"Hymenoptera
        World (Luomus)\",\"hasChildren\":false},{\"id\":\"HR.24\",\"collectionName\":\"Hymenoptera
        Nylander (Luomus)\",\"collectionQuality\":\"MY.collectionQualityEnum3\",\"collectionSize\":\"1000\",\"collectionType\":\"MY.collectionTypeSpecimens\",\"contactEmail\":\"juho.paukkunen@helsinki.fi\",\"dataQuality\":\"MY.dataQuality5\",\"description\":\"Hymenoptera
        collection of William Nylander\",\"digitizedSize\":\"15\",\"downloadRequestHandler\":[\"MA.32\"],\"geographicCoverage\":\"World\",\"intellectualOwner\":\"Luomus\",\"intellectualRights\":\"MY.intellectualRightsCC-BY\",\"isPartOf\":\"HR.42\",\"language\":\"english\",\"metadataCreator\":\"Malinen,
        Pekka\",\"notes\":\"Collection size very approximate\",\"personResponsible\":\"Paukkunen,
        Juho\",\"publicationTerms\":\"MY.publicationTermsFree\",\"taxonomicCoverage\":\"Hymenoptera\",\"temporalCoverage\":\"ca.
        1830-\",\"typesSize\":\"150\",\"dateCreated\":\"2012-10-26T12:42:40+0300\",\"dateEdited\":\"2020-10-21T11:25:38+0300\",\"owner\":\"MOS.1007\",\"longName\":\"Hymenoptera
        Nylander (Luomus)\",\"hasChildren\":false},{\"id\":\"HR.39\",\"citation\":\"Fraixedas
        Nuñez, S., Lehikoinen, A., Lindén, A. 2015: Impact of climate and land change
        on wintering bird populations in Finland. — Journal of Avian Biology 46: 63–72.\",\"collectionName\":\"Winter
        Bird Census\",\"collectionQuality\":\"MY.collectionQualityEnum2\",\"collectionSize\":\"1100000\",\"collectionType\":\"MY.collectionTypeMonitoring\",\"contactEmail\":\"aleksi.lehikoinen@helsinki.fi\",\"coverageBasis\":\"Winter
        season, November - March\",\"dataQuality\":\"MY.dataQuality3\",\"dataQualityDescription\":\"From
        year 2019, 390 documents are incorrectly missing MY.taxonCensus: aves -key/value,
        which tell that all observed birds have been recorded during the census.\",\"description\":\"Censuses
        cover all observed bird species. Annual counts have been done in the winter
        time since 1957. Methodology is explained in link: \\r\\nhttp://www.luomus.fi/seurannat/methods.htm\",\"digitizedSize\":\"100\",\"downloadRequestHandler\":[\"MA.21\"],\"geographicCoverage\":\"Finland\",\"intellectualRights\":\"MY.intellectualRightsCC-BY\",\"isPartOf\":\"HR.173\",\"language\":\"finnish\",\"metadataCreator\":\"Lehikoinen,
        Aleksi\",\"metadataStatus\":\"MY.metadataStatusSatisfactory\",\"methods\":\"In
        English: http://www.luomus.fi/seurannat/methods.htm\\r\\nIn Finnish: http://www.luomus.fi/seurannat/talvilintulaskennat/index.htm\",\"onlineUrl\":\"http://koivu.luomus.fi/seurannat/methods.htm\",\"personResponsible\":\"Lehikoinen,
        Aleksi\",\"taxonomicCoverage\":\"Aves\",\"temporalCoverage\":\"Since winter
        1956/57\",\"typesSize\":\"0\",\"dateCreated\":\"2012-10-23T13:14:48+0300\",\"dateEdited\":\"2020-08-19T08:39:12+0300\",\"owner\":\"MOS.1010\",\"longName\":\"Winter
        Bird Census\",\"hasChildren\":false},{\"id\":\"HR.40\",\"collectionName\":\"Age
        determination data\",\"collectionType\":\"MY.collectionTypeOthe[...]
