http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1272712,"pageSize":10,"total":12727115,"results":[{"unit":{"unitId":"http://tun.fi/KE.67/12292151#Unit"}},{"unit":{"facts":[{"fact":"ringVerification","value":"V"},{"fact":"fieldReadableCode","value":"FD65731B887FD56158A3BD99C9D7B45E"},{"fact":"attachmentPoint","value":"A"},{"fact":"mainColor","value":"PU"},{"fact":"codeColor","value":"VA"},{"fact":"codeAlign","value":"PE"},{"fact":"upsideDown","value":"A"},{"fact":"attachmentLeftRight","value":"V"},{"fact":"species","value":"LARFUS"},{"fact":"ringedSpecies","value":"LARFUS"},{"fact":"age","value":"1"},{"fact":"ageDeterminationMethod","value":"V"}],"unitId":"http://tun.fi/KE.67/9701982#Unit"},"gathering":{"facts":[{"fact":"type","value":"recovery"},{"fact":"eventDate","value":"2.8.2005"},{"fact":"eventDateAccuracy","value":"0"},{"fact":"hour","value":"7"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"HÄME"},{"fact":"euringProvinceCode","value":"SF80"},{"fact":"municipality","value":"TAMPER"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"4"},{"fact":"elyCentre","value":"Pirkanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"6"},{"fact":"finnishPr[...]
