http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244105,"pageSize":10,"total":2441041,"cacheTimestamp":1680071187,"results":[{"unit":{"unitId":"http://tun.fi/JX.297813#3"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":60.240532,"lon":25.089788}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"},"hourBegin":8,"hourEnd":8,"minutesBegin":28,"minutesEnd":28}},{"unit":{"unitId":"http://tun.fi/JX.297813#6"},"gathering":{"conversions":{"day":29,"month":3,"wgs84CenterPoint":{"lat":60.240907,"lon":25.088351}},"eventDate":{"begin":"2023-03-29","end":"2023-03-29"},"hourBegin":8,"hourEnd":8,"minutesBegin":28,"minutesEnd":28}},{"unit":{"unitId":"http://tun.fi/JX.297810#3"},"gathering":{"conversions":{"day":27,"month":3,"wgs84CenterPoint":{"lat":64.469952,"lon":28.796716}},"eventDate":{"begin":"2023-03-27","end":"2023-03-27"}}},{"unit":{"unitId":"http://t[...]
