http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4732529,"pageSize":10,"total":47325286,"cacheTimestamp":1687937310,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/649bdfc9d5def54a0f0b4f23#Unit1"},"gathering":{"conversions":{"day":28,"month":6,"wgs84CenterPoint":{"lat":62.935042,"lon":27.630329}},"eventDate":{"begin":"2023-06-28","end":"2023-06-28"}}},{"unit":{"unitId":"http://tun.fi/JX.1602362#3"},"gathering":{"conversions":{"day":28,"month":6,"wgs84CenterPoint":{"lat":65.146631,"lon":25.381327}},"eventDate":{"begin":"2023-06-28","end":"2023-06-28"}}},{"unit":{"unitId":"http://tun.fi/JX.1602360#42"},"gathering":{"conversions":{"day":28,"month":6,"wgs84CenterPoint":{"lat":65.443003,"lon":28.931371}},"eventDate":{"begin":"2023-06-28","end":"2023-06-28"},"hourBegin":10,"minutesBegin":10}},{"unit":{"unitId":"http://tun.fi/JX.1602360#27"},"gathering":{"conversions":{"day":28,"month":6,"wgs84CenterPoint":{"lat":65.444143,"lon":28.886983}},"eventDate":{"begin":"2023-06-28","end":"2023-06-28"},"hourBegin":9,"minutesBegin":46}},{"unit":{"unitId":"http://tun.fi/JX.1602360#48"},"gathering":{"conversions":{"day":28,"month":6,"wgs84CenterPoint":{"lat":65.443209,"lon":28.932294}},"eventDate":{"begin":"2023-06-28","end":"2023-06-28"},"hourBegin":10,"minutesBegin":12}},{"unit":{"unitId":[...]
