http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":292593,"pageSize":10,"total":2925923,"cacheTimestamp":1705051551,"results":[{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.312515#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.312492#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.312453#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195160833-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195160871-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195160953-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195156808-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195156496-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195124603-U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.3211/195155319-U"}}]}'
  recorded_at: 2024-01-12 12:02:44 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
