http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5116535,"pageSize":10,"total":51165349,"cacheTimestamp":1714025500,"results":[{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1703985#45"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1703985#57"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1703985#65"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.1703985#89"}},{"unit":{"abundanceString":"30","interpretations":{"individualCount":30},"unitId":"http://tun.fi/JX.1703985#47"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1703985#85"}},{"unit":{"abundanceString":"100","interpretations":{"individualCount":100},"unitId":"http://tun.fi/JX.1703985#15"}},{"unit":{"abundanceString":"7","interpretations":{"individualCount":7},"unitId":"http://tun.fi/JX.1703985#71"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.1703985#35"}},{"unit":{"abundanceString":"10","interpretations":{"individualCount":10},"unitId":"http://tun.fi/JX.1703985#55"}}]}'
  recorded_at: 2024-04-25 06:11:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
