http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262126,"pageSize":10,"total":2621259,"cacheTimestamp":1693220490,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/64e725902d0ec27bece0497f#Unit1"},"document":{"documentId":"http://tun.fi/KE.176/64e725902d0ec27bece0497f","sourceId":"http://tun.fi/KE.176"}},{"unit":{"unitId":"http://tun.fi/JX.298355#3"},"document":{"documentId":"http://tun.fi/JX.298355","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/JX.298355#5"},"document":{"documentId":"http://tun.fi/JX.298355","sourceId":"http://tun.fi/KE.1141"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2314_U"},"document":{"documentId":"http://tun.fi/HR.4114/2314","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2313_U"},"document":{"documentId":"http://tun.fi/HR.4114/2313","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2310_U"},"document":{"documentId":"http://tun.fi/HR.4114/2310","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2312_U"},"document":{"documentId":"http://tun.fi/HR.4114/2312","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2307_U"},"document":{"documentId":"http://tun.fi/HR.4114/2307","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2308_U"},"document":{"documentId":"http://tun.fi/HR.4114/2308","sourceId":"http://tun.fi/KE.1462"}},{"unit":{"unitId":"http://tun.fi/HR.4114/2309_U"},"document":{"documentId":"http://tun.fi/HR.4114/2309","sourceId":"http://tun.fi/KE.1462"}}]}'
  recorded_at: 2023-08-28 11:01:31 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
