http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":292593,"pageSize":10,"total":2925923,"cacheTimestamp":1705051552,"results":[{"unit":{"unitId":"http://tun.fi/JX.312515#3"},"document":{"documentId":"http://tun.fi/JX.312515","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.312492#3"},"document":{"documentId":"http://tun.fi/JX.312492","sourceId":"http://tun.fi/KE.1481"}},{"unit":{"unitId":"http://tun.fi/JX.312453#3"},"document":{"documentId":"http://tun.fi/JX.312453","sourceId":"http://tun.fi/KE.1481"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160833-U"},"document":{"documentId":"http://tun.fi/HR.3211/195160833","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160871-U"},"document":{"documentId":"http://tun.fi/HR.3211/195160871","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195160953-U"},"document":{"documentId":"http://tun.fi/HR.3211/195160953","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195156808-U"},"document":{"documentId":"http://tun.fi/HR.3211/195156808","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195156496-U"},"document":{"documentId":"http://tun.fi/HR.3211/195156496","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195124603-U"},"document":{"documentId":"http://tun.fi/HR.3211/195124603","sourceId":"http://tun.fi/KE.901"}},{"unit":{"unitId":"http://tun.fi/HR.3211/195155319-U"},"document":{"documentId":"http://tun.fi/HR.3211/195155319","sourceId":"http://tun.fi/KE.901"}}]}'
  recorded_at: 2024-01-12 12:02:44 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
