http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1292564,"pageSize":10,"total":12925635,"results":[{"unit":{"facts":[{"fact":"species","value":"PHOPHO"},{"fact":"ringedSpecies","value":"PHOPHO"},{"fact":"age","value":"PP"}],"unitId":"http://tun.fi/KE.67/10225602#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"3.7.2014"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"VAASA"},{"fact":"euringProvinceCode","value":"SF88"},{"fact":"municipality","value":"KANNUS"},{"fact":"locality","value":"VARESLAMMIT"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"10"},{"fact":"elyCentre","value":"Etelä-Pohjanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"16"},{"fact":"finnishProvince","value":"Ke[...]
