http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"BUTBUT"},{"fact":"ringedSpecies","value":"BUTBUT"},{"fact":"age","value":"PP"},{"fact":"weightInGrams","value":"610"},{"fact":"wingLengthInMillimeters","value":"164"}],"unitId":"http://tun.fi/KE.67/11365740#Unit"}},{"unit":{"facts":[{"fact":"species","value":"APUAPU"},{"fact":"ringedSpecies","value":"APUAPU"},{"fact":"age","value":"PP"}],"unitId":"http://tun.fi/KE.67/2073#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"25.7.1986"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"UUSIMAA"},{"fact":"euringProvinceCode","value":"SF87"},{"fact":"municipality","value":"KERAVA"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"1"},{"fact":"elyCentre","value":"Uudenmaan
        ELY"},{"fact":"finnishProvinceCode","value":"1"},{"fact":"finnishProvince","value":"Uusimaa"},{"fact":"finnishOldCountyCode","value":"[...]
