http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":249572,"pageSize":10,"total":2495715,"results":[{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.70994/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.3168493"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.566195/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.15434713"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.299188/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.14919994"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/302420400/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/174098067-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.338205/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.9831338"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.528187/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.14640301"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/103008177/original.jpg"}],"unitId":"http://tun.fi/HR.3211/64105913-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/264976470/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/153418426-U"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.2743614/20230603_102626.jpg"}],"unitId":"http://tun.fi/JX.1588346#19"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/C.530050/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.11065629"}}]}'
  recorded_at: 2024-03-15 08:29:34 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
