http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16263,"results":[{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/93089785/original.jpeg?1599032024"}],"unitId":"http://tun.fi/HR.3211/58313992-U"}},{"unit":{"media":[{"fullURL":"https://luomus.digitarium.fi/MM.38985/HA.H9201437_a.jpg"},{"fullURL":"https://luomus.digitarium.fi/MM.38975/HA.H9201437.jpg"}],"unitId":"http://tun.fi/MY.131886"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/H.1704498/Combined_001-002.jpg"}],"unitId":"http://tun.fi/MY.774277"}},{"unit":{"unitId":"http://tun.fi/KE.8/1142649#10"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/96629808/origina[...]
