http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.latestRedListStatusFinland.status%2Cunit.linkings.taxon.latestRedListStatusFinland.year&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244105,"pageSize":10,"total":2441041,"cacheTimestamp":1680071189,"results":[{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297813#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297813#6"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnNT","year":2000}}},"unitId":"http://tun.fi/JX.297810#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnNT","year":2000}}},"unitId":"http://tun.fi/JX.297810#7"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnLC","year":2019}}},"unitId":"http://tun.fi/JX.297774#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297773#3"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297773#9"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297773#11"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297773#7"}},{"unit":{"linkings":{"taxon":{"latestRedListStatusFinland":{"status":"http://tun.fi/MX.iucnVU","year":2019}}},"unitId":"http://tun.fi/JX.297773#5"}}]}'
  recorded_at: 2023-03-29 09:10:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.iucnStatuses?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"531-gS47FAs+MwyrxNJbgc0CV/r/AUY"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.iucnEX","value":{"en":"EX – Extinct","fi":"EX – Sukupuuttoon
        kuolleet","sv":"EX – Utdöd"}},{"id":"MX.iucnEW","value":{"en":"EW – Extinct
        in the Wild","fi":"EW – Luonnosta hävinneet","sv":"EW – Utdöd i vilt tillstånd"}},{"id":"MX.iucnRE","value":{"en":"RE
        – Regionally Extinct","fi":"RE – Suomesta hävinneet","sv":"RE – Nationellt
        utdöd"}},{"id":"MX.iucnCR","value":{"fi":"CR – Äärimmäisen uhanalaiset","en":"CR
        – Critically Endangered","sv":"CR – Akut hotad"}},{"id":"MX.iucnEN","value":{"en":"EN
        – Endangered","fi":"EN – Erittäin uhanalaiset","sv":"EN – Starkt hotad"}},{"id":"MX.iucnVU","value":{"sv":"VU
        – Sårbar","en":"VU – Vulnerable","fi":"VU – Vaarantuneet"}},{"id":"MX.iucnNT","value":{"sv":"NT
        – Nära hotad","en":"NT – Near Threatened","fi":"NT – Silmälläpidettävät"}},{"id":"MX.iucnLC","value":{"fi":"LC
        – Elinvoimaiset","sv":"LC – Livskraftig","en":"LC – Least Concern"}},{"id":"MX.iucnDD","value":{"en":"DD
        – Data Deficient","sv":"DD – Kunskapsbrist","fi":"DD – Puutteellisesti tunnetut"}},{"id":"MX.iucnNA","value":{"en":"NA
        – Not Applicable","sv":"NA – Ej tillämplig","fi":"NA – Arviointiin soveltumattomat"}},{"id":"MX.iucnNE","value":{"fi":"NE
        – Arvioimatta jätetyt","en":"NE – Not Evaluated","sv":"NE – Ej bedömd"}}]'
  recorded_at: 2023-03-29 09:10:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
