http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1289528,"pageSize":10,"total":12895275,"results":[{"unit":{"facts":[{"fact":"species","value":"LARFUS"},{"fact":"ringedSpecies","value":"LARFUS"},{"fact":"age","value":"PM"}],"unitId":"http://tun.fi/KE.67/4447304#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"5.7.1992"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"KYMI"},{"fact":"euringProvinceCode","value":"SF82"},{"fact":"municipality","value":"KOTKA"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"5"},{"fact":"elyCentre","value":"Kaakkois-Suomen
        ELY"},{"fact":"finnishProvinceCode","value":"8"},{"fact":"finnishProvince","value":"Kymenlaakso"},{"fact":"finnishOldCountyCode","val[...]
