http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.121&informalTaxonGroupId=MVL.37&selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"lastPage":1,"pageSize":10,"total":0,"results":[]}'
  recorded_at: 2024-04-25 06:15:14 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
