http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1169,"pageSize":10,"total":11690,"results":[{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.102001/039_au3.jpeg"}],"unitId":"http://tun.fi/JX.249607#3"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/82710202/original.jpg?1593969242"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/82710219/original.jpg?1593969247"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/82710168/original.jpg?1593969232"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/82710184/original.jpg?1593969237"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/82710233/original.jpg?1593969251"}],"unitId":"h[...]
