http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1314691,"pageSize":10,"total":13146905,"results":[{"unit":{"facts":[{"fact":"species","value":"FRIMON"},{"fact":"ringedSpecies","value":"FRIMON"},{"fact":"sex","value":"N"},{"fact":"age","value":"+1"}],"unitId":"http://tun.fi/KE.67/7663511#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"23.4.1978"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"ÅLAND"},{"fact":"euringProvinceCode","value":"SF90"},{"fact":"municipality","value":"LEMLAN"},{"fact":"birdStation","value":"LÅGSI"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"14"},{"fact":"elyCentre","value":"Ålands
        Landskapsregering"},{"fact":"finnishProvinceCode","value":"21"},{"fact":"finnishProvince","value":"[...]
