http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1185,"pageSize":10,"total":11849,"results":[{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/90786760/original.jpg?1597854645"}],"unitId":"http://tun.fi/HR.3211/56946221-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/95519196/original.jpeg?1600256818"}],"unitId":"http://tun.fi/HR.3211/59765507-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/78676438/original.jpg?1592131432"}],"unitId":"http://tun.fi/HR.3211/49558818-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/93556922/original.jpeg?1599308842"},{"fullURL":"https://proxy.laji.fi/inaturalist/pho[...]
