http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"ACCGEN"},{"fact":"ringedSpecies","value":"ACCGEN"},{"fact":"sex","value":"N"},{"fact":"age","value":"PP"},{"fact":"weightInGrams","value":"1000"},{"fact":"wingLengthInMillimeters","value":"205"}],"unitId":"http://tun.fi/KE.67/10406431#Unit"}},{"unit":{"facts":[{"fact":"species","value":"TRIGLA"},{"fact":"ringedSpecies","value":"TRIGLA"},{"fact":"age","value":"1"},{"fact":"weightInGrams","value":"52"},{"fact":"wingLengthInMillimeters","value":"126"}],"unitId":"http://tun.fi/KE.67/11060416#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"9.8.2017"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"HÄME"},{"fact":"euringProvinceCode","value":"SF80"},{"fact":"municipality","value":"LEMPÄÄ"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"4"},{"fact":"elyCentre","value":"Pirkanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"6"},{"fact":"finnishProvince","value":"Pirkanmaa"},{"fact":"finnishOldCountyCode","value":"4[...]
