http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":20,"cacheTimestamp":1705057607,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":2596878},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":432705},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":93405},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":32170},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":20763},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":11720},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8229},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":7810},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6172}]}'
  recorded_at: 2024-01-12 11:07:29 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-1m1wJpAtYeIosea8mk3pXTKN9+0"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"sv":"Individantal","fi":"Yksilömäärä","en":"Individual
        count"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair count","sv":"Parantal","fi":"Parimäärä"}},{"id":"MY.abundanceUnitNest","value":{"en":"Nest
        count","fi":"Pesien lukumäärä","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"en":"Number
        of breeding sites (rocks, cavities, etc.)","fi":"Lisääntymispaikkojen lukumäärä
        (kivi, kolo, ym)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","val[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5039234,"pageSize":10,"total":50392331,"cacheTimestamp":1705057645,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/65a11bcad5de6fbf10fb576d#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.1668511#12"}},{"unit":{"unitId":"http://tun.fi/JX.1668511#6"}},{"unit":{"unitId":"http://tun.fi/JX.1668511#3"}},{"unit":{"unitId":"http://tun.fi/JX.1668511#14"}},{"unit":{"unitId":"http://tun.fi/JX.1668471#3"}},{"unit":{"unitId":"http://tun.fi/JX.1668460#3"}},{"unit":{"unitId":"http://tun.fi/JX.1668459#5"}},{"unit":{"unitId":"http://tun.fi/JX.1668459#3"}},{"unit":{"unitId":"http://tun.fi/HR.3211/196411469-U"}}]}'
  recorded_at: 2024-01-12 11:07:29 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-g+dEX9GCdqJ/EaerGQZDkuF3/9E"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":91932,"pageSize":10,"total":919316,"results":[{"unit":{"unitId":"http://tun.fi/A.0B2D2730-2097-4A33-AEF3-79B45B413939#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.13F1A611-CFC5-40D1-9F15-3BE6C0B362F6#U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.3DCF6429-A5DA-453D-8E76-2AF086B5FF9E#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.575134DF-4B7A-46A6-8280-69D5AB13C380#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.57F8BCC0-871A-49E7-B2D2-E37795815647#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.6391FA16-42E6-45EB-A41A-DF351072F42A#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.67843C24-8449-4B58-BA62-9CFD542CBB76#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.70876CE0-02A6-4EBB-AF56-5C0AE593E3DD#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.84448BB6-6BC1-4100-851B-52B139F02C11#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.84BECB8B-7389-4235-9F23-B30801EA2D8E#U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}}]}'
  recorded_at: 2024-01-12 11:07:29 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
