http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?target=&hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":105693,"pageSize":10,"total":1056927,"results":[{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606641/20210103_100820.jpg"}],"unitId":"http://tun.fi/JX.1200653#22"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606640/20210103_100829.jpg"}],"unitId":"http://tun.fi/JX.1200653#19"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606637/20210103_100858.jpg"}],"unitId":"http://tun.fi/JX.1200653#10"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606638/20210103_100848.jpg"}],"unitId":"http://tun.fi/JX.1200653#13"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606639/20210103_100843.jpg"}],"unitId":"http://tun.fi/JX.1200653#16"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606636/20210103_101344.jpg"}],"unitId":"http://tun.fi/JX.1200653#7"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606635/20210103_103148.jpg"}],"unitId":"http://tun.fi/JX.1200653#4"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606574/ADB6B4CC-A97D-4C23-816B-BC5E169BA268.jpeg"},{"fullURL":"https://image.laji.fi/MM.1606575/B55BEA6F-1160-45DD-B8B9-E92E92FF5B7E.jpeg"}],"unitId":"http://tun.fi/JX.1200635#7"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606573/DC26A279-6049-4402-9214-9230A43E3A9A.jpeg"}],"unitId":"http://tun.fi/JX.1200635#4"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1606536/IMG_7788.jpg"}],"unitId":"http://tun.fi/JX.1200627#4"}}]}'
  recorded_at: 2021-01-04 11:18:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
