http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1469,"pageSize":10,"total":14682,"results":[{"unit":{"facts":[{"fact":"ageOfYoungsInDays","value":"32"},{"fact":"ageOfYoungsAccuracy","value":"N"},{"fact":"species","value":"CORRAX"},{"fact":"ringedSpecies","value":"CORRAX"},{"fact":"age","value":"PP"},{"fact":"wingLengthMinMeasurement","value":"245"}],"unitId":"http://tun.fi/KE.67/200599#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"9.5.1992"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"VAASA"},{"fact":"euringProvinceCode","value":"SF88"},{"fact":"municipality","value":"LAIHIA"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"10"},{"fact":"elyCentre","value":"Etelä-Pohjanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"15"},{"fact":"finnishProvince","value":"Pohjanmaa"},{"fact":"finnishOldCountyCode","[...]
