http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1627,"pageSize":10,"total":16263,"results":[{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/83210413/original.jpeg?1594199418"}],"unitId":"http://tun.fi/HR.3211/52347221-U"}},{"unit":{"media":[{"fullURL":"https://luomus.digitarium.fi/MM.36155/HA.H3300280.jpg"}],"unitId":"http://tun.fi/MY.114626"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/83101013/original.jpg?1594144681"}],"unitId":"http://tun.fi/HR.3211/52282393-U"}},{"unit":{"media":[{"fullURL":"https://proxy.laji.fi/inaturalist/photos/101315943/original.jpg?1603280280"},{"fullURL":"https://proxy.laji.fi/inaturalist/photos/101315953/original.jpg?160[...]
