http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":324269,"pageSize":10,"total":3242681,"cacheTimestamp":1714030511,"results":[{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"}},{"unit":{"abundanceString":"1Ä","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.320710#7"}},{"unit":{"abundanceString":"1/1p","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.320710#3"}},{"unit":{"abundanceString":"2p","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.320710#5"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.320712#6"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/HR.5766/T1234#U"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.320673#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.320671#5"}},{"unit":{"abundanceString":"30
        p","interpretations":{"individualCount":30},"unitId":"http://tun.fi/JX.320671#3"}},{"unit":{"abundanceString":"10p","interpretations":{"individualCount":10},"unitId":"http://tun.fi/JX.320668#5"}}]}'
  recorded_at: 2024-04-25 07:35:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
