http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":324269,"pageSize":10,"total":3242681,"cacheTimestamp":1714030511,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"},"document":{"documentId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258","sourceId":"http://tun.fi/KE.176"}},{"unit":{"unitId":"http://tun.fi/JX.320710#7"},"document":{"documentId":"http://tun.fi/JX.320710","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320710#3"},"document":{"documentId":"http://tun.fi/JX.320710","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320710#5"},"document":{"documentId":"http://tun.fi/JX.320710","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320712#6"},"document":{"documentId":"http://tun.fi/JX.320712","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/HR.5766/T1234#U"},"document":{"documentId":"http://tun.fi/HR.5766/T1234","sourceId":"http://tun.fi/KE.981"}},{"unit":{"unitId":"http://tun.fi/JX.320673#3"},"document":{"documentId":"http://tun.fi/JX.320673","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320671#5"},"document":{"documentId":"http://tun.fi/JX.320671","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320671#3"},"document":{"documentId":"http://tun.fi/JX.320671","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.320668#5"},"document":{"documentId":"http://tun.fi/JX.320668","sourceId":"http://tun.fi/KE.841"}}]}'
  recorded_at: 2024-04-25 07:35:12 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
