http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.collectionId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":244125,"pageSize":10,"total":2441241,"cacheTimestamp":1684835547,"results":[{"unit":{"unitId":"http://tun.fi/JX.298017#3"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.298017#11"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.298017#9"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.298017#5"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.297941#3"},"document":{"collectionId":"http://tun.fi/HR.2951"}},{"unit":{"unitId":"http://tun.fi/JX.297941#6"},"document":{"collectionId":"http://tun.fi/HR.2951"}},{"unit":{"unitId":"http://tun.fi/JX.297940#3"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.297940#13"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.297940#9"},"document":{"collectionId":"http://tun.fi/HR.4471"}},{"unit":{"unitId":"http://tun.fi/JX.297940#5"},"document":{"collectionId":"http://tun.fi/HR.4471"}}]}'
  recorded_at: 2023-05-23 09:52:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
