http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":20,"cacheTimestamp":1714030516,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":469166},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":122928},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":96511},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":33430},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":12315},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":8651},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8239},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":6658},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6337},{"aggregateBy":{"unit.abundanceUnit":"SQUARE_M"},"count":6008}]}'
  recorded_at: 2024-04-25 07:35:18 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-lM1E78J9GHGkeNmV3Ci/OLdNhqo"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"fi":"Yksilömäärä","en":"Individual
        count","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair
        count","sv":"Parantal","fi":"Parimäärä"}},{"id":"MY.abundanceUnitNest","value":{"fi":"Pesien
        lukumäärä","en":"Nest count","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"en":"Number
        of breeding sites (rocks, cavities, etc.)","fi":"Lisääntymispaikkojen lukumäärä
        (kivi, kolo, ym)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","value":[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":324269,"pageSize":10,"total":3242681,"cacheTimestamp":1714030517,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6628be7a2d0e3535240f8258#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.320710#7"}},{"unit":{"unitId":"http://tun.fi/JX.320710#3"}},{"unit":{"unitId":"http://tun.fi/JX.320710#5"}},{"unit":{"unitId":"http://tun.fi/JX.320712#6"}},{"unit":{"unitId":"http://tun.fi/HR.5766/T1234#U"}},{"unit":{"unitId":"http://tun.fi/JX.320673#3"}},{"unit":{"unitId":"http://tun.fi/JX.320671#5"}},{"unit":{"unitId":"http://tun.fi/JX.320671#3"}},{"unit":{"unitId":"http://tun.fi/JX.320668#5"}}]}'
  recorded_at: 2024-04-25 07:35:18 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-jPjQ9dSFsBU94spyw0NUXJAAH9w"
    body:
      encoding: ''
      file: no
    [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":15270,"pageSize":10,"total":152692,"results":[{"unit":{"unitId":"http://tun.fi/A.56F5B986-F01F-4628-9E83-6DAE8BFBDF1A#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.59BB0513-99DC-4D73-8333-D612E4E9E84E#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.6B49E708-99F1-4505-B15F-D788E1C88989#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.6FB02F1C-BC39-4DDD-B27C-C0E006D3D2FC#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.AB9CE5CA-46BE-4138-B092-A92B99353E70#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.CD109B21-3B7C-40FE-A57B-70712333454C#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.D0D2CD28-3C69-4F3B-A078-038C2D1F728B#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.DD5F0CDE-16F9-453D-9966-56BA50F9AD14#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.1C242696-C673-4361-8D5B-36E2734D7BA1#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.59B39F6B-94AA-4302-A25E-DF07CDC9B5D2#U"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION"]}}]}'
  recorded_at: 2024-04-25 07:35:18 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
