http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":262862,"pageSize":10,"total":2628611,"cacheTimestamp":1695906966,"results":[{"unit":{"unitId":"http://tun.fi/JX.306981#3"},"gathering":{"conversions":{"day":11,"month":9,"wgs84CenterPoint":{"lat":66.258216,"lon":26.198786}},"eventDate":{"begin":"2023-09-11","end":"2023-09-11"}}},{"unit":{"unitId":"http://tun.fi/JX.299095#3"},"gathering":{"conversions":{"day":31,"month":8,"wgs84CenterPoint":{"lat":60.183874,"lon":24.955686}},"eventDate":{"begin":"2023-08-31","end":"2023-08-31"},"hourBegin":9,"hourEnd":11,"minutesBegin":0,"minutesEnd":0}},{"unit":{"unitId":"http://tun.fi/HR.4114/2397_U"},"gathering":{"conversions":{"day":29,"month":8,"wgs84CenterPoint":{"lat":61.500766,"lon":23.670389}},"eventDate":{"begin":"2023-08-29","end":"2023-08-29"}}},{"unit":{"unitId":"http://tun.fi/HR.4114/2395_U"},"gathering":{"conversions":{"day":29,"month":8,"wgs84CenterPoint":{"lat":61.487267,"lon":23.80918}},"eventDate":{"begin":"2023-08-29","end":"2023-08-29"}}},{"unit":{"unitId":"http://tun.fi/HR.4114/2398_U"},"gathering":{"conversions":{"day"[...]
