http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":19,"cacheTimestamp":1680158219,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":535147},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":91863},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":30170},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":17708},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":12631},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":10594},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":7800},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":7377},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6042}]}'
  recorded_at: 2023-03-30 06:42:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a3b-pdnasO2/HLbEeAE/EE19KtRgtTA"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"en":"Individual
        count","fi":"Yksilömäärä","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"sv":"Parantal","fi":"Parimäärä","en":"Pair
        count"}},{"id":"MY.abundanceUnitNest","value":{"fi":"Pesien lukumäärä","sv":"Nästantal","en":"Nest
        count"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitColony","value":{"fi"[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4617239,"pageSize":10,"total":46172384,"cacheTimestamp":1680158240,"results":[{"unit":{"unitId":"http://tun.fi/JX.1540855#3"}},{"unit":{"unitId":"http://tun.fi/JX.1540847#3"}},{"unit":{"unitId":"http://tun.fi/KE.176/64252643d5dea8dfccc18fbd#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.1540852#7"}},{"unit":{"unitId":"http://tun.fi/JX.1540852#5"}},{"unit":{"unitId":"http://tun.fi/JX.1540852#3"}},{"unit":{"unitId":"http://tun.fi/JX.1540515#15"}},{"unit":{"unitId":"http://tun.fi/JX.1540515#9"}},{"unit":{"unitId":"http://tun.fi/JX.1540515#20"}},{"unit":{"unitId":"http://tun.fi/JX.1540515#6"}}]}'
  recorded_at: 2023-03-30 06:42:14 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-vk5nZmR+8wwb13Q/Q9tT3mkmFtI"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":55077,"pageSize":10,"total":550770,"results":[{"unit":{"unitId":"http://tun.fi/HR.4412/625f39a820be4_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/KE.67/12768080#Unit"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/KE.67/12822887#Unit"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/KE.67/12770095#Unit"},"document":{"secure[...]
