http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":19,"cacheTimestamp":1693212157,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":670481},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":92882},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":31137},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":20253},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":17775},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":10615},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8220},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":7427},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6043}]}'
  recorded_at: 2023-08-28 08:43:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac8-8N5iSAnmHsNLolJI0uxJlTqzLU0"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"en":"Individual
        count","sv":"Individantal","fi":"Yksilömäärä"}},{"id":"MY.abundanceUnitPairCount","value":{"en":"Pair
        count","fi":"Parimäärä","sv":"Parantal"}},{"id":"MY.abundanceUnitNest","value":{"fi":"Pesien
        lukumäärä","en":"Nest count","sv":"Nästantal"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitFeedingSite","value":{[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4787921,"pageSize":10,"total":47879207,"cacheTimestamp":1693212189,"results":[{"unit":{"unitId":"http://tun.fi/HR.3211/180568359-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180587250-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180527103-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586954-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180582630-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180573487-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586882-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586748-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180583348-U"}},{"unit":{"unitId":"http://tun.fi/HR.3211/180586945-U"}}]}'
  recorded_at: 2023-08-28 08:43:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-hL9dPRuFO6zZ9JHNkJuTlcWQF4E"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":57204,"pageSize":10,"total":572033,"results":[{"unit":{"unitId":"http://tun.fi/A.0B2D2730-2097-4A33-AEF3-79B45B413939#U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.13F1A611-CFC5-40D1-9F15-3BE6C0B362F6#U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.3DCF6429-A5DA-453D-8E76-2AF086B5FF9E#U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/A.70876CE0-02A6-4EBB-AF56-5C0AE593E3DD#U"},"docum[...]
