http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":17,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":438204},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":84873},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":28969},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":17045},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":12630},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":10024},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":7747},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":6914},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":5942},{"aggregateBy":{"unit.abundanceUnit":"PAIRCOUNT"},"count":5831}]}'
  recorded_at: 2022-11-24 08:06:48 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4491433,"pageSize":10,"total":44914328,"results":[{"unit":{"unitId":"http://tun.fi/JX.1507677#3"}},{"unit":{"unitId":"http://tun.fi/HR.4412/637ec4472486e_U"}},{"unit":{"unitId":"http://tun.fi/HR.4412/637ec4471cc6b_U"}},{"unit":{"unitId":"http://tun.fi/KE.176/637e9c95d5de18c6b5e4ce5e#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#6"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#33"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#39"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#57"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#54"}},{"unit":{"unitId":"http://tun.fi/JX.1507636#21"}}]}'
  recorded_at: 2022-11-24 08:06:48 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":52608,"pageSize":10,"total":526078,"results":[{"unit":{"unitId":"http://tun.fi/HR.4412/63725bba66e5b_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/63723f4124170_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/KE.67/12847407#Unit"},"document":{"secureReasons":["BREEDING_SEASON_TAXON_CONSERVATION","DATA_QUARANTINE_PERIOD","DEFAULT_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/63723b874170e_U"},"document":{"secureReasons":["DEFAUL[...]
