http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/aggregate?aggregateBy=unit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":2,"pageSize":10,"total":19,"cacheTimestamp":1684829306,"results":[{"aggregateBy":{"unit.abundanceUnit":"INDIVIDUAL_COUNT"},"count":568715},{"aggregateBy":{"unit.abundanceUnit":"TRUNKS"},"count":92854},{"aggregateBy":{"unit.abundanceUnit":"RELATIVE_DENSITY"},"count":39891},{"aggregateBy":{"unit.abundanceUnit":"SPROUTS"},"count":30832},{"aggregateBy":{"unit.abundanceUnit":"NESTS"},"count":17761},{"aggregateBy":{"unit.abundanceUnit":"OCCURS_DOES_NOT_OCCUR"},"count":16263},{"aggregateBy":{"unit.abundanceUnit":"BREEDING_SITES"},"count":10608},{"aggregateBy":{"unit.abundanceUnit":"FRUITBODIES"},"count":8219},{"aggregateBy":{"unit.abundanceUnit":"INDIRECT_MARKS"},"count":7420},{"aggregateBy":{"unit.abundanceUnit":"SPOTS"},"count":6042}]}'
  recorded_at: 2023-05-23 08:08:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.abundanceUnitEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a3b-HfFquwUyZy5rftSH8ptaiqSrzqw"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.abundanceUnitIndividualCount","value":{"fi":"Yksilömäärä","en":"Individual
        count","sv":"Individantal"}},{"id":"MY.abundanceUnitPairCount","value":{"fi":"Parimäärä","sv":"Parantal","en":"Pair
        count"}},{"id":"MY.abundanceUnitNest","value":{"sv":"Nästantal","en":"Nest
        count","fi":"Pesien lukumäärä"}},{"id":"MY.abundanceUnitBreedingSite","value":{"fi":"Lisääntymispaikkojen
        lukumäärä (kivi, kolo, ym)","en":"Number of breeding sites (rocks, cavities,
        etc.)","sv":"Häckningsplatsantal (stenar, håligheter etc.)"}},{"id":"MY.abundanceUnitColony","value":{"fi"[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.abundanceUnit&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4689225,"pageSize":10,"total":46892245,"cacheTimestamp":1684829331,"results":[{"unit":{"unitId":"http://tun.fi/JX.1583888#3"}},{"unit":{"unitId":"http://tun.fi/JX.1583879#3"}},{"unit":{"unitId":"http://tun.fi/JX.1583879#5"}},{"unit":{"unitId":"http://tun.fi/JX.1583879#7"}},{"unit":{"unitId":"http://tun.fi/JX.1583875#5"}},{"unit":{"unitId":"http://tun.fi/JX.1583875#3"}},{"unit":{"unitId":"http://tun.fi/JX.1583874#5"}},{"unit":{"unitId":"http://tun.fi/JX.1583874#3"}},{"unit":{"unitId":"http://tun.fi/JX.1583874#7"}},{"unit":{"unitId":"http://tun.fi/JX.1583873#3"}}]}'
  recorded_at: 2023-05-23 08:08:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-5zNsxctePSlfxJBCRSA/Hv11TA8"
    body:
      encoding: ''
      file: no
      st[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?secureReason=BREEDING_SEASON_TAXON_CONSERVATION&selected=unit.unitId%2Cdocument.secureReasons&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":55719,"pageSize":10,"total":557184,"results":[{"unit":{"unitId":"http://tun.fi/KE.67/12954643#Unit"},"document":{"secureReasons":["DATA_QUARANTINE_PERIOD","DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/6449c8d0db9ab_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/64602a8ab7cbe_U"},"document":{"secureReasons":["DEFAULT_TAXON_CONSERVATION","BREEDING_SEASON_TAXON_CONSERVATION"]}},{"unit":{"unitId":"http://tun.fi/HR.4412/64447ed538c8c_U"},"document":{"secureReasons":["DE[...]
