http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"HIRRUS"},{"fact":"ringedSpecies","value":"HIRRUS"},{"fact":"age","value":"1"},{"fact":"ageDeterminationMethod","value":"V"}],"unitId":"http://tun.fi/KE.67/5205304#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"6.9.2002"},{"fact":"hour","value":"2"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"TURKU-PORI"},{"fact":"euringProvinceCode","value":"SF86"},{"fact":"municipality","value":"PORI"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"2"},{"fact":"elyCentre","value":"Varsinais-Suomen
        ELY"},{"fact":"finnishProvinceCode","value":"4"},{"fact":"finnishProvince","value":"Satakunta"},{"f[...]
