http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5086714,"pageSize":10,"total":50867133,"cacheTimestamp":1710491449,"results":[{"unit":{"unitId":"http://tun.fi/JX.1688560#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":64.300873,"lon":25.033611}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":4,"minutesBegin":53}},{"unit":{"unitId":"http://tun.fi/JX.1688559#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":64.300873,"lon":25.033611}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":7,"minutesBegin":29}},{"unit":{"unitId":"http://tun.fi/JX.1688558#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":64.300873,"lon":25.033611}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":7,"minutesBegin":46}},{"unit":{"unitId":"http://tun.fi/JX.1688557#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":64.300873,"lon":25.033611}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":7,"minutesBegin":58}},{"unit":{"unitId":"http://tun.fi/JX.1688552#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":63.586041,"lon":27.171864}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":9,"hourEnd":9,"minutesBegin":3,"minutesEnd":3}},{"unit":{"unitId":"http://tun.fi/JX.1688550#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":63.586035,"lon":27.171859}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":9,"hourEnd":9,"minutesBegin":2,"minutesEnd":2}},{"unit":{"unitId":"http://tun.fi/JX.1688549#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":62.469335,"lon":25.951322}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":8,"hourEnd":8,"minutesBegin":20,"minutesEnd":31}},{"unit":{"unitId":"http://tun.fi/JX.1688549#6"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":62.46951,"lon":25.951826}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"},"hourBegin":8,"hourEnd":8,"minutesBegin":20,"minutesEnd":31}},{"unit":{"unitId":"http://tun.fi/JX.1688547#3"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":62.597528,"lon":29.75077}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"}}},{"unit":{"unitId":"http://tun.fi/JX.1688547#5"},"gathering":{"conversions":{"day":15,"month":3,"wgs84CenterPoint":{"lat":62.597528,"lon":29.75077}},"eventDate":{"begin":"2024-03-15","end":"2024-03-15"}}}]}'
  recorded_at: 2024-03-15 08:30:49 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
