http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.collectionId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4807720,"pageSize":10,"total":48077196,"cacheTimestamp":1695904199,"results":[{"unit":{"unitId":"http://tun.fi/JX.1641253#3"},"document":{"collectionId":"http://tun.fi/HR.2129"}},{"unit":{"unitId":"http://tun.fi/JX.1641252#3"},"document":{"collectionId":"http://tun.fi/HR.2129"}},{"unit":{"unitId":"http://tun.fi/JX.1641251#5"},"document":{"collectionId":"http://tun.fi/HR.2129"}},{"unit":{"unitId":"http://tun.fi/JX.1641251#3"},"document":{"collectionId":"http://tun.fi/HR.2129"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#29"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#11"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#21"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#103"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#95"},"document":{"collectionId":"http://tun.fi/HR.1747"}},{"unit":{"unitId":"http://tun.fi/JX.1641217#101"},"document":{"collectionId":"http://tun.fi/HR.1747"}}]}'
  recorded_at: 2023-09-28 12:29:59 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
