http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":251171,"pageSize":10,"total":2511709,"results":[{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/331742344/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/189382451-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/144910640/original.jpeg?1626795558"}],"unitId":"http://tun.fi/HR.3211/87864808-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/Q.57085/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.12998407"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/135761924/original.jpeg?1623516534"}],"unitId":"http://tun.fi/HR.3211/82703754-U"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.136565/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.5622660"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.257515/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.7020657"}},{"unit":{"media":[{"fullURL":"https://id.digitarium.fi/api/F.436850/Preview001.jpg"}],"unitId":"http://id.luomus.fi/MY.11509306"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/326033148/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/186548851-U"}},{"unit":{"media":[{"fullURL":"https://inaturalist-open-data.s3.amazonaws.com/photos/153864481/original.jpeg"}],"unitId":"http://tun.fi/HR.3211/92884193-U"}},{"unit":{"media":[{"fullURL":"https://image.laji.fi/MM.1820458/GQ.935.JPG"}],"unitId":"http://id.luomus.fi/MY.11738751"}}]}'
  recorded_at: 2024-04-25 06:09:38 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
