http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month%2Cunit.interpretations.individualCount%2Cunit.abundanceString%2Cgathering.interpretations.coordinateAccuracy%2Cunit.linkings.taxon.scientificName%2Cunit.taxonVerbatim%2Cunit.linkings.taxon.scientificNameAuthorship%2Cunit.author%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":4807714,"pageSize":10,"total":48077140,"cacheTimestamp":1695901343,"results":[{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":true,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Hydnellum","scientificNameAuthorship":"P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Hydnellum","unitId":"http://tun.fi/JX.1641230#3"},"gathering":{"conversions":{"day":28,"month":9,"wgs84CenterPoint":{"lat":58.390692,"lon":22.664655}},"eventDate":{"begin":"2023-09-28","end":"2023-09-28"},"interpretations":{"coordinateAccuracy":1}},"document":{"sourceId":"http://tun.fi/KE.389"}},{"unit":{"interpretations":{"individualCount":1,"needsCheck":false,"needsIdentification":true,"recordQuality":"NEUTRAL","reliability":"UNDEFINED"},"linkings":{"taxon":{"scientificName":"Phellodon","scientificNameAuthorship":"P.Karst."}},"quality":{"documentGatheringUnitQualityIssues":false},"taxonVerbatim":"Phellodon","unitId":"http://tun.fi/JX.1641230#5"},"gathering":{"conversions":{"day":28,"month":9,"wgs84CenterPoint":{"lat":58.390692,"lon":22.664655}},"eventDate":{"b[...]
[...]
