http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"fieldReadableCode","value":"25D334DE0CD3DE8874C04A0217CF31A8"},{"fact":"attachmentPoint","value":"A"},{"fact":"mainColor","value":"VA"},{"fact":"codeColor","value":"MU"},{"fact":"codeAlign","value":"PE"},{"fact":"attachmentLeftRight","value":"V"},{"fact":"species","value":"LARFUS"},{"fact":"ringedSpecies","value":"LARFUS"},{"fact":"age","value":"+2"},{"fact":"ageDeterminationMethod","value":"V"}],"unitId":"http://tun.fi/KE.67/10349180#Unit"},"gathering":{"facts":[{"fact":"type","value":"recovery"},{"fact":"eventDate","value":"25.5.2011"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"HÄME"},{"fact":"euringProvinceCode","value":"SF80"},{"fact":"municipality","value":"TAMPER"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"4"},{"fact":"elyCentre","value":"Pirkanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"6"},{"fact":"finnishProvince","value":"Pirkanmaa"},{"fact":"finnishOldCountyCode","value":[...]
