http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.typeOfOccurrenceEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be0-1lfo2GsYXwnROHRmJpKaWS7sV7o"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.doesNotOccur","value":{"en":"Does not occur","fi":"Ei esiinny","sv":"Förekommer
        inte"}},{"id":"MX.typeOfOccurrenceOccurs","value":{"fi":"Esiintyy","en":"Occurs","sv":"Förekommer"}},{"id":"MX.typeOfOccurrenceStablePopulation","value":{"fi":"Vakiintunut","en":"Stable
        population","sv":"Väletablerat"}},{"id":"MX.typeOfOccurrenceCommon","value":{"fi":"Yleinen","en":"Common","sv":"Vanlig"},"rdfs:comment":{"fi":"Ilmaisee
        että laji on yleinen (eli esiintyy laajalla alueella). Hyönteisillä pohjautuu
        frekvenssipisteisiin. Käytetään lajien y[...]
