http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.typeOfOccurrenceEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be0-jmm72zBJfAqiW7I6x68tKpehvGc"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.doesNotOccur","value":{"fi":"Ei esiinny","en":"Does not
        occur","sv":"Förekommer inte"}},{"id":"MX.typeOfOccurrenceOccurs","value":{"sv":"Förekommer","en":"Occurs","fi":"Esiintyy"}},{"id":"MX.typeOfOccurrenceStablePopulation","value":{"fi":"Vakiintunut","sv":"Väletablerat","en":"Stable
        population"}},{"id":"MX.typeOfOccurrenceCommon","value":{"sv":"Vanlig","fi":"Yleinen","en":"Common"},"rdfs:comment":{"fi":"Ilmaisee
        että laji on yleinen (eli esiintyy laajalla alueella). Hyönteisillä pohjautuu
        frekvenssipisteisiin. Käytetään lajien yleisyysh[...]
