http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MKV.habitatEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3fdb-gsfZJUhxcUN0mR3gVcsay8SKH8I"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MKV.habitatM","value":{"sv":"M – Skogar","fi":"M – Metsät","en":"M
        – Forests"}},{"id":"MKV.habitatMk","value":{"en":"Mk – heath forests","sv":"Mk
        – moskogar","fi":"Mk – kangasmetsät"},"altParent":"MKV.habitatM"},{"id":"MKV.habitatMkk","value":{"en":"Mkk
        – sub-xeric, xeric and barren heath forests","sv":"Mkk – tämligen torra moskogar
        och karga skogar på fastmark","fi":"Mkk – kuivahkot ja sitä karummat kankaat"},"altParent":"MKV.habitatMk"},{"id":"MKV.habitatMkt","value":{"en":"Mkt
        – mesic and herb-rich heath forests","fi":"Mkt – tuoreet ja lehtomaiset kankaat","sv":"Mkt
        – friska och lundartade skogar på fastmark"},"altParent":"MKV.habitatMk"},{"id":"MKV.hab[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MKV.habitatSpecificTypeEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"746-tKDNd9reJYdqXiIklFiMZhmzbD4"
    body:
      encoding: ''
      f[...]
