http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/informal-taxon-groups/tree?access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1a4f-xwGl13FIN73cFnV3x0wJJ603iuc"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":14,"total":14,"results":[{"id":"MVL.22","hasSubGroup":[{"id":"MVL.82","hasSubGroup":[{"id":"MVL.544","name":"Brown
        algae and yellow green algae"},{"id":"MVL.543","name":"Green algae"},{"id":"MVL.542","name":"Red
        algae"},{"id":"MVL.541","name":"Stoneworts"}],"name":"Macro algae"}],"name":"Algae"},{"id":"MVL.1","hasSubGroup":[{"id":"MVL.1141","hasSubGroup":[{"id":"MVL.1162","name":"Birds
        of prey"},{"id":"MVL.1161","name":"Owls"}],"name":"Birds of prey and owls"},{"id":"MVL.1241","name":"Waterbirds"}],"name":"Birds"},{"id":"MVL.23","hasSubGroup":[{"id":"MVL.563","name":"Hornworts"[...]
