http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.lifeStages?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"70f-KojKbgSNhpMb3q1K2yGAbTpdcQw"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.lifeStageEgg","value":{"fi":"muna","en":"egg","sv":"ägg"}},{"id":"MY.lifeStageLarva","value":{"fi":"toukka","en":"larva","sv":"larv"}},{"id":"MY.lifeStagePupa","value":{"sv":"puppa","fi":"kotelo","en":"pupa"}},{"id":"MY.lifeStageJuvenile","value":{"en":"juvenile","fi":"nuori","sv":"juvenil"}},{"id":"MY.lifeStageNymph","value":{"en":"nymph","sv":"nymf","fi":"nymfi"}},{"id":"MY.lifeStageSubimago","value":{"en":"subimago","fi":"subimago","sv":"subimago"}},{"id":"MY.lifeStageImmature","value":{"en":"immature","fi":"keskenkasvuinen","sv":"omogen"}},{[...]
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MY.plantLifeStageEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4d6-PyzJGNCkXXVfTajF7Rwp4Hoecxk"
    body:
      encoding: ''
      file: no
  [...]
