http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.lifeStages?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"70f-2Gz7+fHM6Pn8YRcgGF5Vg8JWlQU"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.lifeStageEgg","value":{"fi":"muna","en":"egg","sv":"ägg"}},{"id":"MY.lifeStageLarva","value":{"en":"larva","fi":"toukka","sv":"larv"}},{"id":"MY.lifeStagePupa","value":{"en":"pupa","sv":"puppa","fi":"kotelo"}},{"id":"MY.lifeStageJuvenile","value":{"fi":"nuori","sv":"juvenil","en":"juvenile"}},{"id":"MY.lifeStageNymph","value":{"sv":"nymf","en":"nymph","fi":"nymfi"}},{"id":"MY.lifeStageSubimago","value":{"fi":"subimago","en":"subimago","sv":"subimago"}},{"id":"MY.lifeStageImmature","value":{"en":"immature","fi":"keskenkasvuinen","sv":"omogen"}},{[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.plantLifeStageEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4d6-qqO1E0/L2bqm26Sy1ZWPlyNwA9Y"
    body:
      encoding: ''
      file: n[...]
