http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MNP.tagEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3af-zoDiEAyLRFEgjh9Qq9tVuvlAA5U"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MNP.tagAccessibilityEasy","value":{"fi":"Helppokulkuinen","en":"Easy
        accessibility","sv":"Easy gå"}},{"id":"MNP.tagAccessibilityModerate","value":{"en":"Moderate
        accessibility","fi":"Normaalikulkuinen","sv":"Måttlig gå"}},{"id":"MNP.tagAccessibilityDifficult","value":{"fi":"Vaikeakulkuinen","en":"Difficult
        accessibility","sv":"Svår gå"}},{"id":"MNP.tagHabitatImportant","value":{"en":"Important
        habitat","fi":"Tärkeä habitaatti","sv":"Viktig livsmiljö"}},{"id":"MNP.tagCensusRare","value":{"fi":"Harvoin
        laskettu","en":"Rarely censused","sv":"Sällan censused"}},{"id":"MNP.tagHabitatFarmland","value":{"fi":"Pelto","sv":"Odlinglandskap","en":"Farmland"}},{"id":"MNP.tagHabitatMire","value":{"fi":"Suo","en":"Mire","sv":"Myr"}},{"id":"MNP.tagHabitatMountain","value":{"fi":"Tunturi","sv":"Fjäl","en":"Mountain"}},{"id":"MNP.tagSuitable","value":{"fi":"Soveltuu
        liito-oravalle satelliittikuvan perusteella","en":"","sv":""}}]'
  recorded_at: 2023-08-28 11:01:42 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
