http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=municipality&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8a02-VtvDRmkvTPAIlXfH+2eeo0hdyJI"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":309,"results":[{"id":"ML.351","areaType":"ML.municipality","isPartOf":"ML.206","name":{"en":"","fi":"Sottunga","sv":"Sottunga"}},{"id":"ML.352","areaType":"ML.municipality","isPartOf":"ML.206","name":{"en":"","fi":"Loviisa","sv":"Lovisa"}},{"id":"ML.353","areaType":"ML.municipality","isPartOf":"ML.206","name":{"en":"","fi":"Eckerö","sv":"Eckerö"}},{"id":"ML.354","areaType":"ML.municipality","isPartOf":"ML.206","name":{"en":"","fi":"Hammarland","sv":"Hammarland"}},{"id":"ML.355","areaType":"ML.municipality","isPartOf":"ML.206","name":{"en":"","fi":"Lemland","sv":"Lemland"}},{"id":"ML.356","areaType":"ML.munici[...]
