http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=province&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"acd-h8OYCq9HbNT1RCnspNz8iPEwDRI"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":19,"results":[{"id":"ML.1227","areaType":"ML.province","name":{"en":"Uusimaa","fi":"Uusimaa","sv":"Nyland"},"provinceCodeNumeric":"01"},{"id":"ML.1228","areaType":"ML.province","name":{"en":"Southwest
        Finland","fi":"Varsinais-Suomi","sv":"Egentliga Finland"},"provinceCodeNumeric":"02"},{"id":"ML.1229","areaType":"ML.province","name":{"en":"Satakunta","fi":"Satakunta","sv":"Satakunta"},"provinceCodeNumeric":"04"},{"id":"ML.1230","areaType":"ML.province","name":{"en":"Kanta-Häme","fi":"Kanta-Häme","sv":"Egentliga
        Tavastland"},"provinceCodeNumeric":"05"},{"id":"ML.1231","areaType":"ML.province","name":{"en":"P[...]
