http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.adminStatusEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b913-C8blGV/EbaQevbf8p/p/wOhecWQ"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.finlex160_1997_appendix4_2021","value":{"sv":"Hotade arter
        (NVF 1997/160, bilaga 4 2021/521)","fi":"Uhanalaiset lajit (LSA 1997/160,
        liite 4 2021/521)","en":"Threatened species (NCD 1997/160, Appendix 4 2021/521)"},"administrativeStatusDescription":{"en":"The
        Nature Conservation Decree can regulate a wild species whose natural survival
        in Finland has been endangered as an endangered species.","fi":"Luonnonsuojeluasetuksella
        voidaan säätää uhanalaiseksi lajiksi sellainen luonnonvarainen eliölaji, jonka
        luontainen säilyminen Suomessa on vaarantunut.","sv":"Genom förordning kan
        stadgas att en sådan vild art vars naturliga fortlevnad i Finland är i fara
        förklaras hotad."},"administrativeStatusLink":{"fi":"http://www.finlex.fi/fi/laki/ajantasa/1997/19970160","en":"http://www.finlex.fi/fi/laki/ajantasa/1997/19970160","sv":"https://www.finlex.fi/sv/laki/ajantasa/1997/19970160"}},{"id":"MX.finlex160_1997_appendix4_specialInterest_2021","value":{"sv":"Särskilt
        skydda arter (NVF 1997/160, bilaga 4 2021/521)","en":"Species under strict
        protection (NCD 1997/160, Appendix 4 2021/521)","fi":"Erityisesti suojeltavat
        lajit (LSA 1997/160, liite 4 2021/521)"},"administrativeStatu[...]
