http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.secureLevels?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"379-j9zeJ7podNCZ7Qlhzl8CzcTUBBc"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.secureLevelNone","value":{"en":"None","fi":"Ei karkeistettu","sv":"Inte
        skyddad"}},{"id":"MX.secureLevelKM1","value":{"en":"1 km","fi":"1 km","sv":"1
        km"}},{"id":"MX.secureLevelKM5","value":{"en":"5 km","fi":"5 km","sv":"5 km"}},{"id":"MX.secureLevelKM10","value":{"fi":"10
        km","en":"10 km","sv":"10 km"}},{"id":"MX.secureLevelKM25","value":{"fi":"25
        km","en":"25 km","sv":"25 km"}},{"id":"MX.secureLevelKM50","value":{"en":"50
        km","fi":"50 km","sv":"50 km"}},{"id":"MX.secureLevelKM100","value":{"fi":"100
        km","en":"100 km","sv":"100 km"}},{"id":"MX.secureLevelHighest","value":{"en":"Fully
        hidden","fi":"Täyssalaus","sv":"Helt dold"}},{"id":"MX.secureLevelNoShow","value":{"en":"Not
        shown at all - used mainly to prevent spam","fi":"Ei näytetä ollenkaan - käytetään
        lähinnä spammin estämiseksi","sv":"Visas inte alls - används huvudsakligen
        att stoppa skräppost"}}]'
  recorded_at: 2023-06-30 07:05:01 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
