http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.secureLevels?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"379-pVRm6eGj60xpAorAG64Gu3w1YMs"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.secureLevelNone","value":{"en":"None","sv":"Inte skyddad","fi":"Ei
        karkeistettu"}},{"id":"MX.secureLevelKM1","value":{"en":"1 km","sv":"1 km","fi":"1
        km"}},{"id":"MX.secureLevelKM5","value":{"en":"5 km","fi":"5 km","sv":"5 km"}},{"id":"MX.secureLevelKM10","value":{"en":"10
        km","sv":"10 km","fi":"10 km"}},{"id":"MX.secureLevelKM25","value":{"fi":"25
        km","en":"25 km","sv":"25 km"}},{"id":"MX.secureLevelKM50","value":{"en":"50
        km","fi":"50 km","sv":"50 km"}},{"id":"MX.secureLevelKM100","value":{"en":"100
        km","sv":"100 km","fi":"100 km"}},{"id":"MX.secureLevelHighest","value":{"fi":"Täyssalaus","en":"Fully
        hidden","sv":"Helt dold"}},{"id":"MX.secureLevelNoShow","value":{"en":"Not
        shown at all - used mainly to prevent spam","fi":"Ei näytetä ollenkaan - käytetään
        lähinnä spammin estämiseksi","sv":"Visas inte alls - används huvudsakligen
        att stoppa skräppost"}}]'
  recorded_at: 2023-05-23 08:08:57 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
