http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MY.sexes?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"29e-me+iW8lpqr7cFEhlRsqF4SfDkr8"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MY.sexM","value":{"fi":"koiras","en":"M - Male","sv":"hane"}},{"id":"MY.sexF","value":{"en":"F
        - Female","fi":"naaras","sv":"hona"}},{"id":"MY.sexW","value":{"en":"W - Worker","fi":"työläinen","sv":"arbetare"}},{"id":"MY.sexU","value":{"fi":"tuntematon","en":"U
        - Unknown","sv":"okänd"}},{"id":"MY.sexN","value":{"fi":"soveltumaton","en":"N
        - Not applicable","sv":"inte tillämpbar"}},{"id":"MY.sexX","value":{"fi":"gynandromorfi","sv":"gynandromorf","en":"X
        - Gynandromorph"}},{"id":"MY.sexE","value":{"fi":"eri sukupuolia","en":"E
        - multiple","sv":"olika kön"}},{"id":"MY.sexC","value":{"fi":"ristiriitainen","en":"C
        - Conflicting","sv":"kontroversiell"}}]'
  recorded_at: 2023-02-24 07:40:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
