http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/sources?lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1865-TL7e3xtxA++NUbyHg6dWIV+jdCE"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":39,"results":[{"id":"KE.3","name":{"xml:lang":"en","content":"Kotka","en":"Kotka","fi":"","sv":""},"description":{"xml:lang":"en","content":"Collection
        management system","en":"Collection management system","fi":"","sv":""}},{"id":"KE.7","name":{"en":"Hatikka
        (vanha)","fi":"Hatikka (vanha)","sv":"Hatikka (vanha)"},"description":{"en":"Observation
        system","fi":"Observation system","sv":"Observation system"}},{"id":"KE.8","name":{"en":"Hatikka
        (new)","fi":"Hatikka (new)","sv":"Hatikka (new)"},"description":{"xml:lang":"en","content":"Fieldjournal.org.
        Observation syste[...]
