http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/sources?lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2505-z8oLP/iylh2EJ9BaNe8c7gDHT9Q"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":41,"results":[{"id":"KE.3","name":{"en":"Kotka
        Collection Management System","fi":"Kotka kokoelmanhallintajärjestelmä","sv":"Kotka
        samlingshanteringssystem"},"description":{"en":"Collection management system","fi":"Kokoelmanhallintajärjestelmä","sv":""}},{"id":"KE.7","name":{"en":"Hatikka
        (old)","fi":"Hatikka (vanha)","sv":"Hatikka (gammal)"},"description":{"en":"Observation
        system","fi":"Observation system","sv":"Observation system"}},{"id":"KE.8","name":{"en":"Fieldjournal.org
        / Hatikka","fi":"Hatikka","sv":"Fieldjournal.org / Hatikka"},"description":{"xml:lang":"en","content":"Fieldjournal.org.
        Observation system.","en":"Fieldjournal.org. Observation system.","fi":"","sv":""}},{"id":"KE.23","name":{"en":"Nest
        Card System","fi":"Pesäkorttirekisteri","sv":"Nest Card System"},"description":{"xml:lang":"en","content":"Admin
        system for nest card monitoring study","en":"Admin system for nest card monitoring
        study","fi":"","sv":""}},{"id":"KE.24","name":{"en":"Birds of prey nest card
        system","fi":"Petolintujen pesäseuranta","sv":"Rovf[...]
