http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1380-645zDxWzfWxpyozwPNzLwaIx44I"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.superdomain","value":{"en":"superdomain","sv":"liv","fi":"luonto"}},{"id":"MX.domain","value":{"en":"domain","sv":"domän","fi":"yläkunta"}},{"id":"MX.kingdom","value":{"en":"kingdom","fi":"kunta","sv":"rike"}},{"id":"MX.subkingdom","value":{"en":"subkingdom","sv":"underrike","fi":"alakunta"}},{"id":"MX.infrakingdom","value":{"sv":"infrarike","en":"infrakingdom","fi":"infrakunta"}},{"id":"MX.superphylum","value":{"en":"superphylum","sv":"överfylum","fi":"yläjakso"}},{"id":"MX.phylum","value":{"fi":"pääjakso","en":"phylum","sv":"fylum"}},{"id":"MX.subph[...]
