http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Otter&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b3-KGR0K2+ccu+3HIhFwB4i/5HONEs"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Otter","nameType":"MX.vernacularName","id":"MX.47169","scientificName":"Lutra
        lutra","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"saukko","en":"Otter","sv":"utter"},"informalGroups":[{"id":"MVL.2","name":{"en":"Mammals","sv":"Däggdjur","fi":"Nisäkkäät"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 11:52:45 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Bubo%20bubo&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"281-kAKwjQiS34v+2EFkZ+QaHIcLl5Y"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Bubo bubo","nameType":"MX.scientificName","id":"MX.28965","scientificName":"Bubo
        bubo","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"en":"Eurasian
        Eagle-owl","fi":"huuhkaja","sv":"berguv","se":"lidnu"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}},{"id":"MVL.1141","name":{"sv":"Rovfåglar
        och ugglor","fi":"Petolinnut ja pöllöt","en":"Birds of prey and owls"}},{"id":"MVL.1161","name":{"sv":"Ugglor","fi":"Pöllöt","en":"Owls"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 11:52:45 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=MX.279648&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"289-fNUQ+gjBLrrG3B1Tu+Q1dtK0xtY"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Scoliocentra nigrinervis","nameType":"MX.scientificName","id":"MX.279648","scientificName":"Scoliocentra
        nigrinervis","scientificNameAuthorship":"(Wahlgren, 1918)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{},"informalGroups":[{"id":"MVL.232","name":{"fi":"Hyönteiset
        ja hämähäkkieläimet","en":"Insects and arachnids","sv":"Insekter och spindeldjur"}},{"id":"MVL.224","name":{"fi":"Kaksisiipiset","en":"True
        flies","sv":"Tvåvingar"}},{"id":"MVL.342","name":{"en":"Brachyceran flies","sv":"Flugor","fi":"Kärpäset"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 11:52:45 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
