http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Otter&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b3-MDfMnWFtpRjyAOqh4bHGe19UZY4"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Otter","nameType":"MX.vernacularName","id":"MX.47169","scientificName":"Lutra
        lutra","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"saukko","en":"Otter","sv":"utter"},"informalGroups":[{"id":"MVL.2","name":{"fi":"Nisäkkäät","sv":"Däggdjur","en":"Mammals"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 13:16:23 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Bubo%20bubo&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"281-6hfYZb99XTNRtwGIBM40eb+yK6E"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Bubo bubo","nameType":"MX.scientificName","id":"MX.28965","scientificName":"Bubo
        bubo","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"huuhkaja","sv":"berguv","se":"lidnu","en":"Eurasian
        Eagle-owl"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}},{"id":"MVL.1141","name":{"sv":"Rovfåglar
        och ugglor","en":"Birds of prey and owls","fi":"Petolinnut ja pöllöt"}},{"id":"MVL.1161","name":{"sv":"Ugglor","en":"Owls","fi":"Pöllöt"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 13:16:23 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=MX.279648&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"289-8S+gULeb/AX/b5i+V3LjvpoR7tM"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Scoliocentra nigrinervis","nameType":"MX.scientificName","id":"MX.279648","scientificName":"Scoliocentra
        nigrinervis","scientificNameAuthorship":"(Wahlgren, 1918)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{},"informalGroups":[{"id":"MVL.232","name":{"fi":"Hyönteiset
        ja hämähäkkieläimet","en":"Insects and arachnids","sv":"Insekter och spindeldjur"}},{"id":"MVL.224","name":{"en":"True
        flies","fi":"Kaksisiipiset","sv":"Tvåvingar"}},{"id":"MVL.342","name":{"en":"Brachyceran
        flies","sv":"Flugor","fi":"Kärpäset"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 13:16:23 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
