http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1380-yu5gvMFgBGo7E5x9d8qamo5Fo5M"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.superdomain","value":{"sv":"liv","en":"superdomain","fi":"luonto"}},{"id":"MX.domain","value":{"en":"domain","sv":"domän","fi":"yläkunta"}},{"id":"MX.kingdom","value":{"en":"kingdom","fi":"kunta","sv":"rike"}},{"id":"MX.subkingdom","value":{"sv":"underrike","fi":"alakunta","en":"subkingdom"}},{"id":"MX.infrakingdom","value":{"fi":"infrakunta","sv":"infrarike","en":"infrakingdom"}},{"id":"MX.superphylum","value":{"en":"superphylum","fi":"yläjakso","sv":"överfylum"}},{"id":"MX.phylum","value":{"sv":"fylum","en":"phylum","fi":"pääjakso"}},{"id":"MX.subph[...]
