http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1380-6YgRehXQkY09d7D2qaQNF7BYYgs"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.superdomain","value":{"sv":"liv","en":"superdomain","fi":"luonto"}},{"id":"MX.domain","value":{"fi":"yläkunta","en":"domain","sv":"domän"}},{"id":"MX.kingdom","value":{"en":"kingdom","fi":"kunta","sv":"rike"}},{"id":"MX.subkingdom","value":{"sv":"underrike","en":"subkingdom","fi":"alakunta"}},{"id":"MX.infrakingdom","value":{"fi":"infrakunta","sv":"infrarike","en":"infrakingdom"}},{"id":"MX.superphylum","value":{"en":"superphylum","sv":"överfylum","fi":"yläjakso"}},{"id":"MX.phylum","value":{"sv":"fylum","en":"phylum","fi":"pääjakso"}},{"id":"MX.subph[...]
