http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1380-CQnyCp1kjHsGexk6QGGV5Cglshw"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.superdomain","value":{"en":"superdomain","sv":"liv","fi":"luonto"}},{"id":"MX.domain","value":{"sv":"domän","en":"domain","fi":"yläkunta"}},{"id":"MX.kingdom","value":{"en":"kingdom","fi":"kunta","sv":"rike"}},{"id":"MX.subkingdom","value":{"sv":"underrike","fi":"alakunta","en":"subkingdom"}},{"id":"MX.infrakingdom","value":{"fi":"infrakunta","en":"infrakingdom","sv":"infrarike"}},{"id":"MX.superphylum","value":{"en":"superphylum","fi":"yläjakso","sv":"överfylum"}},{"id":"MX.phylum","value":{"en":"phylum","fi":"pääjakso","sv":"fylum"}},{"id":"MX.subph[...]
