http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Lutra%20lutra&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b9-czftZF8SOR6B6EaukJZdG1+KTk8"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Lutra lutra","nameType":"MX.scientificName","id":"MX.47169","scientificName":"Lutra
        lutra","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"saukko","en":"Otter","sv":"utter"},"informalGroups":[{"id":"MVL.2","name":{"en":"Mammals","sv":"Däggdjur","fi":"Nisäkkäät"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2023-09-28 11:52:45 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
