http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1393-s7sxTZKFLr2Z/a89mMJ7K47ZB+g"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.superdomain","value":{"sv":"liv","en":"superdomain","fi":"luonto"}},{"id":"MX.domain","value":{"en":"domain","sv":"domän","fi":"yläkunta"}},{"id":"MX.kingdom","value":{"en":"kingdom","fi":"kunta","sv":"rike"}},{"id":"MX.subkingdom","value":{"en":"subkingdom","sv":"underrike","fi":"alakunta"}},{"id":"MX.infrakingdom","value":{"en":"infrakingdom","fi":"infrakunta","sv":"infrarike"}},{"id":"MX.superphylum","value":{"fi":"yläjakso","en":"superphylum","sv":"överfylum"}},{"id":"MX.phylum","value":{"fi":"pääjakso
        / kaari","en":"phylum","sv":"fylum"}}[...]
