http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Otter&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"190-o1Bh1+ZENk8cW3gaOkFkA57bI/A"
    body:
      encoding: UTF-8
      file: no
      string: '[{"matchingName":"Otter","nameType":"MX.vernacularName","id":"MX.47169","scientificName":"Lutra
        lutra","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"saukko","en":"Otter","sv":"utter"},"informalGroups":[{"id":"MVL.2","name":{"fi":"Nisäkkäät","sv":"Däggdjur","en":"Mammals"}}],"type":"exactMatches"}]'
  recorded_at: 2021-01-21 11:30:37 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=Bubo%20bubo&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"25e-28/NkeSGAOG3UfcaLFz2m0oed64"
    body:
      encoding: UTF-8
      file: no
      string: '[{"matchingName":"Bubo bubo","nameType":"MX.scientificName","id":"MX.28965","scientificName":"Bubo
        bubo","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"huuhkaja","sv":"berguv","se":"lidnu","en":"Eurasian
        Eagle-owl"},"informalGroups":[{"id":"MVL.1","name":{"sv":"Fåglar","en":"Birds","fi":"Linnut"}},{"id":"MVL.1141","name":{"en":"Birds
        of prey and owls","sv":"Rovfåglar och ugglor","fi":"Petolinnut ja pöllöt"}},{"id":"MVL.1161","name":{"sv":"Ugglor","en":"Owls","fi":"Pöllöt"}}],"type":"exactMatches"}]'
  recorded_at: 2021-01-21 11:30:37 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.laji.fi/v0/taxa/search?query=MX.279648&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"266-ALQRdQYxRSfzwu/kUl0Zowbi31c"
    body:
      encoding: UTF-8
      file: no
      string: '[{"matchingName":"Scoliocentra nigrinervis","nameType":"MX.scientificName","id":"MX.279648","scientificName":"Scoliocentra
        nigrinervis","scientificNameAuthorship":"(Wahlgren, 1918)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{},"informalGroups":[{"id":"MVL.232","name":{"fi":"Hyönteiset
        ja hämähäkkieläimet","en":"Insects and arachnids","sv":"Insekter och spindeldjur"}},{"id":"MVL.224","name":{"fi":"Kaksisiipiset","sv":"Tvåvingar","en":"True
        flies"}},{"id":"MVL.342","name":{"fi":"Kärpäset","en":"Brachyceran flies","sv":"Flugor"}}],"type":"exactMatches"}]'
  recorded_at: 2021-01-21 11:30:37 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
