http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/metadata/ranges/MX.threatenedStatusEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1a4-hSxAzhL6rCA56IF0F4xaco7Pnr8"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.threatenedStatusStatutoryProtected","value":{"fi":"Lakisääteinen","en":"Statutory","sv":"Lagstadgad"}},{"id":"MX.threatenedStatusThreatened","value":{"en":"Threatened","fi":"Uhanalainen","sv":"Hotad"}},{"id":"MX.threatenedStatusNearThreatened","value":{"en":"Near
        Threatened","fi":"Silmälläpidettävä","sv":"Nära hotad"}},{"id":"MX.threatenedStatusOther","value":{"fi":"Muu","en":"Other","sv":"Andra"}}]'
  recorded_at: 2023-06-28 07:31:53 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
