http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cunit.interpretations.individualCount%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.interpretations.coordinateAccuracy%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":64134,"pageSize":10,"total":641333,"results":[{"unit":{"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.147449#3","linkings":{"taxon":{"scientificName":"Pica
        pica"}},"interpretations":{"needsCheck":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED","needsIdentification":false,"individualCount":12}},"gathering":{"eventDate":{"begin":"2008-12-31","end":"2008-12-31"},"interpretations":{"coordinateAccuracy":10000},"conversions":{"wgs84CenterPoint":{"lat":60.985177,"lon":25.426672}},"hourBegin":11,"hourEnd":14}},{"unit":{"quality":{"documentGatheringUnitQualityIssues":false},"unitId":"http://tun.fi/JX.147449#5","linkings":{"taxon":{"scientificName":"Corvus
        corone cornix"}},"interpretations":{"needsCheck":false,"recordQuality":"NEUTRAL","reliability":"UNDEFINED","needsIdentification":false,"individualCount":7}},"gathering":{"eventDate":{"begin":"2008-12-31","end":"2008-12-31"},"interpretations":{"coordinateAccuracy":10000},"conversions":{"wgs84CenterPoint":{"lat":60.985177,"lon":25.426672}},[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDa[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDa[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDa[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cunit.linkings.taxon.scientificName%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDa[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgather[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgather[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?time=2001%2F2008&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgather[...]
