http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":212613,"pageSize":10,"total":2126121,"results":[{"unit":{"unitId":"http://tun.fi/JX.276631#3"}},{"unit":{"unitId":"http://tun.fi/JX.276523#3"}},{"unit":{"unitId":"http://tun.fi/JX.276469#3"}},{"unit":{"unitId":"http://tun.fi/JX.276459#3"}},{"unit":{"unitId":"http://tun.fi/JX.276459#6"}},{"unit":{"unitId":"http://tun.fi/JX.276396#3"}},{"unit":{"unitId":"http://tun.fi/KE.176/614e2ede2d0eb0c0de770371#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.276371#3"}},{"unit":{"unitId":"http://tun.fi/JX.276373#3"}},{"unit":{"unitId":"http://tun.fi/JX.276372#3"}}]}'
  recorded_at: 2021-11-04 12:40:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.documentId%2Cdocument.sourceId&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":212613,"pageSize":10,"total":2126121,"results":[{"unit":{"unitId":"http://tun.fi/JX.276631#3"},"document":{"documentId":"http://tun.fi/JX.276631","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.276523#3"},"document":{"documentId":"http://tun.fi/JX.276523","sourceId":"http://tun.fi/KE.542"}},{"unit":{"unitId":"http://tun.fi/JX.276469#3"},"document":{"documentId":"http://tun.fi/JX.276469","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.276459#3"},"document":{"documentId":"http://tun.fi/JX.276459","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.276459#6"},"document":{"documentId":"http://tun.fi/JX.276459","sourceId":"http://tun.fi/KE.389"}},{"unit":{"unitId":"http://tun.fi/JX.276396#3"},"document":{"documentId":"http://tun.fi/JX.276396","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/KE.176/614e2ede2d0eb0c0de770371#Unit1"},"document":{"documentId":"http://tun.fi/KE.176/614e2ede2d0eb0c0de770371","sourceId":"http://tun.fi/KE.176"}},{"unit":{"unitId":"http://tun.fi/JX.276371#3"},"document":{"documentId":"http://tun.fi/JX.276371","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.276373#3"},"document":{"documentId":"http://tun.fi/JX.276373","sourceId":"http://tun.fi/KE.841"}},{"unit":{"unitId":"http://tun.fi/JX.276372#3"},"document":{"documentId":"http://tun.fi/JX.276372","sourceId":"http://tun.fi/KE.841"}}]}'
  recorded_at: 2021-11-04 12:40:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
