http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?target=&hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":5854,"pageSize":10,"total":58540,"results":[{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.100434/4c0e3443-0c80-4e06-8054-e436f3747e2e.jpg"}],"unitId":"http://tun.fi/JX.185573#13"}},{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.100374/test_full.jpg"}],"unitId":"http://tun.fi/JX.185386#4"}},{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.100254/c258c6e1-7a2f-44ab-b668-9d34f34276dd.jpg"}],"unitId":"http://tun.fi/JX.185254#4"}},{"unit":{"media":[{"fullURL":"https://imagetest.laji.fi/MM.100155/a4f7a135-e07d-4a32-99ad-68632f7d5131.jpg"}],"unitId":"http://tun.fi/JX.185200#4"}},{"unit":{"media":[{"fullURL":"https://imagetest.l[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
   [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?hasMedia=TRUE&selected=unit.unitId%2Cunit.media.fullURL&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      enco[...]
