http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":212613,"pageSize":10,"total":2126121,"results":[{"unit":{"unitId":"http://tun.fi/JX.276631#3"}},{"unit":{"unitId":"http://tun.fi/JX.276523#3"}},{"unit":{"unitId":"http://tun.fi/JX.276469#3"}},{"unit":{"unitId":"http://tun.fi/JX.276459#3"}},{"unit":{"unitId":"http://tun.fi/JX.276459#6"}},{"unit":{"unitId":"http://tun.fi/JX.276396#3"}},{"unit":{"unitId":"http://tun.fi/KE.176/614e2ede2d0eb0c0de770371#Unit1"}},{"unit":{"unitId":"http://tun.fi/JX.276371#3"}},{"unit":{"unitId":"http://tun.fi/JX.276373#3"}},{"unit":{"unitId":"http://tun.fi/JX.276372#3"}}]}'
  recorded_at: 2021-11-02 10:53:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.interpretations.individualCount%2Cunit.abundanceString&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":212613,"pageSize":10,"total":2126121,"results":[{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276631#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276523#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276469#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276459#3"}},{"unit":{"abundanceString":"2","interpretations":{"individualCount":2},"unitId":"http://tun.fi/JX.276459#6"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276396#3"}},{"unit":{"abundanceString":"1","interpretations":{"individualCount":1},"unitId":"http://tun.fi/KE.176/614e2ede2d0eb0c0de770371#Unit1"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276371#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276373#3"}},{"unit":{"interpretations":{"individualCount":1},"unitId":"http://tun.fi/JX.276372#3"}}]}'
  recorded_at: 2021-11-02 10:53:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
