http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":297110,"pageSize":10,"total":2971093,"results":[{"unit":{"unitId":"http://tun.fi/JX.250948#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":64.113477,"lon":27.133419}},"eventDate":{"begin":"2021-06-24","end":"2021-06-24"}}},{"unit":{"unitId":"http://tun.fi/JX.250948#7"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":64.113554,"lon":27.133203}},"eventDate":{"begin":"2021-06-24","end":"2021-06-24"}}},{"unit":{"unitId":"http://tun.fi/JX.250207#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":61.694484,"lon":24.936594}},"eventDate":{"begin":"2021-06-22","end":"2021-06-22"}}},{"unit":{"unitId":"http://tun.fi/JX.250205#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":63.005626,"lo[...]
