http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Parus%20major&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b8-o6dqhOHbZkmwqzsCrVhRgBgjckA"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Parus major","nameType":"MX.scientificName","id":"MX.34567","scientificName":"Parus
        major","scientificNameAuthorship":"Linnaeus, 1758","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"talitiainen","en":"Great
        Tit","sv":"talgoxe"},"informalGroups":[{"id":"MVL.1","name":{"sv":"Fåglar","en":"Birds","fi":"Linnut"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2022-11-18 08:27:19 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
