http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":297110,"pageSize":10,"total":2971093,"results":[{"unit":{"unitId":"http://tun.fi/JX.250948#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":64.113477,"lon":27.133419}},"eventDate":{"begin":"2021-06-24","end":"2021-06-24"}}},{"unit":{"unitId":"http://tun.fi/JX.250948#7"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":64.113554,"lon":27.133203}},"eventDate":{"begin":"2021-06-24","end":"2021-06-24"}}},{"unit":{"unitId":"http://tun.fi/JX.250207#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":61.694484,"lon":24.936594}},"eventDate":{"begin":"2021-06-22","end":"2021-06-22"}}},{"unit":{"unitId":"http://tun.fi/JX.250205#3"},"gathering":{"conversions":{"wgs84CenterPoint":{"lat":63.005626,"lo[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cgathering.eventDate.begin%2Cgathering.eventDate.end%2Cgathering.hourBegin%2Cgathering.hourEnd%2Cgathering.minutesBegin%2Cgathering.minutesEnd%2Cgathering.conversions.day%2Cgathering.conversions.month&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":212959,"pageSize":10,"total":2129581,"results":[{"unit":{"unitId":"http://tun.fi/JX.276631#3"},"gathering":{"conversions":{"day":19,"month":10,"wgs84CenterPoint":{"lat":65.60809,"lon":27.764084}},"eventDate":{"begin":"2021-10-19","end":"2021-10-19"}}},{"unit":{"unitId":"http://tun.fi/JX.276577#3"},"gathering":{"conversions":{"day":15,"month":10,"wgs84CenterPoint":{"lat":60.20063,"lon":24.970161}},"eventDate":{"begin":"2021-10-15","end":"2021-10-15"},"hourBegin":16,"minutesBegin":20}},{"unit":{"unitId":"http://tun.fi/JX.276523#3"},"gathering":{"conversions":{"day":14,"month":10,"wgs84CenterPoint":{"lat":64.921254,"lon":26.531036}},"eventDate":{"begin":"2021-10-14","end":"2021-10-14"}}},{"unit":{"unitId":"http://tun.fi/JX.276490#3"},"gathering":{"conversions":{"day":12,"month":10,"wgs84CenterPoint":{"lat":60.242449,"lon":25.091236}},"eventDate":{"begin":"2021-10-12","end":"2021-10-12"},"hourBegin":15,"minutesBegin":2}},{"unit":{"unitId":"http://tun.fi/JX.276490#6"},"gathering":{"conversions":{"day":12,"month":10,"wgs84CenterPoint":{"lat":60.243815,"lon":25.096802}},"eventDate":{"begin":"2021-10-12","end":"2021-10-12"},"hourBegin":15,"minutesBegin":3}},{"unit":{"unitId":"http://tun.fi/JX.276486#3"},"gathering":{"conversions":{"day":7,"month":10,"wgs84CenterPoint":{"lat":60.242256,"lon":25.092248}},"eventDate":{"begin":"2021-10-07","end":"2021-10-07"},"hourBegin":13,"minutesBegin":43}},{"unit":{"unitId":"http://tun.fi/JX.276486#6"},"gathering":{"conversions":{"day":7,"month":10,"wgs84CenterPoint":{"lat":60.241929,"lon":25.094054}},"eventDate":{"begin":"2021-10-07","end":"2021-10-07"},"hourBegin":13,"minutesBegin":45}},{"unit":{"unitId":"http://tun.fi/JX.276485#3"},"gathering":{"conversions":{"day":7,"month":10,"wgs84CenterPoint":{"lat":60.240461,"lon":25.087635}},"eventDate":{"begin":"2021-10-07","end":"2021-10-07"},"hourBegin":13,"hourEnd":13,"minutesBegin":25,"minutesEnd":28}},{"unit":{"unitId":"http://tun.fi/JX.276484#6"},"gathering":{"conversions":{"day":7,"month":10,"wgs84CenterPoint":{"lat":60.2423,"lon":25.091999}},"eventDate":{"begin":"2021-10-07","end":"2021-10-07"},"hourBegin":13,"minutesBegin":19}},{"unit":{"unitId":"http://tun.fi/JX.276484#3"},"gathering":{"conversions":{"day":7,"month":10,"wgs84CenterPoint":{"lat":60.240811,"lon":25.096899}},"eventDate":{"begin":"2021-10-07","end":"2021-10-07"},"hourBegin":13,"minutesBegin":16}}]}'
  recorded_at: 2021-10-28 10:49:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
