http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/document/aggregate?namedPlaceId=MNP.798&aggregateBy=document.documentId&page=1&pageSize=10&access_token=<finbif_dev_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"lastPage":1,"pageSize":10,"total":7,"results":[{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1008632"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1071931"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1111142"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1115147"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1162093"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1165719"},"count":1},{"aggregateBy":{"document.documentId":"http://tun.fi/KE.8_1218583"},"count":1}]}'
  recorded_at: 2021-08-03 11:01:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
