http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.778&selected=unit.unitId&page=1&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"lastPage":1,"pageSize":1000,"total":2,"results":[{"unit":{"unitId":"http://mus.utu.fi/MY.2475121"}},{"unit":{"unitId":"http://mus.utu.fi/MY.2475184"}}]}'
  recorded_at: 2022-11-30 06:51:41 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://apitest.laji.fi/v0/collections?lang=en&page=1&pageSize=1000&personEmail=noreply%40laji.fi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a4309-81BawDmn56WNuat30rBaDZNjBr8"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":942,"results":[{"id":"HR.22","collectionName":"Hymenoptera
        Eastern Fennoscandia (Luomus)","collectionSize":"1000000","collectionType":"MY.collectionTypeSpecimens","contactEmail":"juho.paukkunen@helsinki.fi","dataQuality":"MY.dataQuality5","description":"Hymenoptera
        of Finland and Russian Fennoscandia","digitizedSize":"7","downloadRequestHandler":["MA.32"],"geographicCoverage":"Finland
        and Russian Fennoscandia","intellectualOwner":"MZH","intellectualRights":"MY.intellectualRightsCC-BY","isPartOf":"HR.42","language":"english","metadataCreator":"Paukkunen,
        Juho","personResponsible":"Paukkunen, Juho","publicationTerms":"MY.publicationTermsFree","taxonomicCoverage":"Hymenoptera","temporalCoverage":"ca.
        1830 to present","typesSize":"0","dateCreated":"2012-10-26T10:01:35+0300","dateEdited":"2019-01-17T14:39:47+0200","owner":"MOS.1007","longName":"Luomus
        - Hymenoptera Eastern Fennoscandia (Luomus)","hasChildren":false},{"id":"HR.23","collectionName":"Hymenoptera
        World (Luomus)","collectionSize":"500000","collectionType":"MY.collectionTypeSpecimens","contactEmail":"juho.paukkunen@helsinki.fi","dataQuality":"MY.dataQuality5","description":"Hymenoptera
        of the world except Finland and Russian Fennoscandia","digitizedSize":"0","downloadRequestHandler":["MA.32"],"geographicCoverage":"World
        except Finland and Russian Fennoscandia","intellectualOwner":"MZH","intellectualRights":"MY.intellectualRightsCC-BY","isPartOf":"HR.42","language":"english","metadataCreator":"Malinen,
        Pekka","notes":{"xml:lang":"en","content":"Collection size very approximate"},"personResponsible":"Paukkunen,
        Juho","publicationTerms":"MY.publicationTermsFree","taxonomicCoverage":"Hymenoptera","temporalCoverage":"ca.
        1830-","typesSize":"0","dateCreated":"2012-10-26T12:42:12+0300","dateEdited":"2019-01-17T10:29:44+0200","owner":"MOS.1007","longName":"Luomus
        - Hymenoptera World (Luomus)","hasChildren":false},{"id":"HR.24","collectionName":"Hymenoptera
        Nylander (Luomus)","collectionSize":"1000","collectionType":"MY.collectionTypeSpecimens","contactEmail":"juho.paukkunen@helsinki.fi","dataQuality":"MY.dataQuality5","description":"Hymenoptera
        collection of William Nylander","digitizedSize":"0","downloadRequestHandler":["MA.32"],"geographicCoverage":"World","intellectualOwner":"Luomus","intellectualRights":"MY.intellectualRightsCC-BY","isPartOf":"HR.42","language":"english","metadataCreator":"Malinen,
        Pekka","notes":"Collection size very approximate","personResponsible":"Paukkunen,
        Juho","publicationTerms":"MY.publicationTermsFree","taxonomicCoverage":"Hymenoptera","temporalCoverage":"ca.
        1830-","typesSize":"0","dateCreated":"2012-10-26T12:42:40+0300","dateEdited":"2019-01-17T10:32:45+0200","owner":"MOS.1007","longName":"Luomus
        - Hymenoptera Nylander (Luomus)","hasChildren":false},{"id":"HR.39","citation":"Fraixedas
        Nuñez, S., Lehikoinen, A., Lindén, A. 2015: Impact of climate and land change
        on wintering bird populations in Finland. — Journal of Avian Biology 46: 63–72.","collectionName":"Winter
        Bird Census","collectionSize":"1100000","collectionType":"MY.collectionTypeMonitoring","contactEmail":"aleksi.lehikoinen@helsinki.fi","coverageBasis":"Winter
        season, November - March","dataQuality":"MY.dataQuality3","description":"TEST
        Censuses cover all observed bird species. Annual counts have been done in
        the winter time since 1957. Methodology is explained in link: \nhttp://www.luomus.fi/seurannat/methods.htm","digitizedSize":"100","downloadRequestHandler":["MA.21"],"geographicCoverage":"Finland","intellectualOwner":"Finnish
        Museum of Natural History","intellectualRights":"MY.intellectualRightsCC-BY","isPartOf":"HR.173","language":"finnish","metadataCreator":"Lehikoinen,
        Aleksi","metadataStatus":"MY.metadataStatusSatisfactory","methods":"In English:
        http://www.luomus.fi/seurannat/methods.htm\nIn Finnish: http://www.luomus.fi/seurannat/talvilintulaskennat/index.htm","onlineUrl":"http://koivu.luomus.fi/seurannat/methods.htm","personResponsible":"Lehikoinen,
        Aleksi","taxonomicCoverage":"Aves","temporalCoverage":"Since winter 1956/57","typesSize":"0","dateCreated":"2012-10-23T13:14:48+0300","dateEdited":"2018-11-19T15:39:31+0200","owner":"MOS.1010","longName":"Luomus
        - Winter Bird Census","hasChildren":false},{"id":"HR.40","collectionName":"Age
        determination data","collectionType":"MY.collectionTypeOther","contactEmail":"markku.oinonen@helsinki.fi"[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/collections?lang=en&page=1&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/html;charset=utf-8
      content-language: en
    body:
      encoding: ''
      file: no
      string: '<html><head><title>Apache Tomcat/7.0.76 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 404 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Status report</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>The requested resource is not available.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.76</h3></body></html>'
  recorded_at: 2022-11-30 06:51:41 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
