http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?collectionId=HR.48&selected=unit.unitId%2Cunit.facts.fact%2Cunit.facts.value%2Cgathering.facts.fact%2Cgathering.facts.value%2Cdocument.facts.fact%2Cdocument.facts.value&orderBy=RANDOM&page=1&pageSize=10&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":1180,"pageSize":10,"total":11793,"results":[{"unit":{"facts":[{"fact":"species","value":"FICHYP"},{"fact":"ringedSpecies","value":"FICHYP"},{"fact":"age","value":"PP"},{"fact":"weightInGrams","value":"14.5"},{"fact":"wingLengthInMillimeters","value":"51"}],"unitId":"http://tun.fi/KE.67/10845454#Unit"},"gathering":{"facts":[{"fact":"type","value":"ringing"},{"fact":"eventDate","value":"23.6.2016"},{"fact":"country","value":"FINLAND"},{"fact":"province","value":"VAASA"},{"fact":"euringProvinceCode","value":"SF88"},{"fact":"municipality","value":"JURVA"},{"fact":"countryCode","value":"SF"},{"fact":"elyCentreCode","value":"10"},{"fact":"elyCentre","value":"Etelä-Pohjanmaan
        ELY"},{"fact":"finnishProvinceCode","value":"14"},{"fact":"finnishProvince","value":"Etelä-Pohjanmaa"},{"fact":"finnishOldCountyC[...]
