http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/sources?lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1a34-xeBf08TzDJKrvzULoaAPKtZLFsM"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":43,"results":[{"id":"KE.3","name":{"xml:lang":"en","content":"Kotka","en":"Kotka","fi":"","sv":""},"description":{"xml:lang":"en","content":"Collection
        management system","en":"Collection management system","fi":"","sv":""}},{"id":"KE.7","name":{"en":"Hatikka
        (vanha)","fi":"Hatikka (vanha)","sv":"Hatikka (vanha)"},"description":{"en":"Observation
        system","fi":"Observation system","sv":"Observation system"}},{"id":"KE.8","name":{"en":"Hatikka
        (new)","fi":"Hatikka (new)","sv":"Hatikka (new)"},"description":{"xml:lang":"en","content":"Fieldjournal.org.
        Observation syste[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.adminStatusEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1025a-4DMcjWtzdhZ1Z7lRne0NLFuBVEo"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.finlex160_1997_appendix4_2021","value":{"sv":"Hotade arter
        (NVF 2023/1066, bilaga 6)","fi":"Uhanalaiset lajit (LSA 2023/1066, liite 6)","en":"Threatened
        species (NCD 2023/1066, Appendix 6)"},"administrativeStatusDescription":{"sv":"Genom
        förordning kan stadgas att en sådan vild art vars naturliga fortlevnad i Finland
        är i fara förklaras hotad.","fi":"Luonnonsuojeluasetuksella voidaan säätää
        uhanalaiseksi lajiksi sellainen luonnonvarainen eliölaji, jonka luontainen
        säilyminen Suomessa on vaarantunut.","en":"The Nature Conservation Decree
        can regulate a wild species whose natural survival in Finland has been endangered
        as an endangered species."},"administrativeStatusLink":{"sv":"https://www.finlex.fi/sv/laki/ajantasa/2023/20231066","fi":"https://www.finlex.fi/fi/laki/ajantasa/2023/20231066","en":""}},{"id":"MX.finlex160_1997_appendix4_specialInterest_2021","value":{"fi":"Erityisesti
        suojeltavat lajit (LSA 2023/1066, liite 6)","sv":"Särskilt skydda arter (NVF
        2023/1066, bilaga 6)","en":"Species under strict protection (NCD 2023/1066,
        Appendix 6)"},"administrativeStatusDescription":{"fi":"Valtioneuvoston asetuksella
        voidaan säätää er[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1393-I2r4VHuDubjLZ1/CY5YuVX1Q7kM"
    body:
      encoding: ''
      file: no
  [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=country&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9345-5VdiSnYTd4pukWI0BnVRfEuT8GQ"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":250,"results":[{"id":"ML.1","areaType":"ML.country","countryCodeISOalpha2":"AF","countryCodeISOalpha3":"AFG","name":{"en":"Afghanistan","fi":"Afganistan","sv":""}},{"id":"ML.3","areaType":"ML.country","countryCodeISOalpha2":"NL","countryCodeISOalpha3":"NLD","name":{"en":"Netherlands","fi":"Alankomaat","sv":""}},{"id":"ML.4","areaType":"ML.country","countryCodeISOalpha2":"AN","countryCodeISOalpha3":"ANT","name":{"en":"Netherlands
        Antilles","fi":"Alankomaiden Antillit","sv":""}},{"id":"ML.5","areaType":"ML.country","countryCodeISOalpha2":"AL","countryCodeISOalpha3":"ALB","name":{"en":"Alban[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=province&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"acd-h8OYCq9HbNT1RCnspNz8iPEwDRI"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":19,"results":[{"id":"ML.1227","areaType":"ML.province","name":{"en":"Uusimaa","fi":"Uusimaa","sv":"Nyland"},"provinceCodeNumeric":"01"},{"id":"ML.1228","areaType":"ML.province","name":{"en":"Southwest
        Finland","fi":"Varsinais-Suomi","sv":"Egentliga Finland"},"provinceCodeNumeric":"02"},{"id":"ML.1229","areaType":"ML.province","name":{"en":"Satakunta","fi":"Satakunta","sv":"Satakunta"},"provinceCodeNumeric":"04"},{"id":"ML.1230","areaType":"ML.province","name":{"en":"Kanta-Häme","fi":"Kanta-Häme","sv":"Egentliga
        Tavastland"},"provinceCodeNumeric":"05"},{"id":"ML.1231","areaType":"ML.province","name":{"en":"P[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=biogeographicalProvince&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1213-gXyGBi7HURTJHmPqy0VlAhGt4Io"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":21,"results":[{"id":"ML.251","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"Åland","fi":"Ahvenanmaa","sv":"Åland"},"provinceCodeAlpha":{"en":"Al","fi":"A","sv":"Al"},"provinceCodeNumeric":"1"},{"id":"ML.252","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"","fi":"Varsinais-Suomi","sv":""},"provinceCodeAlpha":{"en":"","fi":"V","sv":""},"provinceCodeNumeric":"2"},{"id":"ML.253","areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"en":"","fi":"Uusimaa","sv":""},"provinceCodeAlpha":{"en":"","fi":"U","sv":""},"provinceCodeNumeric":"3"},{"id":"ML.254","areaType":"ML.biogeographicalProvince","[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?type=birdAssociationArea&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"15b6-cxTzKwk2bN6Zie0MDqYtQGZ+AS0"
    body:
      encoding: ''
     [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.typeOfOccurrenceEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be0-CuC4LQorE/2DJVCk+hOJDy218Q4"
    body:
      encoding: ''
      file[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/enumeration-labels?access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"results":[{"enumeration":"WGS84","property":"MY.coordinateSystemWgs84","label":{"fi":"WGS84
        ja ETRS89, asteen desimaaleina","en":"WGS84 and ETRS89, decimal degrees","sv":"WGS84
        och ETRS89, decimalgrader"}},{"enumeration":"EUREF","property":"MY.coordinateSystemEtrs-tm35fin","label":{"fi":"ETRS-TM35FIN-tasokoordinaatit","en":"ETRS-TM35FIN
        grid","sv":"ETRS-TM35FIN-plankoordinatsystem"}},{"enumeration":"YKJ","property":"MY.coordinateSystemYkj","label":{"fi":"Yhtenäiskoordinaatisto
        (YKJ)","en":"Uniform grid (YKJ)","sv":"Enhetskoordinatsystemet (E[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.secureLevels?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"379-2Bu2UDa2fYeoFW0eLiHxmfHBt4E"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.secureLevelNone","value":{"en":"None","sv":"Inte skyddad","fi":"Ei
        karkeistettu"}},{"id":"MX.secureLevelKM1","value":{"en":"1 km","sv":"1 km","fi":"1
        km"}},{"id":"MX.secureLevelKM5","value":{"fi":"5 km","sv":"5 km","en":"5 km"}},{"id":"MX.secureLevelKM10","value":{"en":"10
        km","sv":"10 km","fi":"10 km"}},{"id":"MX.secureLevelKM25","value":{"fi":"25
        km","sv":"25 km","en":"25 km"}},{"id":"MX.secureLevelKM50","value":{"en":"50
        km","fi":"50 km","sv":"50 km"}},{"id":"MX.secureLevelKM100","value":{"en":"100
        km","sv":"100 km","fi":"100 km"}},{"id":"MX.secureLevelHighest","value":{"fi":"Täyssalaus","en":"Fully
        hidden","sv":"Helt dold"}},{"id":"MX.secureLevelNoShow","value":{"fi":"Ei
        näytetä ollenkaan - käytetään lähinnä spammin estämiseksi","sv":"Visas inte
        alls - används huvudsakligen att stoppa skräppost","en":"Not shown at all
        - used mainly to prevent spam"}}]'
  recorded_at: 2024-07-23 11:58:45 GMT
  recorded_with: vcr/1.2.2, webmockr/1.0.0
