http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":3371345,"pageSize":1,"total":3371345,"cacheTimestamp":1769486099,"results":[{"unit":{"unitId":"http://tun.fi/HR.49/76884_U"},"document":{"loadDate":"2026-01-27"}}]}'
  recorded_at: 2026-01-27 03:55:01
recorded_with: VCR-vcr/2.1.0
