http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":52111306,"pageSize":1,"total":52111306,"cacheTimestamp":1721732160,"results":[{"unit":{"unitId":"http://tun.fi/JX.1750745#3"},"document":{"loadDate":"2024-07-23"}}]}'
  recorded_at: 2024-07-23 10:56:00 GMT
  recorded_with: vcr/1.2.2, webmockr/1.0.0
