http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/informal-taxon-groups/tree?pageSize=1000&lang=en&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b5e-7oveH2vATkXXUsslrtjr8FrEbjw"
    body:
      string: '{"results":[{"hasSubGroup":[{"hasSubGroup":[{"name":"Owls","id":"MVL.1161"},{"name":"Birds
        of prey","id":"MVL.1162"}],"name":"Birds of prey and owls","id":"MVL.1141"},{"name":"Waterbirds","id":"MVL.1241"}],"name":"Birds","id":"MVL.1"},{"hasSubGroup":[{"name":"Small
        mammals","id":"MVL.1181"},{"name":"Bats","id":"MVL.187"}],"name":"Mammals","id":"MVL.2"},{"hasSubGroup":[{"hasSubGroup":[{"name":"Stoneworts","id":"MVL.541"},{"name":"Red
        algae","id":"MVL.542"},{"name":"Green algae","id":"MVL.543"},{"name":"Brown
        algae and yellow gr[...]
