http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":59646712,"pageSize":1,"total":59646712,"cacheTimestamp":1776428000,"results":[{"unit":{"unitId":"http://tun.fi/JX.2433655#3"},"document":{"loadDate":"2026-04-17"}}]}'
  recorded_at: 2026-04-17 12:13:20
recorded_with: VCR-vcr/2.1.0
