http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Cygnus%20cygnus&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"218-jMx+f4qOIEwAjuWdeV6tEIBIAIM"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Cygnus cygnus","nameType":"MX.scientificName","id":"MX.26280","scientificName":"Cygnus
        cygnus","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"fi":"laulujoutsen","en":"Whooper
        Swan","sv":"sångsvan"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}},{"id":"MVL.1241","name":{"en":"Waterbirds","fi":"Vesilinnut","sv":"Vattenfåglar"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2024-07-23 11:58:37 GMT
  recorded_with: vcr/1.2.2, webmockr/1.0.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=not_a_taxa&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2024-07-23 11:58:37 GMT
  recorded_with: vcr/1.2.2, webmockr/1.0.0
