http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":674261,"pageSize":5,"total":3371304,"cacheTimestamp":1769405954,"results":[{"unit":{"unitId":"http://tun.fi/JX.343466#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"},"municipality":"Helsinki"}},{"unit":{"unitId":"http://tun.fi/JX.343465#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.492"},"municipality":"Maalahti"}},{"unit":{"unitId":"http://tun.fi/JX.343465#7"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.492"},"municipality":"Maalahti"}},{"unit":{"unitId":"http://tun.fi/JX.343464#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"},"municipality":"Helsinki"}},{"unit":{"unitId":"http://tun.fi/JX.343463#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.363"},"municipality":"Inkoo"}}]}'
  recorded_at: 2026-01-26 05:39:14
recorded_with: VCR-vcr/2.1.0
