http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/openapi-json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"19bf32-etBXtEPyuYTuqk/zjciUVhnEbNE"
    body:
      string: '{"openapi":"3.0.0","paths":{"/forms/{id}/participants":{"get":{"operationId":"FormsController_getParticipants","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Person-Token","required":false,"description":"Person''s
        authentication token. It is required.","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"406":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"422":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"500":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}}},"security":[{"Access
        token":[]},{"Lang":[]},{"Person token":[]}],"summary":"Get participants of
        a form. Only for form admins.","tags":["Forms"]}},"/forms":{"get":{"operationId":"FormsController_getListing","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/form"}},"@context":{"type":"string"}}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"406":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"422":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"500":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}}},"security":[{"Access
        token":[]},{"Lang":[]},{"Person token":[]}],"summary":"Get a page of forms","tags":["Forms"]},"post":{"operationId":"FormsController_create","parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/form"}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"406":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"422":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"500":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}}},"security":[{"Access
        token":[]},{"Lang":[]},{"Person token":[]}],"summary":"Create a new form","tags":["Forms"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/form"}}}}}},"/forms/{id}":{"get":{"operationId":"FormsController_getOne","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"format","required":false,"in":"query","schema":{"default":"schema","type":"string","enum":["schema","json"]}},{"name":"expand","required":false,"in":"query","description":"Expand
        response","schema":{"default":true,"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/form"}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"application/json":{"schema":{"type":"obj[...]
