http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":60339456,"pageSize":1,"total":60339456,"cacheTimestamp":1782992556,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/6a464e84d5de3da682852661#Unit1"},"document":{"loadDate":"2026-07-02"}}]}'
  recorded_at: 2026-07-02 11:42:35
recorded_with: VCR-vcr/2.1.0
