http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":10962993,"pageSize":5,"total":54814965,"cacheTimestamp":1744698473,"results":[{"unit":{"unitId":"http://tun.fi/JX.2261995#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.665"},"municipality":"Parainen"}},{"unit":{"unitId":"http://tun.fi/JX.2261996#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.665"},"municipality":"Parainen"}},{"unit":{"unitId":"http://tun.fi/JX.2261998#18"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.506"},"municipality":"Alajärvi"}},{"unit":{"unitId":"http://tun.fi/JX.2261998#9"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.506"},"municipality":"Alajärvi"}},{"unit":{"unitId":"http://tun.fi/JX.2261998#6"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.506"},"municipality":"Alajärvi"}}]}'
  recorded_at: 2025-04-15 06:27:53 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
