http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":674375,"pageSize":5,"total":3371875,"cacheTimestamp":1772193383,"results":[{"unit":{"unitId":"http://id.herb.oulu.fi/MY.1752633"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"},"municipality":"Tampere"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.1951520"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.593"},"municipality":"Oulu"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.1951523"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.593"},"municipality":"Oulu"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.1951526"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.593"},"municipality":"Oulu"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.1951529"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.593"},"municipality":"Oulu"}}]}'
  recorded_at: 2026-02-27 11:56:23
recorded_with: VCR-vcr/2.1.0
