http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/taxa/search?query=Cygnus+cygnus&matchType=exact&limit=1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1f2-wuRkx3/6QNF0FKdLcmL9n5WHWs8"
    body:
      string: '{"results":[{"matchingName":"Cygnus cygnus","nameType":"MX.scientificName","id":"MX.26280","checklist":"MR.1","scientificName":"Cygnus
        cygnus","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":"Whooper
        Swan","informalGroups":[{"id":"MVL.1","name":"Birds"},{"id":"MVL.1241","name":"Waterbirds"}],"kingdomScientificName":"Animalia","type":"exactMatches"}],"@context":"https://api.laji.fi/context/taxon-search-en"}'
  recorded_at: 2026-03-04 11:08:35
- request:
    method: GET
    uri: https://api.laji.fi/taxa/search?query=not_a_taxa&matchType=exact&limit=1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"48-4fCOoXMN7P34zNtTTen9eg4A7G4"
    body:
      string: '{"results":[],"@context":"http://schema.laji.fi/context/generic.jsonld"}'
  recorded_at: 2026-03-04 11:08:36
recorded_with: VCR-vcr/2.1.0
