http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/taxa/search?query=Plants&matchType=exact&limit=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"169-66hiQSCzozIkkikCUUDQFFYl+ZE"
    body:
      string: '[{"matchingName":"Plants","nameType":"MX.vernacularName","id":"MX.37601","checklist":"MR.1","scientificName":"Plantae","scientificNameAuthorship":"Haeckel","taxonRank":"MX.kingdom","cursiveName":false,"finnish":true,"species":false,"vernacularName":{"en":"Plants","fi":"kasvit","sv":"egentliga
        växter"},"kingdomScientificName":"Plantae","type":"exactMatches"}]'
  recorded_at: 2026-01-27 03:53:28
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/count?taxonId=MX.37601&time=2023%2F2023&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"total":54157}'
  recorded_at: 2026-01-27 03:53:29
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/taxa/search?query=Birds&matchType=exact&limit=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"189-RtQFSh9LSE0Y/e+lutJveBu/hEw"
    body:
      string: '[{"matchingName":"Birds","nameType":"MX.vernacularName","id":"MX.37580","checklist":"MR.1","scientificName":"Aves","taxonRank":"MX.class","cursiveName":false,"finnish":true,"species":false,"vernacularName":{"en":"Birds","fi":"linnut","sv":"fåglar"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","fi":"Linnut","sv":"Fåglar"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2026-01-27 03:53:30
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?target=MX.37580&time=2023%2F2023&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cdocument.collectionId%2Cunit.linkings.taxon.primaryHabitat.habitat[...]
[...]
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/enumeration-labels?access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"results":[{"enumeration":"WGS84","property":"MY.coordinateSystemWgs84","label":{"fi":"WGS84
        ja ETRS89, asteen desimaaleina","en":"WGS84 and ETRS89, decimal degrees","sv":"WGS84
        och ETRS89, decimalgrader"}},{"enumeration":"EUREF","property":"MY.coordinateSystemEtrs-tm35fin","label":{"fi":"ETRS-TM35FIN-tasokoordinaatit","en":"ETRS-TM35FIN
        grid","sv":"ETRS-TM35FIN-plankoordinatsystem"}},{"enumeration":"YKJ","property":"MY.coordinateSystemYkj","label":{"fi":"Yhtenäiskoordinaatisto
        (YKJ)","en":"Uniform grid (YKJ)","sv":"Enhetskoordinatsystemet (E[...]
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.recordQualityEnum?lang=multi&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"227-X4xlY3SOpC79HQ2BulVJUbaL7Ck"
    body:
      string: '[{"id":"MZ.recordQualityExpertVerified","value":{"sv":"Expertkuraterad","en":"Expert
        verified","fi":"Asiantuntijan varmistama"}},{"id":"MZ.recordQualityCommunityVerified","value":{"en":"Community
        verified","fi":"Yhteisön varmistama","sv":"Gemenskapskuraterat"}},{"id":"MZ.recordQualityNeutral","value":{"en":"Unassessed","fi":"Ei
        arvioitu","sv":"Obedömd"}},{"id":"MZ.recordQualityUncertain","value":{"en":"Uncertain","fi":"Epävarma","sv":"Osäker"}},{"id":"MZ.recordQualityErroneous","value":{"fi":"Virheellinen","en":"Erroneous","sv":"Felaktig"}}]'
  recorded_at: 2026-01-27 03:53:36
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-WctH55WxbJ0alNSmFoGO42aJJHU"
    body:
      string: '[{"id":"MZ.secureReasonTaxonConservation","value":{"sv":"Sensitivitet
        av artdata","en":"Sensitivity of biodiversity data","fi":"Lajitiedon sensitiivisyys"}},{"id":"MZ.secureReasonNaturaAreaCon[...]
- request:
    method: GET
    uri: https://apitest.laji.fi/openapi-json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"19c078-PqAmBSkkL+Jd2axbTYnKgDoOOgo"
    body:
      string: '{"openapi":"3.0.0","paths":{"/forms/{id}/participants":{"get":{"operationId":"FormsController_getParticipants","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Person-Token","required":false,"description":"Person''s
        authentication token. It is required.","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"406":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"422":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"500":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}}},"security":[{"Access
        token":[]},{"Lang":[]},{"Person token":[]}],"summary":"Get participants of
        a form. Only for form admins.","tags":["Forms"]}},"/forms":{"get":{"operationId":"FormsController_getListing","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/form"}},"@context":{"type":"string"}}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"localized":{"type":"boolean"}}}}}},"401":{"content":{"applica[...]
