http_interactions:
- request:
    method: get
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":52795118,"pageSize":1,"total":52795118,"cacheTimestamp":1730791677,"results":[{"unit":{"unitId":"http://id.luomus.fi/MY.4854771"},"document":{"loadDate":"2024-11-05"}}]}'
  recorded_at: 2024-11-05 08:38:16 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
