http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":11821039,"pageSize":5,"total":59105195,"cacheTimestamp":1769478843,"results":[{"unit":{"unitId":"http://tun.fi/JX.2399812#9"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.453"}}},{"unit":{"unitId":"http://tun.fi/JX.2399812#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.434"}}},{"unit":{"unitId":"http://tun.fi/JX.2399812#6"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.434"}}},{"unit":{"unitId":"http://tun.fi/KE.176/6977a871d5defb28104be68c#Unit1"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.479"},"municipality":"Mustasaari"}},{"unit":{"unitId":"http://tun.fi/KE.176/69779207d5defb28104be68b#Unit1"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.665"},"municipality":"Parainen"}}]}'
  recorded_at: 2026-01-27 01:54:03
recorded_with: VCR-vcr/2.1.0
