http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":59105195,"pageSize":1,"total":59105195,"cacheTimestamp":1769478889,"results":[{"unit":{"unitId":"http://tun.fi/JX.1200334#103"},"document":{"loadDate":"2026-01-27"}}]}'
  recorded_at: 2026-01-27 01:54:50
recorded_with: VCR-vcr/2.1.0
