http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":3263247,"pageSize":1,"total":3263247,"cacheTimestamp":1730800553,"results":[{"unit":{"unitId":"http://tun.fi/HR.1910/42751_U"},"document":{"loadDate":"2024-11-05"}}]}'
  recorded_at: 2024-11-05 09:55:53 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
