http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":3310347,"pageSize":1,"total":3310347,"cacheTimestamp":1744713073,"results":[{"unit":{"unitId":"http://tun.fi/HR.5766/testID#U"},"document":{"loadDate":"2025-04-15"}}]}'
  recorded_at: 2025-04-15 10:31:13 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
