http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":12067891,"pageSize":5,"total":60339455,"cacheTimestamp":1782992522,"results":[{"unit":{"unitId":"http://id.herb.oulu.fi/MY.10079421"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"},"municipality":"Helsinki"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.10079425"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.390"},"municipality":"Tuusula"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.10079429"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.649"},"municipality":"Pori"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.10079433"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.415"},"municipality":"Vesilahti"}},{"unit":{"unitId":"http://id.herb.oulu.fi/MY.10079437"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.544"},"municipality":"Hämeenlinna"}}]}'
  recorded_at: 2026-07-02 11:42:01
recorded_with: VCR-vcr/2.1.0
