http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":3233041,"pageSize":1,"total":3233041,"cacheTimestamp":1755858021,"results":[{"unit":{"unitId":"http://tun.fi/HR.49/72328/G.95046_AD"},"document":{"loadDate":"2025-08-22"}}]}'
  recorded_at: 2025-08-22 10:20:21
recorded_with: VCR-vcr/2.0.0
