http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate%20DESC&page=1&pageSize=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":3243303,"pageSize":1,"total":3243303,"cacheTimestamp":1724063283,"results":[{"unit":{"unitId":"http://tun.fi/HR.64/339211/G.743867_AD"},"document":{"loadDate":"2024-08-19"}}]}'
  recorded_at: 2024-08-19 10:28:03 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
