http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Plants&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"156-yJsT7jjq9fUV6/prEwIRjGQM0V0"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Plants","nameType":"MX.vernacularName","id":"MX.37601","scientificName":"Plantae","scientificNameAuthorship":"Haeckel","taxonRank":"MX.kingdom","cursiveName":false,"finnish":true,"species":false,"vernacularName":{"fi":"kasvit","sv":"egentliga
        växter","en":"Plants"},"kingdomScientificName":"Plantae","type":"exactMatches"}]'
  recorded_at: 2024-11-06 12:04:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/count?taxonId=MX.37601&time=2023%2F2023&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"total":40497}'
  recorded_at: 2024-11-06 12:04:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/taxa/search?query=Birds&matchType=exact&limit=1&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"176-W7+BtRlWGNpJFQiUDsqicxBD3V4"
    body:
      encoding: ''
      file: no
      string: '[{"matchingName":"Birds","nameType":"MX.vernacularName","id":"MX.37580","scientificName":"Aves","taxonRank":"MX.class","cursiveName":false,"finnish":true,"species":false,"vernacularName":{"fi":"linnut","sv":"fåglar","en":"Birds"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","sv":"Fåglar","fi":"Linnut"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2024-11-06 12:04:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?target=MX.37580&time=2023%2F2023&selected=unit.unitId%2Cgathering.conversions.wgs84CenterPoint.lat%2Cgathering.conversions.wgs84CenterPoint.lon%2Cunit.quality.documentGatheringUnitQualityIssues%2Cunit.interpretations.needsCheck%2Cunit.interpretations.needsIdentification%2Cunit.interpretations.reliability%2Cunit.interpretations.recordQuality%2Cdocument.collectionId%2Cunit.linkings.taxon.primaryHabitat.habitat[...]
[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/enumeration-labels?access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"results":[{"enumeration":"WGS84","property":"MY.coordinateSystemWgs84","label":{"fi":"WGS84
        ja ETRS89, asteen desimaaleina","en":"WGS84 and ETRS89, decimal degrees","sv":"WGS84
        och ETRS89, decimalgrader"}},{"enumeration":"EUREF","property":"MY.coordinateSystemEtrs-tm35fin","label":{"fi":"ETRS-TM35FIN-tasokoordinaatit","en":"ETRS-TM35FIN
        grid","sv":"ETRS-TM35FIN-plankoordinatsystem"}},{"enumeration":"YKJ","property":"MY.coordinateSystemYkj","label":{"fi":"Yhtenäiskoordinaatisto
        (YKJ)","en":"Uniform grid (YKJ)","sv":"Enhetskoordinatsystemet (E[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.recordQualityEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"227-KO4oUYkSoJdHYpYnCh5c+AFWY4Q"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MZ.recordQualityExpertVerified","value":{"fi":"Asiantuntijan
        varmistama","en":"Expert verified","sv":"Expertkuraterad"}},{"id":"MZ.recordQualityCommunityVerified","value":{"en":"Community
        verified","fi":"Yhteisön varmistama","sv":"Gemenskapskuraterat"}},{"id":"MZ.recordQualityNeutral","value":{"en":"Unassessed","fi":"Ei
        arvioitu","sv":"Obedömd"}},{"id":"MZ.recordQualityUncertain","value":{"fi":"Epävarma","en":"Uncertain","sv":"Osäker"}},{"id":"MZ.recordQualityErroneous","value":{"fi":"Virheellinen","en":"Erroneous","sv":"Felaktig"}}]'
  recorded_at: 2024-11-06 12:04:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MZ.secureReason?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"93b-WctH55WxbJ0alNSmFoGO42aJJHU"
    body:
      encoding: ''
      file: no
    [...]
- request:
    method: get
    uri: https://apitest.laji.fi/explorer/swagger.json
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"15287a-H9P4zIJnXKFmXhD6F9CWi0nvBJU"
    body:
      encoding: ''
      file: no
      string: '{"swagger":"2.0","info":{"title":"API documentation","description":"\nAccess
        token is needed to use this API. To get a token, send a POST request with
        your email address to\n/api-users endpoint and one will be send to your. Include
        the token to each request either as access_token\nparameter or Authentication
        header value.\n\nYou can find more documentation [here](https://laji.fi/about/806).\n\nIf
        you have any questions you can contact us at helpdesk@laji.fi.\n\n##Endpoints\n\nObservations
        and collections\n* Wareho[...]
