http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.informalTaxonGroups&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":646609,"pageSize":5,"total":3233041,"cacheTimestamp":1755858006,"results":[{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.1"]}},"unitId":"http://tun.fi/JX.337888#3"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.233","http://tun.fi/MVL.24","http://tun.fi/MVL.61"]}},"unitId":"http://tun.fi/HR.4114/00d37367-bbee-4b28-a0a9-b05f0ade468c_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/666ea910-8e6f-4c26-8e45-a1103f4030bd_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/0e8875f8-bad3-4e96-992e-6e10e8677d2b_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/240e9c6d-fbd8-4b1a-acee-d412dcaff362_U"}}]}'
  recorded_at: 2025-08-22 10:20:06
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.informalTaxonGroups&page=2&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":2,"prevPage":1,"nextPage":3,"lastPage":646609,"pageSize":5,"total":3233041,"cacheTimestamp":1755858007,"results":[{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/6e028937-3443-47eb-8858-1bbdd5667aa0_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/a8a8a808-b099-4f59-877f-355f732aba53_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/d8a80156-bb88-40f3-a4a2-6c2ba5c842e2_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/568a65d3-462b-4343-b8eb-cee6b4642ddd_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/a9fadb82-a2db-43ff-8e80-2db984dc69a1_U"}}]}'
  recorded_at: 2025-08-22 10:20:07
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cunit.linkings.taxon.informalTaxonGroups&page=3&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":3,"prevPage":2,"nextPage":4,"lastPage":646609,"pageSize":5,"total":3233041,"cacheTimestamp":1755858008,"results":[{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/cdc95d96-0558-4dc5-b9cb-fd9db37f65f9_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/038eeb00-dff1-4400-a0e3-471075537546_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/290a1f9a-0141-4bae-9201-c8595b258815_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/5c6babcf-54e5-4cfa-b832-07273769c9e3_U"}},{"unit":{"linkings":{"taxon":{"informalTaxonGroups":["http://tun.fi/MVL.343"]}},"unitId":"http://tun.fi/HR.4114/b921c26a-d424-42cc-b573-17df3cb9a6fe_U"}}]}'
  recorded_at: 2025-08-22 10:20:08
recorded_with: VCR-vcr/2.0.0
