http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":674269,"pageSize":5,"total":3371345,"cacheTimestamp":1769486085,"results":[{"unit":{"unitId":"http://tun.fi/KE.176/697746d0d5de5a7e9c5dd174#Unit1"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.663"},"municipality":"Akaa"}},{"unit":{"unitId":"http://tun.fi/JX.343466#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"},"municipality":"Helsinki"}},{"unit":{"unitId":"http://tun.fi/JX.343465#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.492"},"municipality":"Maalahti"}},{"unit":{"unitId":"http://tun.fi/JX.343465#7"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.492"},"municipality":"Maalahti"}},{"unit":{"unitId":"http://tun.fi/JX.343464#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"},"municipality":"Helsinki"}}]}'
  recorded_at: 2026-01-27 03:54:45
recorded_with: VCR-vcr/2.1.0
