http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":674315,"pageSize":5,"total":3371571,"cacheTimestamp":1770637045,"results":[{"unit":{"unitId":"http://tun.fi/JX.344406#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.655"},"municipality":"Kuopio"}},{"unit":{"unitId":"http://tun.fi/JX.344402#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.536"},"municipality":"Petäjävesi"}},{"unit":{"unitId":"http://tun.fi/JX.344402#8"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.504"},"municipality":"Multia"}},{"unit":{"unitId":"http://tun.fi/JX.344402#5"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.536"},"municipality":"Petäjävesi"}},{"unit":{"unitId":"http://tun.fi/JX.344401#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.538"},"municipality":"Viitasaari"}}]}'
  recorded_at: 2026-02-09 12:25:50
recorded_with: VCR-vcr/2.1.0
