http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":56329960,"pageSize":1,"total":56329960,"cacheTimestamp":1755852508,"results":[{"unit":{"unitId":"http://tun.fi/JX.2330948#3"},"document":{"loadDate":"2025-08-22"}}]}'
  recorded_at: 2025-08-22 08:48:28
recorded_with: VCR-vcr/2.0.0
