http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":646609,"pageSize":5,"total":3233041,"cacheTimestamp":1755858015,"results":[{"unit":{"unitId":"http://tun.fi/JX.337888#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.426"},"municipality":"Taipalsaari"}},{"unit":{"unitId":"http://tun.fi/HR.4114/00d37367-bbee-4b28-a0a9-b05f0ade468c_U"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"}}},{"unit":{"unitId":"http://tun.fi/HR.4114/666ea910-8e6f-4c26-8e45-a1103f4030bd_U"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"}}},{"unit":{"unitId":"http://tun.fi/HR.4114/0e8875f8-bad3-4e96-992e-6e10e8677d2b_U"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"}}},{"unit":{"unitId":"http://tun.fi/HR.4114/240e9c6d-fbd8-4b1a-acee-d412dcaff362_U"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.483"}}}]}'
  recorded_at: 2025-08-22 10:20:15
recorded_with: VCR-vcr/2.0.0
