http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":59337305,"pageSize":1,"total":59337305,"cacheTimestamp":1772622771,"results":[{"unit":{"unitId":"http://tun.fi/JX.2417910#3"},"document":{"loadDate":"2026-03-04"}}]}'
  recorded_at: 2026-03-04 11:12:52
recorded_with: VCR-vcr/2.1.0
