http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":3374409,"pageSize":1,"total":3374409,"cacheTimestamp":1776431746,"results":[{"unit":{"unitId":"http://tun.fi/HR.49/76884_U"},"document":{"loadDate":"2026-04-17"}}]}'
  recorded_at: 2026-04-17 13:15:46
recorded_with: VCR-vcr/2.1.0
