http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/taxa/search?query=Bubo+bubo&matchType=exact&limit=1&personEmail=noreply%40laji.fi
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"21c-BWDFAtkxZaaUXg8XM41/l+yNGQ0"
    body:
      string: '{"results":[{"matchingName":"Bubo bubo","nameType":"MX.scientificName","id":"MX.28965","checklist":"MR.1","scientificName":"Bubo
        bubo","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":"Eurasian
        Eagle-owl","informalGroups":[{"id":"MVL.1","name":"Birds"},{"id":"MVL.1141","name":"Birds
        of prey and owls"},{"id":"MVL.1161","name":"Owls"}],"kingdomScientificName":"Animalia","type":"exactMatches"}],"@context":"https://api.laji.fi/context/taxon-search-en"}'
  recorded_at: 2026-03-04 11:12:16
- request:
    method: GET
    uri: https://api.laji.fi/taxa/search?query=Otter&matchType=exact&limit=1&personEmail=noreply%40laji.fi
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1bd-Y2lPAjW6TDkCRxV2q0v1VFdaN9w"
    body:
      string: '{"results":[{"matchingName":"Otter","nameType":"MX.vernacularName","id":"MX.47169","checklist":"MR.1","scientificName":"Lutra
        lutra","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":"Otter","informalGroups":[{"id":"MVL.2","name":"Mammals"}],"kingdomScientificName":"Animalia","type":"exactMatches"}],"@context":"https://api.laji.fi/context/taxon-search-en"}'
  recorded_at: 2026-03-04 11:12:17
recorded_with: VCR-vcr/2.1.0
