http_interactions:
- request:
    method: GET
    uri: https://api.laji.fi/v0/taxa/search?query=Cygnus+cygnus&matchType=exact&limit=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"22b-laaoYZzLUcVIqPWSpXZ3cGYbbGI"
    body:
      string: '[{"matchingName":"Cygnus cygnus","nameType":"MX.scientificName","id":"MX.26280","checklist":"MR.1","scientificName":"Cygnus
        cygnus","scientificNameAuthorship":"(Linnaeus, 1758)","taxonRank":"MX.species","cursiveName":true,"finnish":true,"species":true,"vernacularName":{"en":"Whooper
        Swan","fi":"laulujoutsen","sv":"sångsvan"},"informalGroups":[{"id":"MVL.1","name":{"en":"Birds","fi":"Linnut","sv":"Fåglar"}},{"id":"MVL.1241","name":{"en":"Waterbirds","fi":"Vesilinnut","sv":"Vattenfåglar"}}],"kingdomScientificName":"Animalia","type":"exactMatches"}]'
  recorded_at: 2026-01-27 01:49:42
- request:
    method: GET
    uri: https://api.laji.fi/v0/taxa/search?query=not_a_taxa&matchType=exact&limit=1&access_token=<finbif_token>
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      string: '[]'
  recorded_at: 2026-01-27 01:49:43
recorded_with: VCR-vcr/2.1.0
