http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/query/unit/list?selected=unit.unitId%2Cgathering.interpretations.finnishMunicipality%2Cgathering.municipality&page=1&pageSize=5&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"nextPage":2,"lastPage":662070,"pageSize":5,"total":3310347,"cacheTimestamp":1744713070,"results":[{"unit":{"unitId":"http://tun.fi/JX.335949#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.424"},"municipality":"Mikkeli"}},{"unit":{"unitId":"http://tun.fi/JX.335948#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.660"}}},{"unit":{"unitId":"http://tun.fi/JX.335947#3"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"},"municipality":"Tampere"}},{"unit":{"unitId":"http://tun.fi/JX.335947#5"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"},"municipality":"Tampere"}},{"unit":{"unitId":"http://tun.fi/JX.335947#7"},"gathering":{"interpretations":{"finnishMunicipality":"http://tun.fi/ML.541"},"municipality":"Tampere"}}]}'
  recorded_at: 2025-04-15 10:31:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
