http_interactions:
- request:
    method: GET
    uri: https://apitest.laji.fi/warehouse/query/unit/list?selected=unit.unitId%2Cdocument.loadDate&orderBy=document.loadDate+DESC&page=1&pageSize=1
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"currentPage":1,"nextPage":2,"lastPage":3389523,"pageSize":1,"total":3389523,"cacheTimestamp":1774355329,"results":[{"unit":{"unitId":"http://tun.fi/JX.130728#100"},"document":{"loadDate":"2026-03-24"}}]}'
  recorded_at: 2026-03-24 13:28:11
recorded_with: VCR-vcr/2.1.0
