http_interactions:
- request:
    method: get
    uri: https://apitest.laji.fi/v0/sources?lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1a34-xeBf08TzDJKrvzULoaAPKtZLFsM"
    body:
      encoding: ''
      file: no
      string: '{"currentPage":1,"pageSize":1000,"total":43,"results":[{"id":"KE.3","name":{"xml:lang":"en","content":"Kotka","en":"Kotka","fi":"","sv":""},"description":{"xml:lang":"en","content":"Collection
        management system","en":"Collection management system","fi":"","sv":""}},{"id":"KE.7","name":{"en":"Hatikka
        (vanha)","fi":"Hatikka (vanha)","sv":"Hatikka (vanha)"},"description":{"en":"Observation
        system","fi":"Observation system","sv":"Observation system"}},{"id":"KE.8","name":{"en":"Hatikka
        (new)","fi":"Hatikka (new)","sv":"Hatikka (new)"},"description":{"xml:lang":"en","content":"Fieldjournal.org.
        Observation syste[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.adminStatusEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1025a-uNWCoQ655WtvZ9IXzNFr2N2yKLc"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.finlex160_1997_appendix4_2021","value":{"sv":"Hotade arter
        (NVF 2023/1066, bilaga 6)","fi":"Uhanalaiset lajit (LSA 2023/1066, liite 6)","en":"Threatened
        species (NCD 2023/1066, Appendix 6)"},"administrativeStatusDescription":{"sv":"Genom
        förordning kan stadgas att en sådan vild art vars naturliga fortlevnad i Finland
        är i fara förklaras hotad.","fi":"Luonnonsuojeluasetuksella voidaan säätää
        uhanalaiseksi lajiksi sellainen luonnonvarainen eliölaji, jonka luontainen
        säilyminen Suomessa on vaarantunut.","en":"The Nature Conservation Decree
        can regulate a wild species whose natural survival in Finland has been endangered
        as an endangered species."},"administrativeStatusLink":{"sv":"https://www.finlex.fi/sv/laki/ajantasa/2023/20231066","fi":"https://www.finlex.fi/fi/laki/ajantasa/2023/20231066","en":""}},{"id":"MX.finlex160_1997_appendix4_specialInterest_2021","value":{"fi":"Erityisesti
        suojeltavat lajit (LSA 2023/1066, liite 6)","sv":"Särskilt skydda arter (NVF
        2023/1066, bilaga 6)","en":"Species under strict protection (NCD 2023/1066,
        Appendix 6)"},"administrativeStatusDescription":{"fi":"Valtioneuvoston asetuksella
        voidaan säätää er[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.taxonRankEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1393-89dRiz2ZuB6vwcU5klsWxCDrcbE"
    body:
      encoding: ''
      file: no
  [...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?areaType=ML.country&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ba39-1WiVH1FiC4nAO0AeNs+JcLFxPUA"
    body:
      encoding: ''
      file: no
      string: '{"total":249,"results":[{"areaType":"ML.country","countryCodeISOalpha2":"AF","countryCodeISOalpha3":"AFG","countryCodeISOnumeric":"004","name":{"fi":"Afganistan","sv":"Afghanistan","en":"Afghanistan"},"id":"ML.1"},{"areaType":"ML.country","countryCodeISOalpha2":"AI","countryCodeISOalpha3":"AIA","countryCodeISOnumeric":"660","name":{"fi":"Anguilla","sv":"Anguilla","en":"Anguilla"},"id":"ML.10"},{"areaType":"ML.country","countryCodeISOalpha2":"CN","countryCodeISOalpha3":"CHN","countryCodeISOnumeric":"156","name":{"fi":"Kiina","sv":"China","en":"China"},"id":"ML.100"},{"areaType":"ML.country","countryCodeISOalpha2":"KG","coun[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?areaType=ML.province&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ab9-46GZ+K5MRY4NG2JzXUvd+8pRATA"
    body:
      encoding: ''
      file: no
      string: '{"total":19,"results":[{"areaType":"ML.province","name":{"fi":"Uusimaa","sv":"Nyland","en":"Uusimaa"},"provinceCodeNumeric":"01","id":"ML.1227"},{"areaType":"ML.province","name":{"fi":"Varsinais-Suomi","sv":"Egentliga
        Finland","en":"Southwest Finland"},"provinceCodeNumeric":"02","id":"ML.1228"},{"areaType":"ML.province","name":{"fi":"Satakunta","sv":"Satakunta","en":"Satakunta"},"provinceCodeNumeric":"04","id":"ML.1229"},{"areaType":"ML.province","name":{"fi":"Kanta-Häme","sv":"Egentliga
        Tavastland","en":"Kanta-Häme"},"provinceCodeNumeric":"05","id":"ML.1230"},{"areaType":"ML.province","name":{"fi":"P[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?areaType=ML.biogeographicalProvince&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"12ae-tfcM7dacfHpTYjRFxEk89HhcXuo"
    body:
      encoding: ''
      file: no
      string: '{"total":21,"results":[{"areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"fi":"Ahvenanmaa","sv":"Åland","en":"Åland"},"provinceCodeAlpha":{"fi":"A","sv":"A","en":"A"},"provinceCodeNumeric":"1","id":"ML.251"},{"areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"fi":"Varsinais-Suomi","sv":"Varsinais-Suomi","en":"Varsinais-Suomi"},"provinceCodeAlpha":{"fi":"V","sv":"V","en":"V"},"provinceCodeNumeric":"2","id":"ML.252"},{"areaType":"ML.biogeographicalProvince","isPartOf":"ML.206","name":{"fi":"Uusimaa","sv":"Uusimaa","en":"Uusimaa"},"provinceCodeAlpha":{"fi":"U","sv":"U","en":"U"},"provinceCodeNumeric":"3","id":"ML.25[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/areas?areaType=ML.birdAssociationArea&lang=multi&pageSize=1000&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1c41-706H2zAM4JW+QJEt74jl2ZYu8wY"
    body:
      encoding: ''
      file: no
      string: '{"total":29,"results":[{"areaType":"ML.birdAssociationArea","name":{"fi":"Ålands
        Fågelskyddsförening r.f.","sv":"Ålands Fågelskyddsförening r.f.","en":"Ålands
        Fågelskyddsförening r.f."},"ringingDepartmentBirdAssociationAreaCode":"1","id":"ML.1088"},{"areaType":"ML.birdAssociationArea","name":{"fi":"Turun
        Lintutieteellinen Yhdistys ry","sv":"Turun Lintutieteellinen Yhdistys ry","en":"Turun
        Lintutieteellinen Yhdistys ry"},"ringingDepartmentBirdAssociationAreaCode":"11","id":"ML.1089"},{"areaType":"ML.birdAssociationArea","name":{"fi":"Porin
        Lintutieteellinen Yhdistys ry","sv":"Porin Lintutieteellinen Yhdistys ry","en":"Porin
        Lintutieteellinen Yhdistys ry"},"ringingDepartmentBirdAssociationA[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.typeOfOccurrenceEnum?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1be0-CuC4LQorE/2DJVCk+hOJDy218Q4"
    body:
      encoding: ''
      file[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/warehouse/enumeration-labels?access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"results":[{"enumeration":"WGS84","property":"MY.coordinateSystemWgs84","label":{"fi":"WGS84
        ja ETRS89, asteen desimaaleina","en":"WGS84 and ETRS89, decimal degrees","sv":"WGS84
        och ETRS89, decimalgrader"}},{"enumeration":"EUREF","property":"MY.coordinateSystemEtrs-tm35fin","label":{"fi":"ETRS-TM35FIN-tasokoordinaatit","en":"ETRS-TM35FIN
        grid","sv":"ETRS-TM35FIN-plankoordinatsystem"}},{"enumeration":"YKJ","property":"MY.coordinateSystemYkj","label":{"fi":"Yhtenäiskoordinaatisto
        (YKJ)","en":"Uniform grid (YKJ)","sv":"Enhetskoordinatsystemet (E[...]
- request:
    method: get
    uri: https://apitest.laji.fi/v0/metadata/ranges/MX.secureLevels?lang=multi&access_token=<finbif_token>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"379-2Bu2UDa2fYeoFW0eLiHxmfHBt4E"
    body:
      encoding: ''
      file: no
      string: '[{"id":"MX.secureLevelNone","value":{"en":"None","sv":"Inte skyddad","fi":"Ei
        karkeistettu"}},{"id":"MX.secureLevelKM1","value":{"en":"1 km","sv":"1 km","fi":"1
        km"}},{"id":"MX.secureLevelKM5","value":{"fi":"5 km","sv":"5 km","en":"5 km"}},{"id":"MX.secureLevelKM10","value":{"en":"10
        km","sv":"10 km","fi":"10 km"}},{"id":"MX.secureLevelKM25","value":{"fi":"25
        km","sv":"25 km","en":"25 km"}},{"id":"MX.secureLevelKM50","value":{"en":"50
        km","fi":"50 km","sv":"50 km"}},{"id":"MX.secureLevelKM100","value":{"en":"100
        km","sv":"100 km","fi":"100 km"}},{"id":"MX.secureLevelHighest","value":{"fi":"Täyssalaus","en":"Fully
        hidden","sv":"Helt dold"}},{"id":"MX.secureLevelNoShow","value":{"fi":"Ei
        näytetä ollenkaan - käytetään lähinnä spammin estämiseksi","sv":"Visas inte
        alls - används huvudsakligen att stoppa skräppost","en":"Not shown at all
        - used mainly to prevent spam"}}]'
  recorded_at: 2024-09-24 12:08:41 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
