body {
  padding-top: 50px;
}

.page-header, .template-home .page-header {
  min-height: 135px;
}

.navbar-nav .nav-item > .nav-link {
  padding: 1rem;
}

.navbar-dark .navbar-nav .active > .nav-link {
  background-color: #55AAE2;
}

.ref-description img {
  display: none;
}

.sourceCode {
  font-size: 87%;
}

.navbar-dark input[type="search"] {
  background-color: #55AAE2;
  padding-left: 0.5rem;
}

.text-muted {
  text-shadow: 1px 1px 3px #000;
}

[data-bs-theme="dark"] {
  --bs-secondary-color: #B9BBB9BF
}
